/* =========================
   common
========================= */
:root {
  --key-color: #D022F1;
  --key-mozip: #565E71;
}

.ml0 {margin-left: 0 !important;}
.ml20 {margin-left:20px !important;}
.bl-0 {border-left: 0px !important;}
.first-wrap {margin-top:-20px;position: relative; overflow: hidden;}
.first-wrap *[class^="cont0"] {padding:130px 0;text-align:center}
.first-wrap *[class^="cont0"] h3 {margin-bottom:80px}
.inner {position:relative;width:1200px;margin:0 auto;box-sizing:border-box;height:100%;}
.r-txt {text-align:right;font-size:14px;color:#aaa;margin-top:20px;}
.underline {text-decoration:underline;}
.tit_num {margin-bottom:24px;}



/* =========================
   Visual
========================= */
.visual-wrap {background:#111514 url("https://russeldata.megastudy.net/campus/images/russel/intro/2025/first_overall/v_bg01.jpg") no-repeat 0 0;background-position:center bottom;position:relative;height:919px;}

.visual-area {position:absolute;top:0;left:0;width:100%;height:100%;}
.visual-area .inner {position:relative;text-align:center;}
.visual-area .v-txt {position: absolute;}
.visual-area .txt01 {animation:fadeIn 1.5s 1s both;top: 120px;left: 117px;}
.visual-area .txt02 {animation:fadeIn 1.5s 1s both;top:207px;left: 117px;}
.visual-area .txt03 {top: 294px;left: 117px;}
.visual-area .txt04 {animation:fadeIn 1.5s 1s both;top: 627px;left: 117px;}
.visual-area .txt04 p {color: #c1c1c1;font-size: 24px;letter-spacing: -0.5px;text-align: left;}
.visual-area .txt04 p strong {color: #fff;font-weight: 700;}
.visual-area .v-obj {position: absolute;animation:fadeIn 1.5s 1s both;top: 0px;left: 200px;}

.first-wrap .visual-area .v-info {z-index: 5;display:flex;animation:fadeIn ease 1s 2s both;flex-wrap:wrap;position:relative;position: absolute;top: 760px;left: 117px;width: 100%;}
.first-wrap .visual-area .v-info dl {display:flex;align-items:flex-start; color: #fff;margin-bottom:16px;}
.first-wrap .visual-area .v-info dl dt {width:105px;height:34px;display:flex;align-items:center;justify-content:center;font-size:18px;color: #fff;background-color:var(--key-color);border-radius:20px; font-weight:500;}
.first-wrap .visual-area .v-info dl dd {padding-top:2px;margin-left:15px;text-align:left;color: #fff;font-size:20px;font-weight:500; }
.first-wrap .visual-area .v-info dl dd strong {font-weight:700;}
.first-wrap .visual-area .v-info div:not(:first-of-type) {margin-left: 120px;}
.first-wrap .visual-area .v-info .stxt {z-index: 2;color: #a3a3a3;text-align:center;font-size:14px;letter-spacing:-0.5px;text-align:left;animation:fadeIn ease 1s 2s both;}

.first-wrap .visual-area .ico-end {animation:fadeIn ease 1s 3s both;}
.slide-right {animation:slide-right .8s 1s cubic-bezier(.25,.46,.45,.94) both}

/* fixmenu */
.first-wrap .fix-menu {z-index:4;position:absolute;display:flex;justify-content:center;align-items:center;width:100%;box-sizing:border-box;background:#212121;}
.first-wrap .fix-menu.fix {z-index:3;position:fixed;top:100px;left:0}
.first-wrap .fix-menu.fix.fix-top{top:0 !important; }
.first-wrap .fix-menu .menu {display:flex;justify-content:center;align-items:center;width:1200px;position:relative}
.first-wrap .fix-menu .menu a {height:70px; line-height: 1.3; color:#939393;background: #3A4241;font-size:20px;font-weight:700;text-decoration:none;outline:none;flex:1;display:flex;align-items:center;justify-content:center;flex-direction:column;text-align:center;letter-spacing:-0.4px;}
.first-wrap .fix-menu .menu a:not(:last-of-type) {border-right:1px solid #6C6D6F;}
.first-wrap .fix-menu .menu a.on{color:#fff;background-color:var(--key-color);border-left:none}
.first-wrap .fix-menu .menu a.on + a {border-left:none}
.first-wrap .fix-menu .menu a strong {display:block}


/* quick banner */
.first-wrap *[class^="quick"] {position:absolute;top:50%;right:0;z-index:5;transform:translateY(-50%);animation:fadeIn 1s 2s both;}
.first-wrap .quick {width:180px;}
.first-wrap .quick .b-tit {padding:11px 0;text-align: center; color:#fff;font-size:14px;font-weight:700;letter-spacing:-1px;background:linear-gradient(56deg, #046A86 , #0CC8B2);}
.first-wrap .quick a {display: block;}
.first-wrap .quick .q-ban {position:relative;width:180px;padding:17px 15px;text-decoration:none;color:#111;font-weight:700;background-color:#fff;box-sizing:border-box;border-left: 2px solid #046A86;border-bottom:1px solid #DBDBDB}
.first-wrap .quick .q-ban span {display:inline-block;color:#116154;font-size:14px;letter-spacing: -1px;line-height:1.2;font-weight:400}
.first-wrap .quick .q-ban span.bold {font-weight:700;}
.first-wrap .quick .q-ban span strong {font-size:16px;}
.first-wrap .quick .q-ban strong {position:relative;display:block;margin-top:6px;color:#111;font-size:16px;font-weight:700;line-height:1.2;letter-spacing: -1px}
.first-wrap .quick .q-ban strong:after {content:'';position:absolute;top:55%;right:-2px;transform:translateY(-50%) rotate(45deg);width:8px;height:8px;border-right:1px solid #555;border-top:1px solid #555}



/* =========================
   Contents
========================= */

/*special pages*/
.s-page {background: #f6f6f6;text-align: center;padding: 190px 0 130px;}
.s-page .s-tit {color: #000;font-size: 58px;font-weight: 800;margin-bottom: 80px;}
.s-page .s-tit span {color: #D022F1;}

.s-page > div {position: relative;width: 100%;height: fit-content;margin: 0 auto;display: flex;justify-content: center;align-items: center;}
.s-page > div img:nth-of-type(1) {display: flex;justify-content: center;align-items: center;}
.s-page > div img:nth-of-type(2) {position: absolute;top: 332px;left: 440px;}
.s-page > div img:nth-of-type(3) {position: absolute;top: 332px;right: 440px;}
.s-page > div .shdw:nth-of-type(1) {width: 406px;height: 170px;position: absolute;top: 295px;left: 343px;filter: opacity(0.5);border-radius: 20px;background: #ffffff;}
.s-page > div .shdw:nth-of-type(2) {width: 406px;height: 170px;position: absolute;top: 295px;right: 343px;filter: opacity(0.5);border-radius: 20px;background: #ffffff;}



/* ------------------ cont00 ------------------ */
.first-wrap .cont00 {padding: 70px 0 140px;}

.cont00 h3.tit {margin-bottom:50px !important;color:#010101;}
.cont00 h3.tit > strong {color:var(--key-color);}
.tbl-plan.type02 td a::after {background:url("https://russeldata.megastudy.net/campus/images/russel/common/icon/ico_btn_arrow.png") no-repeat 0 0;width: 6px;height: 10px;border-top: 0;border-right: 0;transform: unset;margin-left: 10px;}
.a-process > li .flag {background-color: var(--key-color);}
.first-wrap .cont00 .tbl-plan > thead th.on {background: var(--key-color);}

.first-wrap .tab-cont-wrap .bt-tab.type02 a.on {background: var(--key-color);}


/* 추후 공개 */
.first-wrap .coming-box {padding:90px 0 !important;width:1200px}
.first-wrap .coming-box > div {display:flex;justify-content:center;align-items:center;}
.first-wrap .coming-box .coming-txt {padding-left:48px;color:#8E97AB;font-size:28px;font-weight:700;line-height:40px;text-align:left;letter-spacing:-0.8px}
.first-wrap .coming-box .coming-txt strong {color:var(--key-mozip);font-weight:700;}
.first-wrap .cont00 .coming-box {background-color:#EEE;border-radius: 15px;}
.first-wrap .coming-box .sms-txt{color: #333; text-align: center; font-size: 24px;font-weight: 500; letter-spacing: -1.2px;margin-top: 48px;}
.first-wrap .coming-box .btn-black{padding: 0 70px; height: 64px; line-height: 64px; margin-top: 30px;}



/* 데이터 산출 기준 */
.info-stxt {position:absolute;bottom: -35px;right: 0;width: fit-content;}
.info-stxt span {position:relative;cursor:pointer;font-size:14px;color:#543E6D;display:flex;justify-content: right;}
.info-stxt .info-color {cursor:initial;}
.info-stxt span img {margin: 3px 0 0 5px;}
.info-stxt .data-view {z-index: 1; display:none;position:absolute;top:30px;right:0; width:auto!important;padding:15px 20px;background:#fff;box-shadow:0 3px 2px rgba(0,0,0,.05); text-align: left;line-height: 1.5;font-size: 12px;color:#AAA;white-space: nowrap;}
.info-stxt:hover .data-view  {display: block;}




/* ------------------ cont01 ------------------ */
.cont01 {background:url("https://russeldata.megastudy.net/campus/images/russel/intro/2025/first_overall/cont01_bg02.jpg") no-repeat 0 0;background-size:cover;background-position:center;}


/* 입결 스타일 복붙으로 가져올때 필요한 스타일 세트와 학원별 하나씩 가져다 쓰면됩니다.*/
/* 전체스타일공통 */
.cont01 .result-box {background: rgba(20, 15, 25, 40%);background-blend-mode: multiply;backdrop-filter: blur(15px); border-radius: 30px;margin-top: 80px;padding: 100px;display: flex;justify-content: space-between;}

/* 스타일3 세트(강남/통으로 복붙) */
.cont01 .result-box.style03{position: relative;display: block; padding: 90px 85px 112px 85px; }
.cont01 .result-box.style03 .style03-inner{position: relative; margin-top: 50px;}
.cont01 .result-box.style03 .num-list{display: flex; flex-wrap: wrap; justify-content: center; align-items: center; gap:40px;}
.cont01 .result-box.style03 .num-list > li{position: relative; display: flex; justify-content: center; align-items: center; flex-direction: column; width: 298px; height: 126px;}
.cont01 .result-box.style03 .num-list > li::before {content:'';position:absolute;top:5px;left:0;width:55px;height:103px;display:block;background:url("https://russeldata.megastudy.net/campus/images/russel/intro/2025/first/ico_leaf_left03.png") no-repeat;}
.cont01 .result-box.style03 .num-list > li::after {content:'';position:absolute;top:5px;right:0;width:55px;height:103px;display:block;background:url("https://russeldata.megastudy.net/campus/images/russel/intro/2025/first/ico_leaf_right03.png") no-repeat;}
.cont01 .result-box.style03 .num-list > li > p {font-size:22px;font-weight:700;line-height:32px;letter-spacing:-1px;color:#fff;}
.cont01 .result-box.style03 .num-list > li > p > strong {color:#FFD699;font-weight:700}
.cont01 .result-box.style03 .num-list > li:nth-of-type(2){width: 313px;}

/*스타일3 하단3컬럼 */
.cont01 .result-box.style03 .num-bottom {display:flex;justify-content:center; gap: 40px; width: 988px; margin: 23px auto 0 auto;}
.cont01 .result-box.style03 .num-bottom > div{width: 33.33%;}
.cont01 .result-box.style03 .num-bottom .first-list {display:flex;flex-direction:column; align-items: center;}
.cont01 .result-box.style03 .num-bottom .first-list > li {display:flex;justify-content:space-between;align-items:center;margin-bottom:8px;width:228px;height:46px;}
.cont01 .result-box.style03 .num-bottom .first-list > li > .stu-num {margin:0;padding-right:8px;font-size:17px;font-weight:700;line-height:24px;letter-spacing:-0.8px;color:#fff;}
.cont01 .result-box.style03 .num-bottom .first-list > li:last-of-type {margin-bottom:0}

/* 스타일3 실버 잎 w28 h51 */
.cont01 .result-box.style03 .num-bottom .second-list.silver {display:flex;flex-direction:column; width: 180px; margin:0 auto;}
.cont01 .result-box.style03 .num-bottom .second-list.silver > li {position: relative; display:flex;justify-content:space-between;align-items:center;width:100%;height:51px;}
.cont01 .result-box.style03 .num-bottom .second-list.silver > li:not(:first-of-type) {margin-left:0;margin-top:16px}
.cont01 .result-box.style03 .num-bottom .second-list.silver > li::before {content:'';top:0;left:0;width:28px;height:51px;display:block;background:url("https://russeldata.megastudy.net/campus/images/russel/intro/2025/first/ico_s_leaf_left02.png") no-repeat;}
.cont01 .result-box.style03 .num-bottom .second-list.silver > li::after {content:'';top:0;right:0;width:28px;height:51px;display:block;background:url("https://russeldata.megastudy.net/campus/images/russel/intro/2025/first/ico_s_leaf_right02.png") no-repeat;}
.cont01 .result-box.style03 .num-bottom .second-list.silver > li > p {font-size:17px;font-weight:700;line-height:24px;letter-spacing:-1px;color:#fff;}
.cont01 .result-box.style03 .num-bottom .second-list.silver > li > p > strong {color:#FFD699;font-weight:700}

.cont01 .result-box.style03 .num-bottom .third-list.silver {display:flex;flex-direction:column; width: 196px; margin:0 auto;}
.cont01 .result-box.style03 .num-bottom .third-list.silver > li {position: relative; display:flex;justify-content:space-between;align-items:center;width:100%;height:51px;}
.cont01 .result-box.style03 .num-bottom .third-list.silver > li > p {font-size:17px;font-weight:700;line-height:24px;letter-spacing:-1px;color:#fff;}
.cont01 .result-box.style03 .num-bottom .third-list.silver > li > p > strong {color:#FFD699;font-weight:700}
.cont01 .result-box.style03 .num-bottom .third-list.silver > li::before {content:'';top:0;left:0;width:28px;height:51px;display:block;background:url("https://russeldata.megastudy.net/campus/images/russel/intro/2025/first/ico_s_leaf_left02.png") no-repeat;}
.cont01 .result-box.style03 .num-bottom .third-list.silver > li::after {content:'';top:0;right:0;width:28px;height:51px;display:block;background:url("https://russeldata.megastudy.net/campus/images/russel/intro/2025/first/ico_s_leaf_right02.png") no-repeat;}
.cont01 .result-box.style03 .info-txt {padding:8px 0 31px;color:#ccfdff;font-size:13px;line-height:1.5;letter-spacing: -0.65px;}

/* 스타일2 세트 (일반형)*/
.cont01 .result-box.style02 .stit {color: #fff;font-size: 36px;font-weight: 700;letter-spacing: -0.5px;margin-top: 50px;}
.cont01 .result-box.style02 .stit span {color: #f4c994;}
.cont01 .result-box.style02 .style02-inner{margin-top: 70px;}
.cont01 .result-box.style02 .style02-inner .num-list > li > .stu-tit {font-size:24px;font-weight:400;line-height:1.2;letter-spacing:-1px;color:#fff;}
.cont01 .result-box.style02 .style02-inner .num-list > li > .stu-tit span {font-size:18px;font-weight:400;letter-spacing: -0.72px;}
.cont01 .result-box.style02 .style02-inner .num-list > li > .stu-tit strong {font-weight: 700;color:#fff;}
.cont01 .result-box.style02 .style02-inner .num-list > li > p i {position:absolute;margin-left:2px;color:#B5B5B5;font-size:14px;font-weight:400;font-style:normal;letter-spacing:-0.6px}
.cont01 .result-box.style02 .style02-inner .num-list > li > .stu-num strong {color:#ffd699;font-size:48px;font-weight:700;line-height:1.2;letter-spacing:-1px;}
.cont01 .result-box.style02 .style02-inner .num-list > li > .stu-num span{color: #fff;font-size: 28px;font-weight: 400;letter-spacing: -1.2px;}
.cont01 .result-box.style02 .style02-inner .num-list .txt{position: absolute; top: 90px; left: 50%; transform: translateX(-50%); color: #E9CCFF; font-size: 14px; letter-spacing: -0.56px;width: 200px; line-height: 1.1; }

/* w68 h126 */
.result-box .num-list.tp05 {display: flex; justify-content: center; align-items: center; gap: 20px;}
.result-box .num-list.tp05 > li {display: flex; flex-direction: column; justify-content: center; align-items: center; position: relative; margin:0 68px; width: auto;}
.result-box .num-list.tp05 > li::before {content:'';position:absolute;top:50%;left:-68px;transform: translateY(-50%); width:68px;height:116px;display:block;background:url("https://russeldata.megastudy.net/campus/images/russel/intro/2024/winter/ico_leaf_left02.png") no-repeat;}
.result-box .num-list.tp05 > li::after {content:'';position:absolute;top:50%;right:-68px;transform: translateY(-50%); width: 68px;height:116px;display:block;background:url("https://russeldata.megastudy.net/campus/images/russel/intro/2024/winter/ico_leaf_right02.png") no-repeat;}

/* w54 h101 */
.cont01 .result-box .num-list.tp06 {display: flex; justify-content: center; align-items: center; gap: 20px;}
.cont01 .result-box .num-list.tp06 > li {display: flex; flex-direction: column; justify-content: center; align-items: center; position: relative; margin:0 54px; width: auto;}
.cont01 .result-box .num-list.tp06 > li::before {content:'';position:absolute;top:50%;left:-54px;transform: translateY(-50%); width:54px;height:101px;display:block;background:url("https://russeldata.megastudy.net/campus/images/russel/intro/2025/first/ico_leaf_left04.png") no-repeat;}
.cont01 .result-box .num-list.tp06 > li::after {content:'';position:absolute;top:50%;right:-54px;transform: translateY(-50%); width: 54px;height:101px;display:block;background:url("https://russeldata.megastudy.net/campus/images/russel/intro/2025/first/ico_leaf_right04.png") no-repeat;}

/* w54 h99 */
.result-box .num-list.tp07 {display: flex; justify-content: center; align-items: center; gap: 18px;}
.result-box .num-list.tp07 > li {display: flex; flex-direction: column; justify-content: center; align-items: center; position: relative; margin:0 54px; width: auto;}
.result-box .num-list.tp07 > li::before {content:'';position:absolute;top:50%;left:-54px;transform: translateY(-50%); width:54px;height:99px;display:block;background:url("https://russeldata.megastudy.net/campus/images/russel/intro/2025/first/ico_leaf_left05.png") no-repeat;}
.result-box .num-list.tp07 > li::after {content:'';position:absolute;top:50%;right:-54px;transform: translateY(-50%); width: 54px;height:99px;display:block;background:url("https://russeldata.megastudy.net/campus/images/russel/intro/2025/first/ico_leaf_right05.png") no-repeat;}

/* w54 h99 실버잎 */
.result-box .num-list.tp08 {display: flex; justify-content: center; align-items: center; gap: 18px;}
.result-box .num-list.tp08 > li {display: flex; flex-direction: column; justify-content: center; align-items: center; position: relative; margin:0 54px; width: auto;}
.result-box .num-list.tp08 > li::before {content:'';position:absolute;top:50%;left:-54px;transform: translateY(-50%); width:54px;height:99px;display:block;background:url("https://russeldata.megastudy.net/campus/images/russel/intro/2025/first/ico_s_leaf_left03.png") no-repeat;}
.result-box .num-list.tp08 > li::after {content:'';position:absolute;top:50%;right:-54px;transform: translateY(-50%); width: 54px;height:99px;display:block;background:url("https://russeldata.megastudy.net/campus/images/russel/intro/2025/first/ico_s_leaf_right03.png") no-repeat;}

/* w46 h64 실버잎 */
.result-box .num-list.tp09 {display: flex; justify-content: center; align-items: center; gap: 15px;}
.result-box .num-list.tp09 > li {display: flex; flex-direction: column; justify-content: center; align-items: center; position: relative; margin:0 46px; width: auto;}
.result-box .num-list.tp09 > li::before {content:'';position:absolute;top:50%;left:-46px;transform: translateY(-50%); width:38px;height:65px;display:block;background:url("https://russeldata.megastudy.net/campus/images/russel/intro/2025/first/ico_s_leaf_left.png") no-repeat;}
.result-box .num-list.tp09 > li::after {content:'';position:absolute;top:50%;right:-46px;transform: translateY(-50%); width: 38px;height:65px;display:block;background:url("https://russeldata.megastudy.net/campus/images/russel/intro/2025/first/ico_s_leaf_right.png") no-repeat;}



/* 스타일2 학원별(광주) */
.core_gj .cont01 .result-box.style02 {display: block;}
.core_gj .result-box.style02{padding: 80px 85px 116px 85px;}
.core_gj .result-box.style02 .style02-inner{margin-top: 70px;}
.core_gj .result-box.style02 .style02-inner .num-list.tp05 {gap: 40px;}
.core_gj .result-box.style02 .style02-inner .num-list.tp05 > li{ min-width: 80px; padding: 0 15px;}

.core_gj .result-box .num-list.tp05 > li::before {background:url("https://russeldata.megastudy.net/campus/images/russel/intro/2024/winter/ico_leaf_left02_gold.png") no-repeat;}
.core_gj .result-box .num-list.tp05 > li::after {background:url("https://russeldata.megastudy.net/campus/images/russel/intro/2024/winter/ico_leaf_right02_gold.png") no-repeat;}
.core_gj .result-box .num-list.tp05 > li {width: 116px;}


/* 스타일2 학원별(대전) */
.core_dj .cont01 .result-box.style02 {display: block;}
.core_dj .result-box.style02{padding: 85px 85px 112px 85px;}
.core_dj .result-box.style02 .style02-inner{margin-top: 0;}
.core_dj .result-box.style02 .style02-inner .num-list.tp09 > li{ min-width: 110px; padding: 0 3px;}
.core_dj .result-box.style02 .style02-inner .num-list.tp09 .stu-tit{display: inline-block; font-size: 15px; color: #222; font-weight: 400;letter-spacing: -0.6px;color:#fff;}
.core_dj .result-box.style02 .style02-inner .num-list.tp09 .stu-num span{display: inline-block; font-size: 15px; color: #222; font-weight: 400;letter-spacing: -0.6px;color:#fff;}
.core_dj .result-box.style02 .style02-inner .num-list.tp09 .stu-num strong{display: inline-block; font-size: 15px; color: #ffd699; font-weight: 400;letter-spacing: -0.6px;}
.core_dj .result-box.style02 .style02-inner .num-list.tp05{gap: 40px;}
.core_dj .result-box.style02 .style02-inner .num-list.tp05 > li{ min-width: 110px; padding: 0 15px;}
.core_dj .result-box.style02 .style02-inner .num-list.tp05 .stu-tit{display: inline-block; font-size: 24px; color: #222; font-weight: 400;letter-spacing: -0.96px;color:#fff;}
.core_dj .result-box.style02 .style02-inner .num-list.tp05 .stu-num span{display: inline-block; font-size: 28px; color: #fff; font-weight: 400;letter-spacing: -1.4px;color:#fff;}
.result-box .num-list.tp05 > li::before {background:url("https://russeldata.megastudy.net/campus/images/russel/intro/2024/winter/ico_leaf_left02_gold.png") no-repeat;}
.result-box .num-list.tp05 > li::after {background:url("https://russeldata.megastudy.net/campus/images/russel/intro/2024/winter/ico_leaf_right02_gold.png") no-repeat;}

/* 스타일2 학원별(영통) */
.russel_yt .cont01 .result-box.style02 {display: block;padding: 100px 100px 142px;}
.russel_yt .result-box.style02 .style02-inner{margin-top: 80px;}
.russel_yt .result-box.style02 .style02-inner .num-list > li{width: 135px; padding: 0;}
.russel_yt .result-box.style02 .style02-inner .num-list.tp08 > li > .stu-tit{font-size: 19px; font-weight: 400;}
.russel_yt .result-box.style02 .style02-inner .num-list.tp08 > li > .stu-num{font-size: 22px; font-weight: 400;color:#fff;}
.russel_yt .result-box.style02 .style02-inner .num-list.tp08 > li > .stu-num strong{font-size: 38px; font-weight: 700;}
.russel_yt .result-box .num-list.tp05 > li::before {background:url("https://russeldata.megastudy.net/campus/images/russel/intro/2024/winter/ico_leaf_left02_gold.png") no-repeat;}
.russel_yt .result-box .num-list.tp05 > li::after {background:url("https://russeldata.megastudy.net/campus/images/russel/intro/2024/winter/ico_leaf_right02_gold.png") no-repeat;}



/* 스타일2 학원별(대구) */
.russel_dg .cont01 .result-box.style02 {display: block;}
.russel_dg .result-box.style02{padding:100px 100px 160px;}
.russel_dg .result-box.style02 .style02-inner {margin-top: 50px;}
.russel_dg .result-box.style02 .style02-inner .num-list{gap: 15px;}
.russel_dg .result-box.style02 .style02-inner .num-list > li {width: 200px;margin: 0;}
.russel_dg .result-box.style02 .style02-inner .num-list > li > .stu-tit{font-size: 20px; font-weight: 500;display:flex;align-items:center;}
.russel_dg .result-box.style02 .style02-inner .num-list > li > .stu-num strong{font-size: 38px; font-weight: 700;}
.russel_dg .result-box.style02 .style02-inner .num-list > li > .stu-num span{color: #222;font-size: 18px;font-weight: 500;letter-spacing: -1.2px;}
.russel_dg .result-box.style02 .style02-inner .stu-num {color: #fff;font-size: 22px;font-weight: 500;}
.russel_dg .cont01 .result-box .num-list.tp06 > li::before {left: 0;}
.russel_dg .cont01 .result-box .num-list.tp06 > li::after {right: 0;}
.russel_dg .cont01 .result-box.style02 .style02-inner .num-list .txt {top: 88px;}
.russel_dg .cont01 .result-box .num-list.tp06 {height: 99px;}
.russel_dg .cont01 .result-box.style02 .style02-inner .num-list .txt {line-height: 1.3;}



/* ------------------ cont01-1 ------------------ */
.first-wrap .cont01-1 {padding: 150px 0 150px;}
.first-wrap .intro .cont01-1 {padding: 220px 0 150px;}
.cont01-1 {background:url("https://russeldata.megastudy.net/campus/images/russel/intro/2025/first_overall/cont01-1_bg.jpg") no-repeat 0 0;background-size:cover;background-position:center;}
.cont01-1 .inner > p {text-align: left;}
.cont01-1 .btn-result {border-radius: 7px;background: var(--key-color);color:#111;font-size:16px;margin-top:40px;padding: 20px 37px 20px 24px;box-sizing: border-box;font-weight:bold;line-height: 1;position: relative;width: 250px;height: 58px;letter-spacing: -1.5px;}
.cont01-1 .btn-result::after {display: block;content: '';border-top: 1px solid #111;border-right: 1px solid #111;transform: rotate(45deg);position: absolute;top: 25px;right: 30px;width: 7px;height: 7px;}
.cont01-1 .result-box {background: linear-gradient(139deg, #13161763 25.05%, #15201D 126.33%);backdrop-filter: blur(4px); border-radius: 30px;margin-top: 80px;padding: 100px;display: flex;justify-content: space-between;}
.cont01-1 .result-box .left-box {display: flex;flex-direction: column;justify-content: space-between;}
.cont01-1 .result-box .left-box p {color: #fff;font-size: 36px;font-weight: 700;letter-spacing: -1px;text-align: left;margin-top: -10px;}
.cont01-1 .result-box .left-box p strong {color: var(--key-color);font-weight: 700;letter-spacing: -2px;}
.cont01-1 .result-box .left-box .stxt {color: #543E6D;font-size: 14px;letter-spacing: -0.7px;text-align: left;}
.cont01-1 .result-box .left-box .stxt strong {color: #CACACA;font-size: 16px;font-weight: 700;letter-spacing: -0.5px;}
.cont01-1 .result-box .right-box {position: relative;}
.cont01-1 .result-box .right-box .arrow {position: absolute;top: 140px;left: 86px;}
.cont01-1 .result-box .right-box .word {position: absolute;}
.cont01-1 .result-box .right-box .word.txt01 {top: 150px;left: 95px;}
.cont01-1 .result-box .right-box .word.txt02 {top: 80px;left: 243px;}
.cont01-1 .result-box .right-box .word > p {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);color: #fff;font-size: 18px;line-height: 1.2;letter-spacing: -1px;width: 100%;}
.cont01-1 .result-box .right-box .word.txt01 > p span {color: #FFB6F8;font-weight: 700;}
.cont01-1 .result-box .right-box .word.txt02 > p span {color: #FF50FC;font-weight: 700;}
.cont01-1 .result-box .right-box.bar-graph-top .word {opacity: 0;}
.cont01-1 .result-box .right-box.bar-graph-top.on .word {animation:fadeIn .5s 1s both cubic-bezier(.17,.27,.83,.67);}
.cont01-1 .result-box .right-box.bar-graph-top .arrow {height:0px;}
.cont01-1 .result-box .right-box.bar-graph-top.on .arrow {height:161px;transition:all 1s;transition-delay:1.1s;}



/*입결 카운팅*/
.cont01-1 .result-box:nth-of-type(2) .left-box {justify-content: flex-start;}
.cont01-1 .result-box:nth-of-type(2) .left-box p {font-weight: 500;}
.cont01-1 .result-box:nth-of-type(2) .left-box p strong {font-weight: bold;}
.cont01-1 .result-box .right-box > ul {display: flex;flex-wrap: wrap;width: 562px;}
.cont01-1 .result-box .right-box > ul li {padding: 54px 0;flex: 0 0 271px;position: relative;height: 115px;margin-bottom: 16px;display: flex;justify-content: center;align-items: center;border: 1px solid #2e3857;border-radius: 9.745px;backdrop-filter: blur(5.483478546142578px);}
.cont01-1 .result-box .right-box > ul li:nth-child(odd) {margin-right: 16px;}
.cont01-1 .result-box .right-box > ul li:nth-last-child(-n+2) {margin-bottom: 0px;}
.cont01-1 .result-box .right-box > ul li.top-label {position: relative;}
.cont01-1 .result-box .right-box > ul li.top-label::after {display: block;content: '';background: url("https://russeldata.megastudy.net/campus/images/russel/intro/2025/first/top_label.png") no-repeat 0 0;position: absolute;top: -35px;left: -65px;width: 133px;height: 136px;}
.cont01-1 .result-box .right-box > ul li dl dt {color: #fff;font-size: 20px;font-weight: 700;}
.cont01-1 .result-box .right-box > ul li dl dd strong {background: linear-gradient(180deg, #D631F5 59%, #3B0084 100%);line-height: 1.2;font-size: 48px;  background-clip: text;  -webkit-background-clip: text;  -webkit-text-fill-color: transparent;font-weight: 800;}
.cont01-1 .result-box .right-box > ul li dl dd sup {color: rgba(255, 255, 255, 0.60);font-size: 9px;letter-spacing: -0.7px;position: absolute;top: 18px;}
.cont01-1 .result-box .right-box > ul li dl dd span {color: #fff;font-size: 30px;font-weight: 500;position: relative;}
.cont01-1 .result-box .right-box > ul li dl p {color: #ffffff83;font-size: 14px;font-weight: 300;letter-spacing: -0.5px;}


/* ------------------ cont02 ------------------ */
.cont02 {background-color:#8600A0}
.cont02 .r-txt {color: #D08FDD;margin-top: 24px;}

.review-list {display: flex;flex-wrap: wrap;gap: 24px;margin-top: 80px;}
.review-list li {background: #fff;padding: 80px 50px 50px;border-radius: 30px;flex: 0 0 488px;position: relative;}
.review-list li .label {background: url("https://russeldata.megastudy.net/campus/images/russel/intro/2025/first/ico_label.png") no-repeat 0 0;position: absolute;top: 0;right: 51px;width: 108px;height: 112px;}
.review-list li .label p {margin-top: 20px;color: #fff;font-size: 20px;font-weight: 700;letter-spacing: -0.5px;} 
.review-list li .label p span {background: linear-gradient(98deg, #FFF0BF -17.4%, #9F5D1B 131.28%);  background-clip: text;  -webkit-background-clip: text;  -webkit-text-fill-color: transparent;line-height: 1;}
.review-list li .year {line-height: 1;padding: 6px 16px;color: #fff;font-size: 15px;border-radius: 50px;background: var(--key-color);display: inline-block;}
.review-list li .info-txt {font-size: 30px;font-weight: 700;letter-spacing: -0.5px;text-align: left;line-height: 1;margin-bottom: 34px;}
.review-list li .info-txt b {margin: 10px 0 0;display: block;font-weight: 700;line-height: 1.3;}
.review-list li .info-txt strong {margin-top: 10px; font-size: 18px;font-weight: 700;letter-spacing: -0.5px;line-height: 1;display: inline-block;}
.review-list li .info-txt .sub-txt {font-size: 14px;color: #666666;font-weight: 500;letter-spacing: -0.5px;}
.review-list li .tbl-01 thead tr th {padding: 11.2px 0;font-size: 14px;}
.review-list li .tbl-01 tbody tr th, .review-list li .tbl-01 tbody tr td {color: #888;font-size: 16px;font-weight: 500;letter-spacing: -0.5px;padding: 13px 0;line-height: 1;}
.review-list li .tbl-01 tbody tr th span, .review-list li .tbl-01 tbody tr td span {color: var(--key-color);font-weight: 700;}
.review-list li .d-box {padding: 48px 32px;border-radius: 10px;margin-top: 21px;background: url("https://russeldata.megastudy.net/campus/images/russel/intro/2025/first/bg_quotes.png") #F6F6F6 no-repeat top left;height: 244px;box-sizing: border-box;display: flex;justify-content: center;align-items: center;}
.review-list li .d-box p {color: #666666;font-size: 16px;text-align: left;line-height: 1.8;letter-spacing: -1px;}
.review-list li .d-box p strong {color: #222222;font-weight: 700;background: #eec3f680;}

.review-list li .d-box.style01 {height: 204px;}
.review-list li .d-box.style02 {height: 285px;}
.review-list li .d-box.style03 {margin-top: 58px;}
.review-list li .d-box.style04 {margin-top: 72px;}

.btn-view {position: relative;cursor: pointer;background: #111;color: #fff;font-size: 23px;font-weight: 700;letter-spacing: -0.5px;width: 500px;height: 78px;display: flex;justify-content: center;align-items: center;border-radius: 7px;margin: 24px auto 0;}
.btn-view::after {display: block;content: '';position: absolute;top: 34px;right: 45px;border-top: 2px solid #fff;border-right: 2px solid #fff;width: 10px;height: 10px;transform: rotate(45deg);}



.review-list .t-box {display: flex;justify-content: flex-start;height: fit-content;margin-bottom: 34px;}
.review-list .t-box div {display: flex;justify-content: flex-start;align-items: flex-start;margin-right: 20px;height: auto;}
.review-list .t-box div p {position: relative;width: fit-content;height: fit-content;}
.review-list .t-box div p .btn-play {position: absolute;bottom: 0;right: 0;}

.review-list.style02 li .info-txt {margin-bottom: 0px;}
.review-list.style02 li .info-txt strong {margin-top: 8px;}
.review-list.style02 li .info-txt .sub-txt {display: block;margin-top: 10px;}


.review-list.style03 {gap: 22px;}


/*코어원주*/
.review-list.style04 li {flex: 0 0 1200px;box-sizing: border-box;display: flex;padding: 60px 78px 60px;justify-content: space-between;}
.review-list.style04 .t-box {flex-direction: column;margin-bottom: auto;}
.review-list.style04 li .d-box {margin-top: 0;width: 808px;height: 338px;flex-direction: column;padding: 64px;}
.review-list.style04 li .d-box .tit {color: #222;font-size: 24px;font-weight: 700;margin-bottom: 26px;display: block;width: 100%;}
.review-list.style04 li .info-txt {margin-top: 22px;}



/* ------------------ cont03 ------------------ */
.cont03 {background: #fff;}

.cont03 .danka-list {display:flex;justify-content:center;width:1200px;margin:80px auto 0;}
.cont03 .danka-list li {display: flex;flex-direction: column;justify-content: center;align-items: center;width:calc(100% / 4 - 24px);margin-left:24px;background-color:#f3f3f3;border-radius:24px;text-align:center;padding:34px 10px;letter-spacing:-1px;font-size:20px;}
.cont03 .danka-list li:first-child {margin-left:0;}
.cont03 .danka-list li p {font-size:21px;line-height:31px;color:#111;}
.cont03 .danka-list li strong {font-weight:700}

/* 강사진 */
.teacher-swiper {padding-top:80px;margin-bottom:40px;overflow:inherit;height:475px;box-sizing:border-box;}
.teacher-swiper .swiper-wrapper {transition-timing-function:linear !important;}
.teacher-swiper .swiper-slide {position:relative;width:200px;height:314px;}
.teacher-swiper .swiper-slide:nth-child(2n) {margin-top:85px;}
.teacher-swiper .t-img {display:block;box-shadow:3px 3px 10px rgba(0, 0, 0, 11%);background-color:#F3DBDB;padding-top:30px;text-align:right;overflow:hidden;height:310px;box-sizing:border-box}
.teacher-swiper .swiper-slide .t-name {display:block;position:absolute;left:0;top:-85px;text-align:left;font-weight:500;line-height:1.0;}
.teacher-swiper .swiper-slide .t-name dt {color:#202020;font-size:19px;}
.teacher-swiper .swiper-slide .t-name .flag {display:flex;align-items:center;}
.teacher-swiper .swiper-slide .t-name .flag span {overflow:hidden;display:inline-block;padding:0 12px;height:22px;line-height: 22px;font-size:13px;color:#fff;background:#1090ab;border-radius: 15px;margin-left:10px;}
.teacher-swiper .swiper-slide .t-name .flag .new {background:#8946bd;}
.teacher-swiper .swiper-slide .t-name dd {margin-top:10px;color:#202020;font-size:24px;}
.teacher-swiper .swiper-slide .t-name dd strong {font-size:26px;font-weight:700;}

.teacher-wrap.fullPage {padding:80px 0 24px!important}
.teacher-wrap .teacher-sub-list .pic {background-color:#F3DBDB !important;}
.teacher-wrap .teacher-sub-list {overflow:inherit;}
.first-wrap .teacher-wrap.fullPage .teacher-sub-list li {height:100%;}
.first-wrap .teacher-wrap.fullPage .teacher-sub-list .info-box {height:155px;}
.russel_dg .teacher-wrap.fullPage .teacher-sub-list .info-box {height:156px !important}

/* ------------------ cont04 ------------------ */
.cont04 {background: #F5F5F5;}
.cont04 .cont-wrap {display:flex;margin-top:70px; justify-content: space-between;}
.cont04 .cont-wrap .tbl-box {width: 475px; margin: 0 auto; padding: 0px 0 0 0; }
.cont04 .cont-wrap .tbl-box .tbl-01 tbody td {padding:15px 2px !important;}
.cont04 .cont-wrap .cont {width:588px;padding:75px 40px 60px;box-sizing:border-box;background-color:#FFF;border-radius: 30px;}
.cont04 .cont-wrap .cont .tit strong {font-size:25px;font-weight:bold;letter-spacing:-1.6px;color:#222}
.cont04 .cont-wrap .cont .tit strong sup {color:#A0A0A0;margin:0 2px 0 5px;font-size:28px; font-weight: 400; vertical-align: baseline;}
.cont04 .cont-wrap .cont .tit span {display:inline-block;margin-top:5px;font-size:20px;font-weight:500;color:#646464;letter-spacing:-1px;}
.cont04 .cont-wrap .cont .tit span sup {color:#a09f9f;margin:0;font-size:12px;}
.cont04 .cont-wrap .cont .stit {position:relative;padding-bottom:10px;padding-left:13px;text-align:left;font-size:18px;font-weight:700;letter-spacing:-1px;}
.cont04 .cont-wrap .cont .stit:before {content:'';position:absolute;top:6px;left:0;display:block;width:3px;height:17px;background-color:var(--key-color) !important;}
.cont04 .cont-wrap .cont.type02 {width:1200px;padding:80px 150px 60px;}
.cont04 .tbl-01 thead tr th {font-size:14px;padding:12px 0 !important; border-bottom: 1px solid #E0E0E0 !important; background: #F5F5F5;}
.cont04 .tbl-01 tbody th, .cont03 .tbl-01 tbody td {padding:16px 0;font-size:14px;line-height:1;border-left:1px solid #E0E0E0 !important;}
.cont04 .tbl-01 tbody tr th:first-child {border-left:none !important}
.cont04 .r-txt {color:#A7A7A7}

.cont04 table {border-top: 0px;}
.cont04 .tbl-01 tbody th, .cont04 .tbl-01 tbody td {border-bottom: 0px;}

.core_dj .cont04 .cont-wrap .tbl-box {background: #f5f5f5;border-radius: 30px;padding: 72px 50px;box-sizing: border-box;width: auto;}
.core_dj .cont04 .cont-wrap .tbl-box .tbl-01 thead tr th {background: #ddd;padding: 22px 0 !important;border-left: 1px solid #e8e8e8;}
.core_dj .cont04 .cont-wrap .tbl-box .tbl-01 tbody tr td {padding: 22px 0 !important;border-left: 1px solid #e8e8e8;}

/* ------------------ cont05 ------------------ */
.cont05 {background: #343434;}
.cont05 .inner {width: unset;}
.cont05 .r-txt {color: #757575;margin-top: 24px;margin-right: 200px;}

.d-wrap {border-radius: 300px;background: linear-gradient(180deg, #FA9EFF -16.16%, rgba(250, 158, 255, 0.00) 14.31%);width: 100%;max-width: 1602px;padding: 152px 0 0;margin: 100px auto 0;}

/* 바자관 슬라이드 */
.studyHall-slide-wrap {width: 1200px;margin: 110px auto 0;}
.studyHall-navi {position:relative;z-index:2;}
.studyHall-navi .swiper-wrapper {border-radius:20px 20px 0 0;overflow:hidden;height: 80px;}
.studyHall-navi .swiper-slide {border-radius: 20px 20px 0 0;margin-right: 6px;margin-top: 10px;width:396px !important;background-color:#3D3D3D;color:#9D9D9D;height:70px;display:flex;justify-content:center;align-items:center;font-size:20px;font-weight:bold;cursor: pointer;}
.studyHall-navi.core .swiper-slide {width:296px !important;}
.studyHall-navi .swiper-slide:first-child {border-left:none;}
.studyHall-navi .swiper-slide-thumb-active {background-color:#fff;color: var(--key-color);border-radius: 20px 20px 0 0;height: 80px;margin-top: 0px;}
.studyHall-slide {background-color:#fff;border-radius: 0 0 30px 30px;}
.studyHall-slide > .swiper-wrapper > .swiper-slide {display:flex;padding:100px 88px 100px 100px;box-sizing:border-box;text-align:left;}
.studyHall-slide > .swiper-wrapper > .swiper-slide .l-txt {color:#aaa;font-size:14px;position:absolute;bottom:46px;left:70px;}
.studyHall-slide > .swiper-wrapper > .swiper-slide .info-detail {margin-left:50px;display:flex;flex-direction: column;justify-content:center;}
.studyHall-slide > .swiper-wrapper > .swiper-slide .info-detail dl dt {font-size:25px;color:#4D4D4D;line-height:1.3;font-weight: 400;}
.studyHall-slide > .swiper-wrapper > .swiper-slide .info-detail dl dt strong {font-size:32px;font-weight:bold;color: var(--key-color);}
.studyHall-slide > .swiper-wrapper > .swiper-slide .info-detail dl dd {margin-top:17px;font-size:20px;color:#3E3E3E;line-height:1.4}
.studyHall-slide > .swiper-wrapper > .swiper-slide .info-detail dl dd ul li {color: #656565;font-weight: 400;font-size: 18px;letter-spacing: -0.5px;position: relative;padding-left: 10px;line-height: 1.6;}
.studyHall-slide > .swiper-wrapper > .swiper-slide .info-detail dl dd ul li:not(:last-of-type) {margin-bottom: 16px;}
.studyHall-slide > .swiper-wrapper > .swiper-slide .info-detail dl dd ul li::before {display: block;content: '';width: 3px;height: 3px;position: absolute;background: var(--key-color);border-radius: 50px;top: 12px;left: 0;}
.studyHall-slide > .swiper-wrapper > .swiper-slide .info-detail dl dd ul li strong {color: #222222;font-weight: 700;}
.studyHall-slide > .swiper-wrapper > .swiper-slide .tab-slide {width: 517px;margin: 0;}
.studyHall-slide > .swiper-wrapper > .swiper-slide .tab-slide02 {width: 517px;margin: 0;}


/* 레이어팝업 */
.bt-tt01 {position: absolute;left: 0;bottom: 21px;width: 100%;height: 62px;border-radius: 0 0 20px 20px;}

.layer {z-index:15;display:none;position:fixed;top:50%;left:50%;transform:translate(-50%, -50%);width:1120px;height:550px;padding:40px;background:#FFF;max-width: 70vw;overflow:auto;}
.layer.on {display:block;}
.layer .layer-wrap {overflow-y:auto;display:block;height:100%}
.layer .stit {font-size:30px;line-height: 1.4;letter-spacing:-1px;margin-bottom:40px;font-weight:bold}
.layer .txt {position:absolute;bottom:73px;right:77px;color:#FFF;font-size:13px;letter-spacing:-1px}
.layer .bt-close {position:absolute;top:10px;right:10px}

.mask-bg {display:block;z-index:13;position:fixed;left:0;top:0;width:100%;height:100%;background:rgba(0, 0, 0, .7);}


/* 바자관 시간표 레이어팝업 */
.cont05 .layer-pop01 .tbl-01 tbody tr th, .tbl-01 tbody tr td {color: #222;font-weight: 400;}
.cont05 .layer-pop01 {height:620px;}
.cont05 .layer-pop01 .layer-wrap {height:520px;}
.cont05 .layer-pop01 .tbl-01 .ico-txt {display: inline-block;padding:8px 12px;font-size:15px;color:#fff;}
.cont05 .layer-pop01 .tbl-01 .ico-txt.s {background:#52a7d8;}
.cont05 .layer-pop01 .tbl-01 .ico-txt.b {background:#5259d8;}
.cont05 .layer-pop01 .tbl-01 .ico-txt.v {background:#9452d8;}
.cont05 .layer-pop01 .tbl-01 .ico-txt.p {background:#d55e91;}
.cont05 .layer-pop01 .tbl-01 .ico-txt.r {background:#d34664;}
.cont05 .layer-pop01 .tbl-01 .ico-txt.g {background:#48aa81;}
.cont05 .layer-pop01 .r-stxt {text-align: right;color:#222;font-size: 13px;font-weight:400;}

/* school-bus banner */
.cont05 .ico-bus {position:absolute;top:-135px;right:330px;display:block;animation: shake-vertical 5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;}






/* ------------------ cont06 ------------------ */
.cont06 {background-color:#fff;padding-bottom:105px;}
.mng-wrap {display: flex;justify-content: space-between;margin-top: 80px;}
.mng-wrap .m-box {display: flex;flex-direction: column;justify-content: space-between;border-radius: 30px;background: linear-gradient(180deg, #F2F2F2 0%, rgba(239, 255, 252, 0.00) 108.89%);padding: 60px 40px 46px;height: 612px;box-sizing: border-box;}
.mng-wrap .m-box p {color: #6A7270;font-size: 18px;font-weight: 500;letter-spacing: -0.5px;}
.mng-wrap .m-box p strong {color: #222;font-size: 28px;font-weight: 700;}
.mng-wrap .m-box ul {text-align: left;margin-top: 28px;}
.mng-wrap .m-box ul li {position: relative;padding-left: 10px;font-size: 18px;font-weight: 400;letter-spacing: -0.5px;color: #373838;}
.mng-wrap .m-box ul li:not(:last-of-type) {margin-bottom: 10px;}
.mng-wrap .m-box ul li::before {display: block;content: '';width: 3px;height: 3px;position: absolute;top: 13px;left: 0;background: #758582;border-radius: 50px;}




/* ------------------ cont07 ------------------ */
/* .first-wrap .cont07 {padding: 0;} */
/* .cont07 {background: url("https://russeldata.megastudy.net/campus/images/russel/intro/2025/first/cont06_bg.jpg") #0c0c0c no-repeat center center;height: 1059px;} */
/* .cont07 .inner p:nth-child(1) {padding-top: 150px;}
.cont07 .inner .txt {color: #fff;font-size: 38px;font-weight: 800;letter-spacing: -1px;position: relative;margin-top: 148px;display: inline-block;}
.cont07 .inner .txt strong {color: #AA65FF;font-weight: 800;}
.cont07 .inner .txt::before {display: block;content: '';background: url("https://russeldata.megastudy.net/campus/images/russel/intro/2025/first/ico_door_left.png") no-repeat 0 0;position: absolute;top: -8px;left: -45px;width: 22px;height: 76px;}
.cont07 .inner .txt::after {display: block;content: '';background: url("https://russeldata.megastudy.net/campus/images/russel/intro/2025/first/ico_door_right.png") no-repeat 0 0;position: absolute;top: -8px;right: -45px;width: 22px;height: 76px;}
.cont07 .inner .r-txt {position: absolute;bottom: 53px;right: 0;color: #5a5167;} */

.first-wrap .cont07 {position:relative;background:url("https://russeldata.megastudy.net/campus/images/russel/intro/2025/first/cont06_bg_n.jpg") no-repeat top center;height:100%;background-size:cover;}
.cont06 .inner .txt {color: #fff;font-size: 38px;font-weight: 800;letter-spacing: -1px;position: relative;margin-top: 148px;display: inline-block;}
.cont06 .inner .txt strong {color: #AA65FF;font-weight: 800;}
.cont06 .inner .txt::before {display: block;content: '';background: url("https://russeldata.megastudy.net/campus/images/russel/intro/2025/first/ico_door_left.png") no-repeat 0 0;position: absolute;top: -8px;left: -45px;width: 22px;height: 76px;}
.cont06 .inner .txt::after {display: block;content: '';background: url("https://russeldata.megastudy.net/campus/images/russel/intro/2025/first/ico_door_right.png") no-repeat 0 0;position: absolute;top: -8px;right: -45px;width: 22px;height: 76px;}
.cont06 .inner .r-txt {position: absolute;bottom: 53px;right: 0;color: #5a5167;}

.program-navi {margin-bottom:80px;}
.program-navi .swiper-wrapper {justify-content:space-between;}
.program-navi .swiper-wrapper .swiper-slide {cursor:pointer;padding:19px 0;color:#9B9B9B;font-size:20px;font-weight:bold;line-height:1;letter-spacing:-1px;background:#EBEBEB;border-radius:60px}
.program-navi .swiper-wrapper .swiper-slide-thumb-active {color:#FFF;background:#AA65FF}

.program-slide .swiper-slide {cursor:pointer;}

/* ------------------ cont08 ------------------ */
.cont08 {background-color:#E6E6E6}
.cont08 .tbl-box {padding:80px;border-radius:30px;background:#FFF} */

/* ------------------ bottom-bar ------------------ */
.bottom-bar {padding:80px 0;background-color:var(--key-color);text-align:center;}
.bottom-bar p {font-size:42px;color:#fff;font-weight:300;line-height:1.4;}
.bottom-bar p strong {font-weight:bold;}



/* ------------------ 학원모집안내 ------------------ */
.first-info {text-align:center;padding:150px 0;background-color:#F5F5F5;}
.first-info .campus-basic-wrap .campus-list02 > li .c-tit span {color:var(--key-color)}
.campus-list02.mt30 {margin-top:70px !important;}
.campus-basic-wrap .campus-list02 > li .c-tit strong {color:var(--key-color)}



/*animation*/
@keyframes slide-right{0%{-webkit-transform:translateX(-300px);transform:translateX(-300px);opacity: 0;}100%{-webkit-transform:translateX(0px);transform:translateX(0px);opacity: 1;}}

@keyframes fadeIn{  0%{opacity: 0;}  100%{opacity: 1;}}

@keyframes blur {  0% {filter: blur(20px);opacity: 0;transform:scale(1.05)}  100% {filter: blur(0);opacity: 1;transform:scale(1)}}

@keyframes shake-vertical {0%,  100% {transform: translateY(0);}  10%,  30%,  50%,  70% {transform: translateY(-8px);}  20%,  40%,  60% {transform: translateY(8px);}  80% {transform: translateY(6.4px);}  90% {transform: translateY(-6.4px);}}
