/* =========================
   공통
========================= */
:root {
  --key-color: #FF3E01;
  --text-key: #0400CD;
}
.campus-list-wrap .campus-mask {z-index:12;}
.half-wrap {overflow-x:hidden;}

.half-wrap .inner {padding: 0 3%;box-sizing: border-box;}
.half-wrap img {display: block;height: auto;width: 100%;}
.half-wrap .container {position: relative;padding-top: 76px;}
.half-wrap .r-txt {text-align:right;font-size:1.1rem;letter-spacing:-1.2px;margin-top:20px;color:rgb(0, 0, 0, 0.45)}
.half-wrap .tbl-scroll-x thead tr:first-child th:first-child {position: sticky;left:0;top:0;}
.half-wrap .ml5 {margin-left:5px !important;}

/* fix-menu */
.fix-menu {background: #fff;display:flex;padding:15px 4% 0;position:absolute;top:0;left:0;width:100%;box-sizing:border-box;line-height:0}
.fix-menu li {background:#D7D7D7;color:#9A9A9A;font-size:1.4rem;font-weight:bold;line-height:1.3;border-radius:6px 6px 0 0;margin-left:1px;padding:12px 1% 12px;width:100%;letter-spacing:-1.2px;text-align:center;display:flex;justify-content:center;align-items:center;}
.fix-menu li.on {color:#fff;background:var(--text-key)}
.fix-menu.fix {position:fixed;top:101px;z-index:11;}

/*버튼*/
.half-wrap .btn-link {margin: 20px 4% 0;background-color:#111;height:50px;line-height:50px;letter-spacing:-1.2px;}
.btn-link::after {border-color:#AFAFAF;top:20px;}
/* ==================================================
   visual
================================================== */
.visual-wrap {position:relative;overflow:hidden;background-color:#04015e;padding-bottom:calc(33vw / 7.2)}
.visual-area .bg {animation:fadeIn ease 1.5s both;position:absolute;top:0;left:0;width:100%;height:100%;}
/* 반수반 */
.visual-area .v-tit01 {width:calc(286vw / 7.2);padding-top:calc(120vw / 7.2);padding-left:calc(86vw / 7.2);animation:fadeIn ease 1s 1.5s both;position:relative}
.visual-area .v-tit02 {width:calc(260vw / 7.2);padding-top:calc(45vw / 7.2);padding-left:calc(80vw / 7.2);animation:fadeIn ease 1s 2.5s both;;position:relative}
.visual-area .v-tit03 {width:calc(475vw / 7.2);padding-top:calc(13vw / 7.2);padding-left:calc(188vw / 7.2);position:relative;z-index: 2;animation:fadeIn ease 1s 3.5s both;}
.visual-area .v-img {width:calc(400vw / 7.2);position:absolute;top:calc(156vw / 7.2);left:calc(274vw / 7.2);animation: slidebottom 1s 3.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;}
/* //반수반 */
/* 재수정규반[반수] */
.visual-area .v2-tit01 {width:calc(284vw / 7.2);padding-top:calc(106vw / 7.2);padding-left:calc(60vw / 7.2);animation:fadeIn ease 1s 1.5s both;;position:relative}
.visual-area .v2-tit02 {width:calc(154vw / 7.2);padding-top:calc(57vw / 7.2);padding-left:calc(60vw / 7.2);padding-bottom:calc(150vw / 7.2); animation:fadeIn ease 1s 2.5s both;;position:relative}
.visual-area .v2-tit03 {width:calc(576vw / 7.2);position:absolute;top:calc(220vw / 7.2);left:calc(100vw / 7.2);animation:fadeIn ease 1s 3.5s both;}
.visual-area .v2-img {width:calc(266vw / 7.2);position:absolute;top:calc(193vw / 7.2);left:calc(170vw / 7.2);animation: slidebottom 1s 3.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;}
/* //재수정규반[반수] */
.visual-area .v-txt {font-size:calc(30vw / 7.2);color:#f1f1f1;font-weight:400;text-align:center;letter-spacing:-1.2px;line-height:1.5;padding-top:calc(36vw / 7.2);animation:fadeIn ease 1s 4.5s both;;position:relative}
.visual-area .v-txt strong {font-weight:bold;}

@keyframes slidebottom {
  0% {
     transform: translateX(-10%) translateY(10%) ;
     opacity: 0;
  }
  100% {
     transform: translateX(0) translateY(0);
     opacity: 1;
  }
}

.visual-area .v-info {margin-top:calc(49vw / 7.2);animation:fadeIn ease 1s 4.5s both;display:flex;justify-content:center;padding-bottom:15vw;position:relative;}
.visual-area .v-info dl {color:#f1f1f1;margin-top:2vw}
.visual-area .v-info dl:first-child {margin-top:0;}
.visual-area .v-info dl dt {display:inline-block;font-weight:bold;background-color:#2448ff;border-radius:40px;font-size:calc(28vw / 7.2);width:calc(150vw / 7.2);text-align:center;letter-spacing:-1.2px;line-height: 8vw;vertical-align:top;}
.visual-area .v-info dl dd {display:inline-block;margin-left:5px;font-size:calc(30vw / 7.2);font-weight:500;letter-spacing:-1.2px;line-height:1.3;vertical-align: middle;margin-top:5px;}
.visual-area .v-info dl dd .comment {font-size:calc(21vw / 7.2);position:absolute;bottom:5vw;left:0;text-align:center;width:100%;line-height:1.35;letter-spacing:-1px;color:#bfbfbf;}

.visual-area.russel_gn .v-txt {font-size:calc(28vw/7.2);}
.visual-area.russel_bd .v-info dl:first-child {text-align: center;}

/* ==================================================
    contents
================================================== */

/* cont00 */
.cont00 {background: #f4f4f4;}
.cont00 .inner {padding:0;}
.cont00 .recruit-wrap {padding: 0 4%;}
.cont00 .recruit-stit {letter-spacing:-1.2px;}
.cont00 .tbl-box.type01 {margin: 0 4%;}
.cont00 .tbl-box.type01 .comment {font-weight:bold;font-size:1.2rem;}

.txt-coming {border-radius:15px;display:flex;align-items:center;justify-content:center;padding:25px 0 35px;}
.txt-coming p {font-size:1.4rem;color:#8E97AB;font-weight:bold;margin-left:10px;text-align:left;line-height:1.2;letter-spacing:-1px;}
.txt-coming p strong {color:#565E71;font-weight:bold;}
.txt-coming div img {width: calc(107vw / 6);}
.cont00 .tbl-plan-new th {background-color:var(--text-key);border-color:#ccc}
.cont00 .setp-diagram {text-align:center;}
.cont00 .setp-diagram li strong {background-color:var(--text-key)}
.cont00 .setp-diagram li span {color:var(--text-key)}
.cont00 .step-txt .step-tit {color:var(--text-key)}
.cont00 .tbl-benefit td {padding:10px 0 10px 15px}
.half-wrap *[class^="cont0"] {padding-bottom:75px}

.cont00 .recruit-stit strong {color:var(--text-key)}
.cont00 .event-area {margin-top:75px;background-color:#fff;padding-bottom:75px}
.cont00 .event-area .inner {padding:0 6%;}

.list-bullet {margin:10px 0 !important}
/* ========================== cont01 ========================== */
.cont01 {background-color:#FB4911;}
.cont01 *[class^="h-box"] {background-color:#fff;padding:0 0 45px;}
.cont01 *[class^="h-box"] .r-txt {color:#aaa;font-size:1.1rem;font-weight:400;letter-spacing:-1px;line-height:1.3;margin-top:20px;text-align:right;padding-right:15px;}

.cont01 *[class^="h-box"] .banner-balloon {width:184px;margin:30px auto 0;}
/* 대입 결과 */
/*type01-width:150px*/
.cont01 .h-box-result {box-shadow: 4px 4px 50px 0px rgba(0, 0, 0, 0.18);}
.cont01 .h-box-result .tit {font-size:1.9rem;font-weight:bold;letter-spacing:-1.2px;color:#222;text-align:center;margin-top:11px;}
.cont01 .h-box-result .tit strong {color:var(--text-key)}
.cont01 .h-box-result > ul {margin-top:15px;display:flex;justify-content:center;align-items:center;}
.cont01 .h-box-result > ul > li {position:relative;width:150px;text-align:center;margin-left:10px}
.cont01 .h-box-result > ul > li:first-child {margin-left:0;}
.cont01 .h-box-result > ul > li:before {content:'';position:absolute;top:0;left:0;width:34px;height:100%;background:url("https://russeldata.megastudy.net/campus/images/russel/m_russel/intro/2024/half/baytree_l.png") no-repeat 0 0;background-size:100%}
.cont01 .h-box-result > ul > li:after {content:'';position:absolute;top:0;right:0;width:34px;height:100%;background:url("https://russeldata.megastudy.net/campus/images/russel/m_russel/intro/2024/half/baytree_r.png") no-repeat 0 0;background-size:100%}
.cont01 .h-box-result > ul > li p {font-size:1.4rem;color:#222;letter-spacing:-1px;line-height:1.2;font-weight:bold;position:relative;z-index:2;}
.cont01 .h-box-result > ul > li p span {font-weight:400;font-size:1.2rem;}
.cont01 .h-box-result > ul > li div {font-size:1.9rem;font-weight:bold;color:#222;position:relative;z-index: 2;}
.cont01 .h-box-result > ul > li div strong {color:var(--key-color);font-size:2.7rem;letter-spacing:-1px;line-height:1.4;display:inline-block;}
.cont01 .h-box-result ul li .comment {color:#919191;font-size:1rem;letter-spacing:-1px;line-height:1.2;display:inline-block;}

.cont01 .h-box-result.radius {border-radius:20px;overflow:hidden;}
/*type02-silver-width:150px*/
.cont01 .h-box-result ul.type02 li {min-height:48px;display:flex;align-items:center;justify-content:center;}
.cont01 .h-box-result ul.type02 li:before {content:'';position:absolute;top:0;left:0;width:27px;height:100%;background:url("https://russeldata.megastudy.net/campus/images/russel/m_russel/intro/2024/half/baytree_l_silver.png") no-repeat 0 0;background-size:100%}
.cont01 .h-box-result ul.type02 li:after {content:'';position:absolute;top:0;right:0;width:27px;height:100%;background:url("https://russeldata.megastudy.net/campus/images/russel/m_russel/intro/2024/half/baytree_r_silver.png") no-repeat 0 0;background-size:100%}
.cont01 .h-box-result ul.type02 li > p {font-weight:500;font-size:1.2rem;}
.cont01 .h-box-result ul.type02 li > p > span {color:var(--key-color)}
/*type03-width:95px*/
.cont01 .h-box-result ul.type03 li {width:95px;}
.cont01 .h-box-result ul.type03 li.one {padding:3px 0;width:100px;margin-left:5px}
.cont01 .h-box-result ul.type03 li.one:first-child {margin-left:0;}
.cont01 .h-box-result ul.type03 li:before {width:24px;}
.cont01 .h-box-result ul.type03 li:after {width:24px;}
.cont01 .h-box-result ul.type03 li p {font-size:1.3rem;}
.cont01 .h-box-result ul.type03 li div {font-size:1.2rem}
.cont01 .h-box-result ul.type03 li div strong {font-size:1.7rem;}

/*type04-width:145px*/
.cont01 .h-box-result ul.type04 li {width:145px;}
.cont01 .h-box-result ul.type04 li:before {width:24px;}
.cont01 .h-box-result ul.type04 li:after {width:24px;}
.cont01 .h-box-result ul.type04 li p {font-size:1.3rem;}
.cont01 .h-box-result ul.type04 li div {font-size:1.2rem}
.cont01 .h-box-result ul.type04 li div strong {font-size:1.7rem;}
.cont01 .h-box-result ul.type04 li p span {font-size:1.1rem;}

/*type04-width:239px*/
.cont01 .h-box-result ul.type05 li {width:239px;padding:10px;}
.cont01 .h-box-result ul.type05 > li p {font-size:1.9rem;font-weight:500;}
.cont01 .h-box-result ul.type05 > li div {font-size:1.9rem;font-weight:bold;letter-spacing:-1.2px;}
.cont01 .h-box-result ul.type05 > li div strong {font-size:1.9rem;}

/*type06-width:139px*/
.cont01 .h-box-result ul.type06 li {width:139px;padding:13px 0;}
.cont01 .h-box-result ul.type06 li.two {padding:5px 0;}
.cont01 .h-box-result ul.type06 li:before {width:37px;}
.cont01 .h-box-result ul.type06 li:after {width:37px;}
.cont01 .h-box-result ul.type06 li p {font-size:1.4rem;}
.cont01 .h-box-result ul.type06 li div {font-size:1.5rem}
.cont01 .h-box-result ul.type06 li div strong {font-size:2.4rem;}

/*type07-width:210px*/
.cont01 .h-box-result ul.type07 li {width:210px;padding:24px 0;}
.cont01 .h-box-result ul.type07 li:before {width:47px;}
.cont01 .h-box-result ul.type07 li:after {width:47px;}
.cont01 .h-box-result ul.type07 > li p {font-size:1.7rem;font-weight:500;}
.cont01 .h-box-result ul.type07 > li div {font-size:1.7rem;font-weight:bold;letter-spacing:-1.2px;}
.cont01 .h-box-result ul.type07 > li div strong {font-size:1.7rem;}

/*type08-width:95px-silver*/
.cont01 .h-box-result ul.type08 li {width:95px;padding:3px 0;}
.cont01 .h-box-result ul.type08 li:before {content:'';position:absolute;top:0;left:0;width:24px;height:100%;background:url("https://russeldata.megastudy.net/campus/images/russel/m_russel/intro/2024/half/baytree_l_silver.png") no-repeat 0 0;background-size:100%;background-position:center}
.cont01 .h-box-result ul.type08 li:after {content:'';position:absolute;top:0;right:0;width:24px;height:100%;background:url("https://russeldata.megastudy.net/campus/images/russel/m_russel/intro/2024/half/baytree_r_silver.png") no-repeat 0 0;background-size:100%;background-position:center}
.cont01 .h-box-result ul.type08 li.one {width:100px;margin-left:5px;}
.cont01 .h-box-result ul.type08 li.one:first-child {margin-left:0;}
.cont01 .h-box-result ul.type08 li.one p {font-size:1.3rem;}
.cont01 .h-box-result ul.type08 p {font-size:1.5rem;}
.cont01 .h-box-result ul.type08 div {font-size:1.5rem;}
.cont01 .h-box-result ul.type08 div strong {font-size:1.5rem;}

/*type09-width:116px*/
.cont01 .h-box-result ul.type09 li {width:116px;padding:6px 0;}
.cont01 .h-box-result ul.type09 li.two {padding:5px 0;}
.cont01 .h-box-result ul.type09 li:before {width:28px;}
.cont01 .h-box-result ul.type09 li:after {width:28px;}
.cont01 .h-box-result ul.type09.silver li:before {content:'';position:absolute;top:0;left:0;width:28px;height:100%;background:url("https://russeldata.megastudy.net/campus/images/russel/m_russel/intro/2024/half/baytree_l_silver.png") no-repeat 0 0;background-size:100%;background-position:center}
.cont01 .h-box-result ul.type09.silver li:after {content:'';position:absolute;top:0;right:0;width:28px;height:100%;background:url("https://russeldata.megastudy.net/campus/images/russel/m_russel/intro/2024/half/baytree_r_silver.png") no-repeat 0 0;background-size:100%;background-position:center}
.cont01 .h-box-result ul.type09.silver li p {font-size:1.2rem;}
.cont01 .h-box-result ul.type09 li p {font-size:1.3rem;}
.cont01 .h-box-result ul.type09 li div {font-size:1.2rem}
.cont01 .h-box-result ul.type09 li div strong {font-size:2.1rem;}

/*type10-width:134px*/
.cont01 .h-box-result ul.type10 li {width:134px;padding:13px 0;}
.cont01 .h-box-result ul.type10 li.two {padding:5px 0;}
.cont01 .h-box-result ul.type10 li:before {width:33px;}
.cont01 .h-box-result ul.type10 li:after {width:33px;}
.cont01 .h-box-result ul.type10 li p {font-size:1.5rem;}
.cont01 .h-box-result ul.type10 li div {font-size:1.5rem}
.cont01 .h-box-result ul.type10 li div strong {font-size:2.1rem;}

/*type11-width:228px*/
.cont01 .h-box-result ul.type11 li {width:228px;padding:16px 0;}
.cont01 .h-box-result ul.type11 li.two {padding:8px 0;}
.cont01 .h-box-result ul.type11 li:before {width:42px;}
.cont01 .h-box-result ul.type11 li:after {width:42px;}
.cont01 .h-box-result ul.type11 li p {font-size:1.6rem;font-weight:500}
.cont01 .h-box-result ul.type11 li p sup {color:#aaa;font-size:1.3rem;}
.cont01 .h-box-result ul.type11 li div {font-size:1.9rem}
.cont01 .h-box-result ul.type11 li div strong {font-size:1.9rem;font-weight:bold;}

/*type12-width:134px*/
.cont01 .h-box-result ul.type12 li {width:134px;padding:10px 0}
.cont01 .h-box-result ul.type12 li .comment {color:#D6A6A6;font-size:1.1rem;}
.cont01 .h-box-result ul.type12 li div {font-size:1.5rem}
.cont01 .h-box-result ul.type12 li div strong {font-size:2.4rem;font-weight:bold;}

/*type13-width:156px*/
.cont01 .h-box-result ul.type13 {margin-top:7px;}
.cont01 .h-box-result ul.type13 li {width:156px;padding:5px 0;margin-left:5px}
.cont01 .h-box-result ul.type13 li:first-child {margin-left:0;}
.cont01 .h-box-result ul.type13 li.two {padding:13px 0;}
.cont01 .h-box-result ul.type13 li div {font-size:1.2rem}
.cont01 .h-box-result ul.type13 li div strong {font-size:2.1rem;font-weight:bold;line-height:1.2}
.cont01 .h-box-result ul.type13 li p {font-size:1.4rem;}


.cont01 .h-box-result .info-detail {font-size:1.2rem;font-weight:bold;color:rgb(81, 81, 81, 0.5);text-align:center;margin-top:7px;letter-spacing:-1.2px;}

.cont01 .h-box-result .stu-list {display:flex;flex-wrap:wrap;justify-content:space-between;padding:16px 50px}
.cont01 .h-box-result .stu-list dl {width:50%;display:flex;align-items:center;justify-content:center;}
.cont01 .h-box-result .stu-list dl:nth-child(n+3) {margin-top:10px}
.cont01 .h-box-result .stu-list dl dt {width:32px;}
.cont01 .h-box-result .stu-list dl dd {margin-left:5px;font-size:1.3rem;letter-spacing:-1px;font-weight:bold;color:#222;line-height:1.2;}

/*데이터 산출 기준*/
.l-pop {text-align:right;margin: 10px 0 0;}
.gr-data {display:inline-block;text-align:right;padding:0 4% 0 0;color:#a8a8a8;font-size:1.2rem;letter-spacing: -1px; cursor:pointer;}
.gr-data span {width:12px;display:inline-block;margin-bottom:-2px;}
.layer-wrap {position:fixed;left:0;top:0;z-index:50;height:100%;display:none;justify-content:center;align-items:center;width: 100%;}
.layer-wrap.on {display:flex;}
.layer-wrap .layer-in {position:relative;width:90%;margin:0 5%;padding:10px 20px 20px;box-sizing:border-box;background:#fff;box-shadow:0 3px 3px rgba(95, 95, 95, .5);text-align:left;font-size:12px;}
.layer-wrap .layer-in .js-close-mask {display:flex;justify-content:flex-end;margin-bottom:10px;}
.layer-wrap .layer-in .js-close-mask img {width:16px;height:auto;}
.layer-wrap .layer-in span {display:block;font-size:1.1rem;line-height:1.5;}
.layer-wrap .layer-in span.tit {margin-bottom:20px;font-weight:bold;font-size:1.3rem;}
.layer-wrap .bg-mask {position:fixed;left:0;top:0;width:100%;height:100%;background:rgba(0, 0, 0, .5);}
/* //대입 결과 */balloon

/* 그래프(도넛, 막대) */
.cont01 .h-box-graph {margin-top:20px;}
.cont01 .h-box-graph div p {padding-top:30px;font-size:1.6rem;color:#111;line-height:1.2;text-align:center;letter-spacing:-1px;}
.cont01 .h-box-graph div p strong {font-weight:bold}
.cont01 .h-box-graph div p strong span {color:var(--key-color)}
.cont01 .h-box-graph div p > span {font-size:1.1rem;color:#aaa;margin-top:6px;line-height:1.2;letter-spacing: -1.2px;}
.cont01 .h-box-graph .doughnut {padding-bottom:32px;background:linear-gradient(to top, #fafafa 5%, #fff, #fff);margin:0 15px}
.cont01 .h-box-graph .doughnut .chart-area {width:130px;margin:0px auto;position:relative}
.cont01 .h-box-graph .doughnut .chart-area canvas {position:relative;z-index: 2;height:130px;}
.cont01 .h-box-graph .doughnut .chart-area .chart-img {position:absolute;top:11px;left:5px;width:161px;}

.cont01 .h-box-graph .bar-graph {background:linear-gradient(to top, #fafafa 5%, #fff, #fff);margin:0 15px;padding-bottom:16px;}
.cont01 .h-box-graph .bar-graph .graph-con {text-align:center;position:relative;margin-top:17px;}
.cont01 .h-box-graph .bar-graph .graph-con .bar-img {width:180px;height:100%;display:inline-block;}
.cont01 .h-box-graph .bar-graph .graph-con .balloon {position:absolute;top:40px;left:calc(50% - 33px);transform:translateX(-50%);font-size:1.3rem;letter-spacing:-1px;color:#fff;}
.cont01 .h-box-graph .bar-graph .graph-con .balloon strong {color:var(--key-color);font-weight:bold;}
.cont01 .h-box-graph .bar-graph .graph-con .arrow {width:0px;position:absolute;top:37px;left:calc(50% + 5px);transform:translateX(-50%)}
.cont01 .h-box-graph.chart .bar-graph .graph-con .arrow {width: 65px;height: 100%;transition:all 1s;transition-delay:.3s;overflow: hidden;}
/* //그래프(도넛, 막대) */

/* ========================== cont02 ========================== */
.cont02 {background-color:#f5f5f5;}
/* 상승리뷰 슬라이드 */
.review-slide .swiper-slide {background-color:#fff;padding:35px 20px;box-sizing:border-box;}
.review-slide .swiper-slide .title {display:flex;position:relative;align-items:center;justify-content:center;}
.review-slide .swiper-slide .title .profile {width:76px;position:relative}
.review-slide .swiper-slide .title .profile a {position:absolute;bottom:0;right:-10px;width:30px;display:block;}
.review-slide .swiper-slide .title > p {margin-left:25px;letter-spacing:-1.2px;width:calc(100% - 101px)}
.review-slide .swiper-slide .title > p > strong {font-size:1.6rem;font-weight:bold;color:#222;line-height:1.2;display:inline-block;}
.review-slide .swiper-slide .title > p > span {display:inline-block;margin-top:3px;line-height:1;font-size:1.4rem;font-weight:500;color:#666;}
.review-slide .swiper-slide .mid-txt {text-align:center;color:#222;font-weight:bold;font-size:1.5rem;letter-spacing:-1.2px;}
/*type01*/
.review-slide .swiper-slide .detail-box {margin-top:13px;background-color:rgb(239, 239, 246, 0.5);display:flex;align-items:center;justify-content:center;position:relative;text-align:center;padding:25px 20px 25px 0;box-sizing:border-box;}
.review-slide .swiper-slide .detail-box div {color:#797979;;letter-spacing:-1px;}
.review-slide .swiper-slide .detail-box .before {min-width:100px;}
.review-slide .swiper-slide .detail-box .after {min-width:100px;}
.review-slide .swiper-slide .detail-box div span {font-size:1.1rem;}
.review-slide .swiper-slide .detail-box div b {font-size:1.5rem;font-weight:bold;display:inline-block;line-height:1.15;}
.review-slide .swiper-slide .detail-box div strong {font-weight:500;font-size:1.3rem;}
.review-slide .swiper-slide .detail-box div strong strong {font-weight:bold;}
.review-slide .swiper-slide .detail-box .r-arrow {width:28px;}
.review-slide .swiper-slide .detail-box .badge {position:absolute;top:0;right:16px;width:33px;}
.review-slide .swiper-slide .detail-box .after {color:#222;position:relative}
.review-slide .swiper-slide .detail-box .after div {background:url("https://russeldata.megastudy.net/campus/images/russel/m_russel/intro/2024/half/r-balloon_l.png") no-repeat 0 0;background-size:100%;width:37px;position:absolute;top:calc(50% - 15px);right:-35px;font-size:1rem;color:#fff;line-height:1.2;text-align:center;padding:4px 0;}
.review-slide .swiper-slide .detail-box .after div span {color:#FF7D54;font-size:1.1rem;}
.review-slide .swiper-slide .detail-box .after div span strong {font-weight:bold;}
/*type02*/
.review-slide .swiper-slide.type02 .title.type02 {justify-content:flex-start;}
.review-slide .swiper-slide.type02 .title.type02 p {margin-left:0;width:100%;}
.review-slide .swiper-slide.type02 .detail-box {padding:20px 20px 20px 30px; justify-content:space-around;}
.review-slide .swiper-slide .detail-box .uni div {width:35px;}
.review-slide .swiper-slide .detail-box .uni p {color:#222;letter-spacing:-1.2px;text-align:left;}
.review-slide .swiper-slide .detail-box .uni p span {font-size:1.1rem;font-weight:400;}
.review-slide .swiper-slide .detail-box .uni p strong {font-size:1.5rem;font-weight:bold;display:inline-block;line-height:1.15;}
.review-slide .swiper-slide .detail-box .uni p strong span {font-weight:bold;line-height:1.2;margin-top:5px;display:inline-block;}
.review-slide .swiper-slide .detail-box .graph {width:90px;position:relative}
.review-slide .swiper-slide .detail-box .graph div {width:40px;position:absolute;top:1px;left:0px;font-size:1rem;color:#fff;line-height:1.2;text-align:center;padding:6px 0;}
.review-slide .swiper-slide .detail-box .graph div span {color:#FF7D54;font-size:1.1rem;}
.review-slide .swiper-slide .detail-box .graph div span strong {font-weight:bold;} 
.review-slide .swiper-slide .detail-box .graph .arrow {position:absolute;top:16px;left:14px;width:0;}
.review-slide .swiper-slide.swiper-slide-active .detail-box .graph .arrow {width:calc(127px / 2);transition:all 1s;transition-delay:.3s;}
/*type03*/

.review-slide .swiper-slide.type03 .title.type02 > p {line-height:1;}
.review-slide .swiper-slide.type03 .title.type02 > p span {background-color:#1e1e1e;border-radius:99px;color:#fff;font-size:1.1rem;display:inline-block;padding:5px 10px 3px;letter-spacing:-1px;}
.review-slide .swiper-slide.type03 .title.type02 > p strong {display:inline-block;margin:4px 0 2px;line-height:1;font-size:1.6rem;font-weight:bold;letter-spacing:-1.2px;color:#222;}
.review-slide .swiper-slide.type03 .title.type02 > p b {font-size:1.1rem;color:#666;font-weight:500;letter-spacing:-1.2px;display:inline-block;}

.review-slide .swiper-slide.type03 .title p .year {font-size:1.2rem;background-color:#333;color:#fff;padding:3px 13px 5px;border-radius:20px;}

.review-slide .swiper-slide.type03 .detail-box {display:block;padding:25px 0}
.review-slide .swiper-slide.type03 .detail-box p {letter-spacing:-1.2px;line-height:1.2}
.review-slide .swiper-slide.type03 .detail-box p strong {font-size:1.5rem;font-weight:bold;color:#222;line-height:1.3}
.review-slide .swiper-slide.type03 .detail-box p span {font-size:1.3rem;color:#787878}

.review-slide .swiper-slide.type03 .detail-box ul {display:flex;justify-content:center;align-items:center;margin-top:6px;}
.review-slide .swiper-slide.type03 .detail-box ul li {width:35px;margin-left:calc(25px / 2);}
.review-slide .swiper-slide.type03 .detail-box ul li:first-child {margin-left:0;}
.review-slide .swiper-slide > p {margin-top:12px;color:#555;font-size:1.3rem;letter-spacing:-1px;line-height:1.3;padding:0 3px}
.review-slide .swiper-slide > p strong {color:#222;font-weight:bold;}
.review-slide .swiper-slide.type03 .detail-box ul li > p {width:100%;display:inline-block;font-size:1.1rem;color:#222;letter-spacing:-1.2px;font-weight:500;margin-top:5px;}
.review-slide .swiper-slide.type03 .detail-box ul li > div {width:35px;margin:0 auto;}
.review-slide .swiper-slide.type03 > p .tit {color:#222;font-size:1.6rem;font-weight:bold;letter-spacing:-1.2px;line-height:1.2;display:block;}
.review-slide .swiper-slide.type03 > p .txt {margin-top:5px;display:block;}

/*type04*/
.review-slide .swiper-slide.type04 {padding:35px 20px}
.review-slide .swiper-slide.type04 .title p {margin-left:19px;width:calc(100% - 95px);letter-spacing:-1.2px;}
.review-slide .swiper-slide.type04 .title p > strong {font-size:1.5rem;}
.review-slide .swiper-slide.type04 .title p b {font-size:1.3rem;color:#666}
.review-slide .swiper-slide.type04 .title p b strong {color:#222}
.review-slide .swiper-slide.type04 .title p > span {font-size:1.3rem;}
.review-slide .swiper-slide.type04 .detail-box {padding:15px 20px;}
.review-slide .swiper-slide.type04 .detail-box .graph {width:135px}
.review-slide .swiper-slide.type04 .detail-box .graph .arrow {top:16px;}
.review-slide .swiper-slide.type04.swiper-slide-active .detail-box .graph .arrow {width:calc(182px / 2)}
.review-slide .swiper-slide.type04 .detail-box div strong {font-size:1.5rem;}
.review-slide .swiper-slide.type04 .detail-box .graph div {width:50px;padding:9px 0;left:11px;}

/*type05*/
.review-slide .swiper-slide.type05 {padding:35px 20px;}
.review-slide .swiper-slide.type05 .profile.uni {width:60px;}
.review-slide .swiper-slide.type05 .profile.uni div {width:60px;}
.review-slide .swiper-slide.type05 .title p > span {font-size:1.6rem;}
.review-slide .swiper-slide.type05 .title p > b {font-weight:400;font-size:1.6rem;}
.review-slide .swiper-slide.type05 .title.video p {line-height:1;}
.review-slide .swiper-slide.type05 .title.video span {width:35px;}
.review-slide .swiper-slide.type05 .title.video strong {font-size:1.4rem;}
.review-slide .swiper-slide.type05 .title.video b {font-size:1.4rem;line-height:1.5}
.review-slide .swiper-slide.type05 .detail-box {display:block;text-align:left;padding:25px 20px;letter-spacing:-1.2px;}
.review-slide .swiper-slide.type05 .detail-box p {color:var(--text-key);font-size:1.5rem;font-weight:bold;}
.review-slide .swiper-slide.type05 .detail-box div {margin-top:10px;font-size:1.2rem;color:#555;line-height: 1.4;}
.review-slide .swiper-slide.type05 .detail-box div strong {color:#222;font-weight:bold;}


/*type06*/
.review-slide .swiper-slide.type06 .detail-box .uni {display:flex;align-items:center;}
.review-slide .swiper-slide.type06 .detail-box .uni div {width:49px}
.review-slide .swiper-slide.type06 .detail-box .uni p {margin-left:11px;}

/*type07*/
.review-slide .swiper-slide.type07 .title > p {line-height:1;}
.review-slide .swiper-slide.type07 .title > p span {background-color:#1e1e1e;border-radius:99px;color:#fff;font-size:1.2rem;display:inline-block;padding:5px 14px 3px;letter-spacing:-1px;}
.review-slide .swiper-slide.type07 .title > p strong {display:inline-block;margin:4px 0 2px;line-height:1;font-size:1.6rem;font-weight:bold;letter-spacing:-1.2px;color:#222;}
.review-slide .swiper-slide.type07 .title > p b {font-size:1.1rem;color:#666;font-weight:500;letter-spacing:-1.2px;display:inline-block;}
.review-slide .swiper-slide .title > p .period {color:#888;font-size:1rem;font-weight:500;letter-spacing:-1.2px;display:inline-block;}
.review-slide .swiper-slide.type07 .detail-box {padding:13px 0;}
.review-slide .detail-box .score {font-size:1.1rem;color:#555;letter-spacing:-1px;text-align:left;}
.review-slide .detail-box .score strong {font-size:1.2rem;font-weight:bold;color:#222;}
.review-slide .detail-box .balloon-up {position:relative;padding-left:37px;}
.review-slide .detail-box .balloon-up div {background-color:#0501CE;color:#fff;font-weight:bold;border-radius:90px;padding:3px 10px;font-size:1.3rem;}
.review-slide .detail-box .balloon-up .arrow02 {width:0;position:absolute;top:50%;left:0;transform:translateY(-50%)}
.review-slide .swiper-slide-active .detail-box .balloon-up .arrow02 {transition:all 1s;transition-delay:.3s;width:22px;}
.review-slide .up-tbl table {margin-top:7px;width:100%;letter-spacing:-1.2px;}
.review-slide .up-tbl table thead tr th {background-color:#F5F5F5;border-bottom:1px solid #e0e0e0;border-left:1px solid #e0e0e0;font-size:1.2rem;color:#222;text-align:center;padding:6px 0;font-weight:500;}
.review-slide .up-tbl table thead tr th:first-child {border-left:0;}
.review-slide .up-tbl table tbody tr.key-color td {color:#0501CE !important}
.review-slide .up-tbl table tbody tr td {border-bottom:1px solid #e0e0e0;border-left:1px solid #e0e0e0;font-size:1.2rem;font-weight:500;padding:3px 0;text-align:center;line-height:1}
.review-slide .up-tbl table tbody tr td:first-child {border-left:0;}
.review-slide .up-tbl table tbody tr td.key-color {color:var(--key-color);font-weight:500;}
.review-slide .swiper-slide.type07 > p span {display:block;}
.review-slide .swiper-slide.type07 > p .tit {color:#222;font-size:1.6rem;font-weight:bold;letter-spacing:-1.2px;line-height:1.2;}
.review-slide .swiper-slide.type07 > p .txt {margin-top:5px;}


/* n수 정규반 버전.v-regular */
.review-slide .swiper-slide.v-regular {border-radius:10px;padding:35px 15px;}
/*---title---*/
.review-slide .swiper-slide.v-regular .title > p strong {margin:4px 0 8px;}
/*---후기---*/
.review-slide .swiper-slide.v-regular > p {background-color:#F5F5F5;color:#666;padding:20px 15px;border-radius:20px;}
.review-slide .swiper-slide.v-regular > p .tit {color:var(--text-key);font-size:1.4rem;}
.review-slide .swiper-slide.v-regular > p .txt {margin-top:10px;}
/*---성적표---*/
.review-slide .swiper-slide.v-regular .detail-box {background:transparent;margin-top:20px;max-width:260px;margin:20px auto 0;}
.review-slide .swiper-slide.v-regular .detail-box:before, .review-slide .swiper-slide.v-regular .detail-box:after {content:'';display:block;position:absolute;top:50%;width:25px;height:45px;background-size:cover !important;transform:translateY(-50%)}
.review-slide .swiper-slide.v-regular .detail-box::before {left:0;background:url("https://russeldata.megastudy.net/campus/images/russel/m_russel/intro/2024/half/s-baytree-l.png") 0 0 no-repeat}
.review-slide .swiper-slide.v-regular .detail-box::after {right:0;background:url("https://russeldata.megastudy.net/campus/images/russel/m_russel/intro/2024/half/s-baytree-r.png") 0 0 no-repeat}
.review-slide .swiper-slide.v-regular .detail-box .score strong {font-size:1.1rem;}
.review-slide .swiper-slide.v-regular .detail-box .score strong span {color:var(--text-key)}
.review-slide .swiper-slide.v-regular .detail-box .arrow03 {width:16px;}
.review-slide .swiper-slide.v-regular .detail-box .balloon-up {padding-left:3px;}
.review-slide .swiper-slide.v-regular .up-tbl {margin-top:15px;}
.review-slide .swiper-slide.v-regular .up-tbl table tbody tr td {font-weight:bold;color:#888;padding:6px 0;}
.review-slide .swiper-slide.v-regular .up-tbl table thead tr th {border-top:1px solid #e0e0e0;background-color:#eee;}
.review-slide .swiper-slide.v-regular .up-tbl table thead tr th:first-child {border-left:1px solid #e0e0e0;}
.review-slide .swiper-slide.v-regular .up-tbl table thead tr th:last-child {border-right:1px solid #e0e0e0;}
.review-slide .swiper-slide.v-regular .up-tbl table tbody tr td:first-child {border-left:1px solid #e0e0e0;}
.review-slide .swiper-slide.v-regular .up-tbl table tbody tr td:last-child {border-right:1px solid #e0e0e0;}
/*--합격 type08--*/
.review-slide .swiper-slide.v-regular.type08 .title > p {line-height:1;width:calc(100% - 165px);}
.review-slide .swiper-slide.v-regular.type08 .title > p span {background-color:#1e1e1e;border-radius:99px;color:#fff;font-size:1.2rem;display:inline-block;padding:5px 15px;letter-spacing:-1px;}
.review-slide .swiper-slide.v-regular.type08 .title > p strong {display:inline-block;margin:10px 0 4px;line-height:1;font-size:1.4rem;font-weight:bold;letter-spacing:-1.2px;color:#222;}
.review-slide .swiper-slide.v-regular.type08 .title .detail-box .arrow02 {top:10px;right:22px;transform:translateY(0);left:initial;}
.review-slide .swiper-slide.v-regular.type08 .title .detail-box {margin-left:5px;margin-top:0;flex-direction:column;width:165px;padding:5px 10px;}
.review-slide .swiper-slide.v-regular.type08 .title .detail-box .score {padding-right:12px}
.review-slide .swiper-slide.v-regular.type08 .title .detail-box .score strong {font-size:1.1rem;color:var(--text-key)}
.review-slide .swiper-slide.v-regular.type08 .title .detail-box .arrow03 {width:0;position:absolute;top:10px;right:27px;display:inline-block;}
.review-slide .swiper-slide-active.v-regular.type08 .title .detail-box .arrow03 {transition:all 1s;transition-delay:.3s;width:16px;}
.review-slide .swiper-slide.v-regular.type08 .title .detail-box .balloon-up {margin-top:5px;padding-left:0;}
.review-slide .swiper-slide.v-regular.type08 .title .detail-box .balloon-up div {font-size:1.1rem;font-weight:500;}
.review-slide .swiper-slide.v-regular.type08 .title .detail-box .balloon-up div strong {font-weight:bold;}
/*--후기 type09--*/
.review-slide .swiper-slide.type09 {padding:35px 20px;}
.review-slide .swiper-slide.type09 .p-info {display:flex;flex-direction:column;align-items:center;padding-bottom:12px;border-bottom:1px solid #EAEAEA}
.review-slide .swiper-slide.type09 .p-info dl {display:flex;flex-direction:column;align-items:center;margin-bottom:10px;letter-spacing:-1px}
.review-slide .swiper-slide.type09 .p-info dt {display:flex;align-items:center;flex-direction:column;}
.review-slide .swiper-slide.type09 .p-info dt .year {display:flex;justify-content:center;align-items:center;width:50px;height:18px;line-height:18px;margin-bottom:10px;color:#FFF;font-size:1.2rem;font-weight:500;border-radius:25px;background:#615D5D;}
.review-slide .swiper-slide.type09 .p-info dt strong {color:#222;font-size:1.7rem;font-weight:bold;line-height:1;letter-spacing:-1.5px;}
.review-slide .swiper-slide.type09 .p-info dd {color:#666;font-size:1.3rem;font-weight:500}
.review-slide .swiper-slide.type09 .p-info > div {position:relative;display:flex;align-items:center;justify-content:center;letter-spacing:-1px;padding:6px 25px}
.review-slide .swiper-slide.type09 .p-info > div::before,.review-slide .swiper-slide.type09 .p-info > div::after {content:'';display:block;position:absolute;top:0;width:25px;height:45px;background-size:cover !important;}
.review-slide .swiper-slide.type09 .p-info > div::before {left:0;background:url("https://russeldata.megastudy.net/campus/images/russel/m_russel/intro/2024/regular/img_leaf_l.png") 0 0 no-repeat}
.review-slide .swiper-slide.type09 .p-info > div::after {right:0;background:url("https://russeldata.megastudy.net/campus/images/russel/m_russel/intro/2024/regular/img_leaf_r.png") 0 0 no-repeat}
.review-slide .swiper-slide.type09 .p-info > div > ul {position:relative;display:flex;flex-direction:column;padding-right:25px}
.review-slide .swiper-slide.type09 .p-info > div > ul::before {content:'';display:block;position:absolute;right:3px;width:21px;height:30px;background-size:cover!important;background:url("https://russeldata.megastudy.net/campus/images/russel/m_russel/intro/2024/regular/img_top_arrow.png") 0 0 no-repeat;}
.review-slide .swiper-slide.type09 .p-info > div > ul > li {font-size:1.2rem;}
.review-slide .swiper-slide.type09 .p-info > div > ul > li:first-of-type {color:var(--text-key);font-weight:700;}
.review-slide .swiper-slide.type09 .p-info > div > ul strong {color:#222}
.review-slide .swiper-slide.type09 .p-info > div > p {display:flex;justify-content:center;align-items:center;width:79px;height:20px;line-height:20px;color:#FFF;font-size:1.3rem;font-weight:bold;text-align:center;border-radius:25px;background:var(--text-key);}

.review-slide .swiper-slide.type09 .p-review p:first-of-type {padding-top:15px;color:var(--text-key);font-size:1.4rem;font-weight:700;}
.review-slide .swiper-slide.type09 .p-review p {padding-top:10px;color:#666;font-size:1.3rem;font-weight:500;letter-spacing:-1px;word-break:keep-all;}
.review-slide .swiper-slide.type09 .p-review p strong {color:#222;}
/* n수 정규반 버전.v-regular */

/*type11*/
.review-slide .swiper-slide.type11 {padding:35px 20px;}
.review-slide .swiper-slide.type11 .title p > span {font-size:1.2rem;background-color:#333;color:#fff;padding:3px 13px 5px;border-radius:20px;}
.review-slide .swiper-slide.type11 .title p > strong {font-size:1.4rem;}
.review-slide .swiper-slide.type11 .title p > b {color:#666;font-size:1.4rem;font-weight:500;letter-spacing:-1.2px;}

.review-slide .swiper-slide.type11 .detail-box {display:block;text-align:left;padding:25px 20px;letter-spacing:-1.2px;background-color:#f4f4f4;border-radius:10px;}
.review-slide .swiper-slide.type11 .detail-box p {color:var(--text-key);font-size:1.3rem;font-weight:bold;}
.review-slide .swiper-slide.type11 .detail-box div {margin-top:10px;font-size:1.2rem;color:#555;line-height: 1.4;}
.review-slide .swiper-slide.type11 .detail-box div strong {color:#222;font-weight:bold;font-size:1.2rem;}


/* bullet */
.review-slide .swiper-wrapper  {padding-bottom:40px;}
.review-slide.swiper-container-horizontal>.swiper-pagination-bullets {background-color:#d9d9d9;height:5px;border-radius:100px;}
.review-slide.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {margin:0 0 12px;width:10%;border-radius:100px;background-color:transparent;height:5px}
.review-slide.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {background-color:#343434}
/*// bullet */
/* //상승리뷰 슬라이드 */

/* 합격자 리스트 롤링 */
*[class^="pass-rolling"] {margin-top:10px;}
*[class^="pass-rolling"] .swiper-wrapper {transition-timing-function: linear;}
*[class^="pass-rolling"] .swiper-slide {background-color:#fff;border-radius:10px;padding:15px 0;width:152px;text-align:center}
*[class^="pass-rolling"] .swiper-slide div {background-color:#e0e0fe;border-radius:99px;color:#222;font-size:1.1rem;padding:2px 6px;font-weight:500;display:inline-block;}
*[class^="pass-rolling"] .swiper-slide p {margin-top:5px;font-size:1.3rem;font-weight:bold;letter-spacing:-1.2px;color:#222;line-height:1.2;}
*[class^="pass-rolling"] .swiper-slide dl {margin-top:5px;color:#666;letter-spacing:-1.2px;font-size:1.2rem;}
*[class^="pass-rolling"] .swiper-slide dl dt {font-weight:400;}
*[class^="pass-rolling"] .swiper-slide dl dd {font-weight:500;}
/* //합격자 리스트 롤링 */
/* ========================== cont03 ========================== */
.cont03 {background-color:#0300AD;}
.cont03 .inner {background:linear-gradient(to bottom, #03017C, transparent);margin:0 2.4%;position:relative}
.cont03 .float-banner {position:absolute;top:19px;right:5px;width:calc(168vw / 7.2);display:block;}
/* 바자관 탭슬라이드 */
.studyHall-navi {border-radius:10px 10px 0 0;overflow:hidden;}
.studyHall-navi .swiper-wrapper {display:flex;}
.studyHall-navi .swiper-slide {background-color:#EFEFEF;border:1px solid #dedede;padding:15px 0;text-align:center;font-size:1.4rem;font-weight:bold;letter-spacing:-1.2px;line-height:1.2;color:#898989;box-sizing:border-box;border-left:0;border-bottom:1px solid #222;border-top:0}
.studyHall-navi .swiper-slide.swiper-slide-thumb-active {color:#222;background-color:#fff;border-color:#222;border-bottom:1px solid #fff;border-left:1px solid #222;}
.studyHall-navi .swiper-slide:first-child {border-left:0}
.studyHall-navi .swiper-slide:last-child {border-right:0}
/* 코어일때 (5개탭) */
.studyHall-navi.core .swiper-wrapper {flex-wrap:wrap;}
.studyHall-navi.core .swiper-slide {border-bottom:1px solid #030181;border-color:#030181;background-color:rgb(155, 154, 241, 0.3);color:#9B9AF1;width:calc(100% / 3) !important;}
.studyHall-navi.core .swiper-slide.type02 {width:50% !important;} 
.studyHall-navi.core .swiper-slide:nth-child(4) {border-bottom:0;border-left:0;}
.studyHall-navi.core .swiper-slide:last-child {border-bottom:0}
.studyHall-navi.core .swiper-slide.swiper-slide-thumb-active {background-color:#E74824;color:#fff;}

.studyHall-slide .swiper-slide {background-color:#fff;padding:40px 14px;box-sizing:border-box;}
.studyHall-slide .swiper-slide dl {text-align:center;letter-spacing:-1.2px;}
.studyHall-slide .swiper-slide dl dt {font-size:1.6rem;font-weight:bold;line-height:1;}
.studyHall-slide .swiper-slide dl dt strong{color:var(--text-key);}
.studyHall-slide .swiper-slide dl dd {margin-top:13px;font-size:1.3rem;color:#555;line-height:1.4;letter-spacing:-1.2px;}
.studyHall-slide .swiper-slide dl dd strong {color:#222;font-weight:bold;}
.studyHall-slide .swiper-slide .r-txt {color:#aaa;margin:-18px 0 10px 0}
/*바자관 시간표*/
.cont03 .schedule-box {position:relative;margin-top:30px;}
.cont03 .schedule-box > p {font-size:1.1rem;color:#000;font-weight:bold;letter-spacing:-1.2px;position:absolute;top:0;left:0;}
.cont03 .schedule-box .tbl-type01 {transform:scale(.6) translateX(-33%) translateY(-21%);width:166%;}
.cont03 .schedule-box .tbl-type01 {border-top:1px solid #e0e0e0;}
.cont03 .schedule-box .tbl-type01 thead th {border-bottom:1px solid #e0e0e0;}
.cont03 .schedule-box .tbl-type01 td {text-align:center;letter-spacing:-1.2px;color:#222;}
.cont03 .schedule-box .tbl-type01 td.b-blue {background-color:#F1F6FD}
.cont03 .schedule-box .tbl-type01 td.b-red {background-color:#FFF3EF}
.cont03 .schedule-box .tbl-type01 td.b-green {background-color:#F7FAEE}

.cont03 .stu-review.type01 {margin-top:-25%}
.stu-review {background-color:rgb(239, 239, 246, .5);padding:22px 17px;border-radius:10px;}
.stu-review > p {font-size:1.2rem;letter-spacing:-1.2px;color:#555;}
.stu-review > p strong {color:#222;font-weight:bold;}
.stu-review > div {margin-top:10px;display:flex;justify-content: flex-end;align-items:center;}
.stu-review > div p {text-align:right;color:#222;font-size:1.2rem;letter-spacing:-1.2px;}
.stu-review > div p strong {font-weight:bold;}
.stu-review > div div {width:35px;margin-left:5px;}

.cont03 .chart-area01 {width:265px;height:265px; margin:30px auto;position:relative}
.cont03 .chart-area01 canvas {position:relative;z-index: 2;transform:rotate(10deg)}
.cont03 .chart-area01 .chart-img {position:absolute;top:11px;left:5px;width:316px;}
.cont03 .chart-area01 .chart-txt {position:absolute;top:calc(50% + 5px);left:50%;transform:translateX(-50%) translateY(-50%);text-align:center;z-index:3;}
.cont03 .chart-area01 .chart-txt p {font-size:1.6rem;letter-spacing:-1.2px;font-weight:bold;color:#222;}
.cont03 .chart-area01 .chart-txt p strong {color:var(--text-key);}
.cont03 .chart-area01 .chart-txt a {margin-top:9px;font-size:1.2rem;width:121px;height:32px;line-height:30px;background-color:#202020;color:#fff;border-radius:5px;box-sizing:border-box;display:block;letter-spacing:-1.2px;}
.cont03 .slide-img01 {margin:30px 0;}
.cont03 .slide-img02 {margin:10px 0 30px;position:relative}
/* 바자관시간표 팝업 */
.layer-tt{display:none;overflow-y:scroll;position:fixed;left:5%;top:50%;z-index:13;width:90%;max-height:560px;padding:20px 5%;background:#fff;border-radius:10px;transform:translateY(-50%);box-sizing:border-box;}
.layer-tt.on {display:block;}
.layer-tt > p {text-align: center;font-weight: bold;}
.layer-tt .bt-close-tt {position:absolute;top:12px;right:12px;}
.layer-tt .bt-close-tt  img{width:16px;height:auto;}

.cont03 .layer-tt .r-txt {color:rgb(0, 0, 0, 0.45);}
.mask-bg {z-index:11 !important;}
.half-wrap .ico-txt {display: inline-block;padding:2px 3px;font-size:1.2rem;color:#fff;}
.half-wrap .ico-txt.s {background:#52a7d8;}
.half-wrap .ico-txt.b {background:#5259d8;}
.half-wrap .ico-txt.v {background:#9452d8;}
.half-wrap .ico-txt.p {background:#d55e91;}
.half-wrap .ico-txt.r {background:#d34664;}
.half-wrap .ico-txt.g {background: #48aa81;}
.half-wrap .mb4 {margin-bottom:4px;}
.btn-sel {display:inline-block;width:46px;padding:3px 5px;background:#52a7d8;color:#fff;font-size:1.2rem;}
.btn-duty {display:inline-block;width:46px;padding:3px 5px;background:#5259d8;color:#fff;font-size:1.2rem;}
.btn-danka-type01 {display:inline-block;width:46px;padding:3px 5px;background:#9452d8;color:#fff;font-size:1.2rem;}
.btn-advice {display:inline-block;width:46px;padding:3px 5px;background:#d34664;color:#fff;font-size:1.2rem;}
.btn-greet {display:inline-block;width:46px;padding:3px 5px;background:#48aa81;color:#fff;font-size:1.2rem;}
.btn-eng {display:inline-block;padding:3px 5px;background:#d55e91;color:#fff;font-size:1.2rem;}
.btn-eng02 {display:inline-block;padding:3px 5px;background:#f357d1;color:#fff;font-size:1.2rem;}
.tbl-type01 {border-collapse:separate;}
.sticky {position: sticky;top: 0;left: 63.34px !important;z-index: 1;background-color: #fff;border-left:1px solid #d9d9d9}
.sticky4 {position: sticky;top: 0;left: 52.16px;z-index: 1;background-color: #fff;}
.stickyCj {position: sticky;top: 0;left: 60px;z-index: 1;background-color: #fff;}
/* 바자관 시설보기 팝업 */
.bt-tt02 {position:absolute;top:0;right:0;font-size:0;width:26%;height:26%;color:transparent;text-indent:-9999px;}
/* .layer-tt02 {display:none;overflow-y:scroll;position:fixed;left:calc(2.4% + 14px);top:50%;z-index:13;width:calc(95.2% - 28px);border-radius:7%;transform:translateY(-50%);box-sizing:border-box;} */
.layer-tt02 {display:none;overflow-y:scroll;position:fixed;left:calc(2.4% + 10px);top:50%;z-index:13;width:calc(95.2% - 20px);border-radius:6vw;transform:translateY(-50%);box-sizing:border-box;}
.layer-tt02.on {display:block;}
.layer-tt02 .bt-close-tt {position:absolute;top:12px;right:12px;width:10%;height:10%;font-size:0;color:transparent;text-indent:-9999px;}
.layer-tt02 .bt-close-tt img {width:16px;height:auto;}
/* //바자관 탭슬라이드 */

.cont03 .r-txt {color:#8E8DC1;}
/* ========================== cont04 ========================== */
.cont04 {background-color:#2F2F2F}
.cont04 .inner {padding:0 10%}
/* 관리 탭슬라이드 */
.manage-slide-navi .swiper-slide {background-color:#E3E3E3;color:#959595;font-size:1.4rem;letter-spacing:-1px;text-align:center;padding:17px 0;width:100%;border-radius:10px 10px 0 0;font-weight:bold;transition:.3s;}
.manage-slide-navi .swiper-slide-thumb-active {color:#fff;background-color:#E33A05}
.manage-slide-navi .swiper-slide-thumb-active.slide02 {background-color:#C13508}
/* bullet */
.manage-slide .swiper-wrapper  {padding-bottom:40px;}
.manage-slide.swiper-container-horizontal>.swiper-pagination-bullets {background-color:rgb(255, 255, 255, 0.5);height:5px;border-radius:100px;}
.manage-slide.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {margin:0 0 12px;width:10%;border-radius:100px;background-color:transparent;height:5px}
.manage-slide.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {background-color:rgb(255, 255, 255, 0.7)}
/*// bullet */
/* //관리 탭슬라이드 */

/* 이미지 롤링 */
.img-rolling {margin:30px 0 0;padding-bottom:35px}
.img-rolling .swiper-wrapper {transition-timing-function: linear;}
.img-rolling .swiper-wrapper .swiper-slide {width:180px;box-shadow: 0px 7px 10px 2px rgba(0, 0, 0, 0.20);}
/* //이미지 롤링 */

/* 학생 리뷰 슬라이드 type01 */
.stu-r-slide .stu-review {background-color:#3b3b3b;}
.stu-r-slide .stu-review > p {color:#E3E3E3;}
.stu-r-slide .stu-review > p strong {color:#fff}
.stu-r-slide .stu-review div {justify-content: flex-start;}
.stu-r-slide .stu-review div p {color:#fff;text-align:left;}
.stu-r-slide .stu-review div div {background-color:#fff;border-radius:100%;padding:5px;box-sizing:border-box;margin:0 5px 0 0;width:30px;}
/* bullet */
.stu-r-slide .swiper-wrapper  {padding-bottom:35px;}
.stu-r-slide .swiper-pagination-bullet {margin:0 2px !important;background-color:#545454;opacity:1;width:9px;height:9px;}
.stu-r-slide .swiper-pagination-bullet-active {background-color:#E3E3E3}
/*// bullet */
/* //학생 리뷰 슬라이드 type01 */

/* ========================== cont05 ========================== */
.cont05 {background-color:#fff;padding-bottom:60px}
.danka-info {display:flex;flex-wrap:wrap;}
.danka-info li {width:calc(50% - 5px);margin-left:9px;padding:20px 0;box-sizing:border-box;background-color:#eee;border-radius:10px;}
.danka-info li:nth-child(odd) {margin-left:0;}
.danka-info li:nth-child(n+3) {margin-top:9px;}
.danka-info li p {color:#111;font-size:1.3rem;letter-spacing:-1.2px;text-align:center;line-height:1.4}
.danka-info li p strong {font-weight:bold;}

/* 선생님 롤링 슬라이드 */
.teacher-rolling-inner {margin-top:35px;}
.cont05 .r-txt {margin:25px 4% 0}
.teacher-rolling .swiper-wrapper {transition-timing-function: linear;}
.teacher-rolling .swiper-slide {width:27%!important;}
.teacher-rolling .swiper-slide:nth-of-type(2n) {padding-top:10%}
.teacher-rolling .teacher-sub-list.core_dj .swiper-slide:nth-of-type(2n) {padding-top:0%}
.teacher-sub-list.russel_us .info-box {height: 80px !important;}
.teacher-rolling .swiper-slide .t-name {margin-bottom:10px;text-align: left;}
.teacher-rolling .swiper-slide .t-name dt {font-size:1.1rem;color: #202020;display:flex;align-items:flex-end;height:30px}
.teacher-rolling .swiper-slide .t-name .flag {display:flex;align-items:center;}
.teacher-rolling .swiper-slide .t-name .flag span {overflow:hidden;display:inline-block;padding:0 8px;height:18px;line-height:18px;color:#fff;background:#1090ab;border-radius: 15px;margin-left:5px}
.teacher-rolling .swiper-slide .t-name .flag .new {background:#8946bd;}
.teacher-rolling .swiper-slide .t-name dd {font-size:1.3rem !important;color: #202020;}
.teacher-rolling .swiper-slide .t-name dd strong {font-size:1.3rem !important;color: #202020;}
.teacher-rolling .swiper-slide .t-img {height:43vw;display:flex;align-items: flex-end;justify-content:center; box-shadow: 3px 3px 10px rgba(1, 1, 1, .2);background-color:#B6B6E2;overflow:hidden;line-height:0}
.teacher-rolling .swiper-slide img {width:100%}
.half-wrap .teacher-wrap .teacher-sub-list li {width:53% !important}
.half-wrap .teacher-wrap .teacher-sub-list .t-sub {letter-spacing:-1px;}
.half-wrap .teacher-wrap .teacher-sub-list .pic {background:#B6B6E2}

/* //선생님 롤링 슬라이드 */

/* 단과 링크 리스트 */
.danka-l-list {margin-top:35px}
.danka-l-list a {display:block;border:1px solid #d8d8d8;background-color:#fff;border-radius:10px;position:relative;padding:25px 19px 25px 82px;box-sizing: border-box;overflow:hidden;margin-top:15px;}
.danka-l-list a:first-child {margin-top:0;}
.danka-l-list a span {background-color:#0400CD;font-size:1.3rem;letter-spacing:-1.2px;color:#fff;width:65px;height:35px;display:flex;align-items:center;justify-content:center;position:absolute;top:0;left:0;border-radius:0 0 10px 0}
.danka-l-list a p {color:#777;font-size:1.4rem;letter-spacing:-1.2px;}
.danka-l-list a div {margin-top:8px;color:#0400cd;position:relative;padding-right:17px;font-size:2rem;font-weight:bold;letter-spacing:-1.2px;display:inline-block;}
.danka-l-list a div:after {content:'';width:10px;height:10px;border-top:2px solid #ddd;border-right:2px solid #ddd;position:absolute;top:50%;right:0;transform:rotate(45deg) translateY(-50%)}

/* 학생 리뷰 슬라이드 type02 */
.stu-r-slide.type02 {margin-top:35px;}
.stu-r-slide.type02 .stu-review {background-color:#EFEFF6;}
.stu-r-slide.type02 .stu-review > p {color:#555555;}
.stu-r-slide.type02 .stu-review > p strong {color:#111}
.stu-r-slide.type02 .stu-review div p {color:#222222;}
.stu-r-slide.type02 .swiper-pagination-bullet {background-color:#DEDEE5}
.stu-r-slide.type02 .swiper-pagination-bullet-active  {background-color:#555}
/* //학생 리뷰 슬라이드 type02 */

/* ========================== cont06 ========================== */
.cont06 {background-color:#F5F5F5;}
.program-slide {margin:0 4%;overflow:initial}
.program-slide .swiper-slide {box-shadow: 2px 5px 7px 0px rgba(0, 0, 0, 0.06);border-radius:25px;overflow:hidden;}
/* bullet */
.program-slide .swiper-wrapper  {padding-bottom:40px;}
.program-slide.swiper-container-horizontal>.swiper-pagination-bullets {background-color:#D9D9D9;height:5px;border-radius:100px;}
.program-slide.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {margin:0 0 12px;width:10%;border-radius:100px;background-color:transparent;height:5px}
.program-slide.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {background-color:#343434}
/*// bullet */

.cont06 .tit {font-size:1.6rem;font-weight:bold;letter-spacing:-1px;text-align:center;color:#222;margin-top:20px;}
.cont06 .tit strong {color:#0400cd;}
.y-plan {margin-top:15px;background-color:#fff;}
.stu-r-slide.type03 {margin-top:35px;}
.stu-r-slide.type03 .stu-review {background-color:#E6E6E6;}
.stu-r-slide.type03 .stu-review > p {color:#555555;}
.stu-r-slide.type03 .stu-review > p strong {color:#111}
.stu-r-slide.type03 .stu-review div p {color:#222222;}
.stu-r-slide.type03 .swiper-pagination-bullet {background-color:#D3D3D3}
.stu-r-slide.type03 .swiper-pagination-bullet-active  {background-color:#555}

.y-plan .ico-txt {display: inline-block;padding:2px 3px;font-size:1.2rem;color:#fff;}
.y-plan .ico-b {background:#99ccff}
.y-plan .ico-db {background:#89b8e7}
.y-plan .ico-yg {background:#e2f0d9;}
.y-plan .ico-y {background:#ffffcc}
.y-plan .ico-p {background:#dde7f1}
.y-plan .ico-o {background:#fae4c3;}
.y-plan .ico-g {background:#c3fae8;}
.y-plan .ico-six {background:#FEE3F7;}
.y-plan .ico-pm {background:#FFDBDB;}

/* 스케쥴 */
.study-schedule {position: relative;margin-top:15px;}
.study-schedule .year-tab-wrap {overflow-x: scroll;position:relative;height:65px;width:100%;}
.study-schedule .year-tab {position:absolute;top:0;left:0;display: flex;justify-content: space-around;}
.study-schedule .year-tab a {width:70px;height:45px;line-height:45px;margin-right:1%;;font-size: 1.6rem;color:#E5EFE9;background:#ACACAC;border-radius: 10px; text-align: center;}
.study-schedule .year-tab a strong {font-weight: bold;color:#fff}
.study-schedule .year-tab a.on {background:#363EAD}
.study-schedule .year-cont {display: none;}
.study-schedule .year-cont table.tbl-type01 {background-color: unset;}
.study-schedule .year-cont table th {font-weight: bold;background:#767676; color: #Fff;font-size: 2rem;}
.study-schedule .year-cont table td {border-left: none; padding: 2% 5% 6% 5%;display: block;}
.study-schedule .year-cont table tbody tr:nth-child(2n) {margin-bottom: 12px;display: block;background: #fff;}
.study-schedule .year-cont table.tbl-type01 tbody td {border-bottom: none;}
.study-schedule .year-cont li {color:#000; font-size: 1.4rem;}
.study-schedule .year-cont strong {color:#222; font-size: 1.4rem;}
.study-schedule .year-cont > div {background: #363EAD;padding: 14px 0;}
.study-schedule .year-cont > div p {color: #fff;font-weight: 700;text-align: center;font-size: 1.9rem;line-height: 1.2;}

/* ========================== 하단 바 ========================== */
.bottom-bar {background-color:var(--text-key);padding:33px 0;text-align:center;}
.bottom-bar p {font-size:2.1rem;letter-spacing:-1.2px;color:#fff;font-weight:300}
.bottom-bar p strong {font-weight:bold;}
.bottom-bar p strong span {font-weight:inherit;color:#FB4911}
/* ========================== 모집안내 ========================== */
.recruit-wrap {background-color:#F4F4F4}
.recruit-tit {padding:75px 0 15px;font-size:2.5rem;letter-spacing:-1.2px;line-height:1.2}
.recruit-tit span, .recruit-tit strong {color:var(--text-key);letter-spacing:-1.2px;}
.recruit-txt {text-align:center;font-size:1.5rem;font-weight:500;letter-spacing:-1px}

@media screen and (min-width: 430px){
   .cont03 .schedule-box {height:210px;}
   .cont03 .stu-review.type01 {margin-top:30px;}
}

/* ========================== 학원별 ========================== */
/* 코어광주 */
.core_gj .cont01 {padding-bottom:0;}

/* 코어전주 */
.core_jj .y-plan tr td:nth-child(4) {display:none;}

/* 강남 */
.russel_gn .cont01 .h-box-result {position:relative}
.russel_gn .cont01 .h-box-result .l-pop {position:absolute;top:10px;right:10px;width:100%;}
.russel_gn .y-plan tr td:nth-child(4) {display:none;}
.russel_gn .y-plan tr td:nth-child(6) {display:none;}

/* 영통 */
.russel_yt .y-plan tr td:nth-child(4) {display:none;}
.russel_yt .y-plan tr td:nth-child(6) {display:none;}

/* 목동 */
.russel_md .y-plan tr td:nth-child(4) {display:none;}
.russel_md .y-plan tr td:nth-child(6) {display:none;}
.y-plan tr td.six-pack {display:none;}
.russel_md .y-plan tr td.six-pack {display:table-cell;}
.visual-area.russel_md .v-img {width:calc(342vw / 7.2);top:calc(290vw / 7.2);left:calc(323vw / 7.2)}
.visual-area.russel_md .v-tit02 {width:calc(197vw / 7.2)}
.visual-area.russel_md .v-tit03 {width:calc(475vw / 7.2);padding-top:0;margin-top:calc(-10vw / 7.2);padding-left:calc(210vw / 7.2)}
.visual-area.russel_md .v-tit04 {width:calc(359vw / 7.2);padding-top:calc(13vw / 7.2);padding-left:calc(48vw / 7.2);position:relative;z-index: 2;animation:fadeIn ease 1s 3.5s both;}

/* 부천 */
.russel_bc .cont03 .stu-review.type01 {margin-top:-20%;}
.russel_bc .y-plan tr td:nth-child(4) {display:none;}
.russel_bc .y-plan tr td:nth-child(6) {display:none;}
.y-plan tr td:nth-child(8) {display:none;}
.russel_bc .y-plan tr td:nth-child(8) {display:table-cell;}
.russel_bc .y-plan tr td.six-pack {display:table-cell;}

/* 대치 */
.russel .cont01 .h-box-result {position:relative}
.russel .cont01 .h-box-result .l-pop {position:absolute;top:10px;right:10px;width:100%;}
.russel .y-plan tr td:nth-child(4) {display:none;}
.russel .y-plan tr td:nth-child(6) {display:none;}

/* 분당 */
.russel_bd .y-plan tr td:nth-child(4) {display:none;}
.russel_bd .y-plan tr td:nth-child(6) {display:none;}

/* 중계 */
.russel_jg .y-plan tr td:nth-child(4) {display:none;}
.russel_jg .y-plan tr td:nth-child(6) {display:none;}

/* 코어청주 */
.core_cj .y-plan tr td:nth-child(4) {display:none;}
/* 평촌 */
.russel_pc .y-plan tr td:nth-child(8) {display:table-cell;}
/* 대구 */
.russel_dg .review-slide > .swiper-slide.type07 .detail-box .balloon-up .arrow02 {transition:all 1s;transition-delay:.3s;width:16px;}
/* 센텀 */
.russel_ct .y-plan tr td:nth-child(4) {display:none;}
.russel_ct .y-plan tr td:nth-child(6) {display:none;}
/* 코어창원 */
.core_cw .h-box-result > ul > li div strong {color:#e75111;}
.core_cw .y-plan tr td:nth-child(4) {display:none;}
/* 코어원주 */
.core_wj .y-plan tr td:nth-child(4) {display:none;}