/* ====================================================================================================
  공통
==================================================================================================== */
body {
  letter-spacing: -1px;
  color: #222;
  font-size: 62.5%;
}

html {
  font-size: 62.5%;
}