<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.asp" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="Detailed">
            <remove statusCode="501" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/500_error/404.asp" responseMode="ExecuteURL" />
            <error statusCode="500" prefixLanguageFilePath="" path="/500_error/500-100.asp" responseMode="ExecuteURL" />
            <error statusCode="501" prefixLanguageFilePath="" path="/500_error/500-100.asp" responseMode="ExecuteURL" />
        </httpErrors>
        <rewrite>
            <outboundRules>
                <rule name="AddSameSiteCookieFlag">
                    <match serverVariable="RESPONSE_Set-Cookie" pattern="^(ASPSESSIONID)(.*)$" />
                    <action type="Rewrite" value="{R:0};SameSite=none;Secure" />
                </rule>
            </outboundRules>
        </rewrite>
    </system.webServer>



</configuration>
