/* ÇÃ·ÎÆÃ ¹è³Ê ¼û±è */
.wrap_left_sky, .wrap_right_sky {display: none;}
.headerWrap {margin-bottom:0}

/* visual */
.brand-wrap {position: relative;z-index: 2;}
.brand-wrap .visual {position:relative;width:100%;height:100vh;min-height:100vh;max-height:100vh;overflow: hidden;z-index: 10;}
/* .brand-wrap .visual .video-wrap {position:relative;width:100%;min-width:1400px;max-width:2600px;height:100vh;margin:0 auto} */
.brand-wrap .visual .video-wrap {position:relative;width:100%;min-width:100%;max-width:100%;width:auto;height:auto;margin:0 auto}
.brand-wrap .visual .video-wrap::after {content:"";position: absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity: .2;z-index:0}
.brand-wrap .visual video {object-fit:contain;object-position: center;flex:1;position:sticky;position: -webkit-sticky;top:0;left:0;text-align: center;height:100%;}
.brand-wrap .visual-txt {position: absolute;top:0;left:0;height: 100vh;width: 100%;}
/* .brand-wrap .visual-txt::after {content:"";position: absolute;top:0;left:0;width:100%;height:100vh;background:#000;opacity: .2;z-index:0} */
.brand-wrap .visual-txt .txt-box {position:absolute;top:50%;left:50%;width:1240px;z-index: 1;transform: translate(-50%, -29%);}
.brand-wrap .visual-txt .txt-box p:nth-of-type(1) {margin-left:10px;font-size:51px;font-weight: 400;margin-bottom:25px;}
.brand-wrap .visual-txt .txt-box p {color:#fff;font-size:133px;font-weight: 700;line-height: 1;}
.brand-wrap .visual-txt .txt-box p span {display: inline-block;}
.brand-wrap .visual-txt .txt-box p:nth-of-type(1) {animation:slideUp ease-out .6s 1s both}
.brand-wrap .visual-txt .txt-box p span {animation:slideLeft ease-in .5s both}
.brand-wrap .visual-txt .txt-box p:nth-of-type(2) span:nth-of-type(1) {animation-delay: 1.2s}
.brand-wrap .visual-txt .txt-box p:nth-of-type(2) span:nth-of-type(2) {animation-delay: 1.4s;}
.brand-wrap .visual-txt .txt-box p:nth-of-type(2) span:nth-of-type(3) {animation-delay: 1.6s;}
.brand-wrap .visual-txt .txt-box p:nth-of-type(2) span:nth-of-type(4) {animation-delay: 1.8s;}
.brand-wrap .visual-txt .txt-box p:nth-of-type(2) span:nth-of-type(5) {animation-delay: 2s;}
.brand-wrap .visual-txt .txt-box p:nth-of-type(3) span:nth-of-type(1) {animation-delay: 1.9s;}
.brand-wrap .visual-txt .txt-box p:nth-of-type(3) span:nth-of-type(2) {animation-delay: 2.1s}
.brand-wrap .visual-txt .txt-box p:nth-of-type(3) span:nth-of-type(3) {animation-delay: 2.2s}
.brand-wrap .visual-txt .txt-box p:nth-of-type(3) span:nth-of-type(4) {animation-delay: 2.4s}
.brand-wrap .visual-txt .txt-box p:nth-of-type(3) span:nth-of-type(5) {animation-delay: 2.6s}


/* °íÁ¤¸Þ´º */
.fix-wrap {position:absolute;top:21.6%;left:50px;display: block;z-index: 10;transform: translateY(-50%);z-index: 5;}
.fix-wrap.on {position:fixed;top:50%}
.fix-wrap .fix-menu {transition:all .3s ease-out}
.fix-wrap a {writing-mode: tb-rl;display:block;box-sizing: border-box;height:110px;padding:35px 20px;font-size:19px;color:#cbcaca;border-right:2px solid #eee;text-decoration: none;position: relative;transition: all ease .4s;}
.fix-wrap a:last-child {height:140px;}
.fix-wrap a:focus {outline: none;}
.fix-wrap a.on {color:#0e80f5;}
.fix-wrap a::after {content:"";position: absolute;top:0;right:-2px;display:block;height:0px;width:2px;transition: all ease .4s;}
.fix-wrap a.on::after {height:100%;background:#0e80f5;}
.fix-wrap .fix-menu.last a {color:#78b6f5;border-color:#78b6f5}
.fix-wrap .fix-menu.last a.on {color:#fff}
.fix-wrap .fix-menu.last a.on::after {background:#fff}

/* ÄÁÅÙÃ÷ °øÅë */
.content-wrap {position: relative;}
.brand-wrap .content {height: 100vh;position: relative;z-index: 2}
.brand-wrap .content .inner {width:1240px;height:100vh;margin:0 auto;position: relative;}
.brand-wrap .content .inner.intro {width:1200px;margin:0 auto;}
.brand-wrap .content .left-box {position: absolute;top:40%;left:0;transform:translateY(-50%)}
.brand-wrap .content .right-box {position: absolute;top:65%;right:0;transform:translateY(-50%)}

.brand-wrap .content .inner .img {position: absolute;top:60%;right:0;transform: translateY(-50%);}
.brand-wrap .content .inner .tit {margin-bottom:45px;font-size:57px;color:#0e80f4;font-weight: 300;line-height: 1.3;opacity: 0;transform:translateY(-30%);transition: all ease-out .5s .2s;letter-spacing: -2px;}
.brand-wrap .content .inner .tit strong {display: block;font-weight: 800;}
.brand-wrap .content .inner .txt {margin-bottom:40px;font-size:20px;color:#222;line-height: 1.8;opacity: 0;transform:translateX(10%);transition: all ease-out .4s .4s;}
.brand-wrap .content.on {z-index: 3;}
.brand-wrap .content.on .tit {opacity: 1!important;transform:translateY(0%)!important}
.brand-wrap .content.on .txt {opacity: 1;transform:translateX(0%)}

/* ½ÃÀÛ */
.brand-wrap .content:nth-of-type(1) .inner .txt:nth-child(3) {transition-delay: .8s;}
.brand-wrap .content:nth-of-type(1) .inner .right-box {position: absolute;}
.brand-wrap .content:nth-of-type(1) .inner .right-box p {animation: hideShow 10s infinite both;}
.brand-wrap .content:nth-of-type(1) .inner .right-box p:nth-child(2) {animation-delay: 5s;}

/* µµÀü */
.brand-wrap .content:nth-of-type(2) .left-box {top:40%;height:600px}
.brand-wrap .content:nth-of-type(2) .left-box p {position:absolute;top:0;left:0;animation: hideShow 10s infinite both;}
.brand-wrap .content:nth-of-type(2) .left-box p:nth-child(2) {animation-delay: 5s;}
.brand-wrap .content:nth-of-type(2).on .tit {transition-delay: .4s;}
.brand-wrap .content:nth-of-type(2).on .txt:nth-of-type(2) {transition-delay: .7s;}
.brand-wrap .content:nth-of-type(2).on .txt:nth-of-type(3) {transition-delay: 1.1s;}
.brand-wrap .content:nth-of-type(2) .inner .right-box {top:42%;transform: translate(10%,-50%);}

/* ¼ºÀå */
.brand-wrap .content:nth-child(3) {position: relative;height:300vh}
.brand-wrap .content:nth-child(3) .inner {width:100%}
.brand-wrap .content:nth-child(3) .left-box:nth-child(1) {width: 100%;}
.brand-wrap .content:nth-child(3) .left-box:nth-child(3) {width: 100%}
.brand-wrap .content:nth-child(3) .right-box {width: 100%;}

.brand-wrap .content:nth-child(3) .g-box {position: relative;height:100vh;overflow: hidden;}
.brand-wrap .content:nth-child(3) .g-box:nth-of-type(1) {background:url('https://russeldata.megastudy.net/campus/images/russel/intro/info/bg_brand03.jpg') center center no-repeat;background-size: auto auto;background-attachment: fixed;} 
.brand-wrap .content:nth-child(3) .g-box:nth-of-type(2) {background:url('https://russeldata.megastudy.net/campus/images/russel/intro/info/bg_brand03_2.jpg') center center no-repeat;background-size: auto auto;background-attachment: fixed;} 
.brand-wrap .content:nth-child(3) .g-box:nth-of-type(2) .growth-box {position: absolute;top:50%;left:0;width:100%;text-align: center;transform: translateY(-50%);}

.brand-wrap .content:nth-child(3) .parallax-window {background: transparent; min-height: 100vh;position: absolute;top:0;left:0;z-index: 0;width:100%;}
.brand-wrap .content:nth-child(3) .growth-box {width:1240px;margin:0 auto;position:relative;text-align: center;height:100vh;z-index:1}
.brand-wrap .content:nth-child(3) .growth-box:nth-of-type(1) .txt-grow {top:50%;transform: translateY(-110%);}
.brand-wrap .content:nth-child(3) .growth-box .txt-grow {position: absolute;left:0;top:45%;left:0;width:100%;}
.brand-wrap .content:nth-child(3) .growth-box .txt-grow .tit {color:#fff;}
.brand-wrap .content:nth-child(3) .growth-box .txt-grow .s-txt {margin-top:310px;color:#fff;font-size:24px;line-height: 1.6;opacity:0;font-weight:300;transition:all ease-out .3s .5s}
.brand-wrap .content:nth-child(3).on .growth-box .txt-grow .s-txt {opacity:1;}
.brand-wrap .content:nth-child(3) .box-result {position:relative;padding:0 75px 15px;display:inline-block;margin-top:50px;opacity:0;}
.brand-wrap .content:nth-child(3).on .box-result {transition:all ease-out .3s .9s;opacity: 1;}
.brand-wrap .content:nth-child(3) .box-result::before {content:"";position:absolute;top:50%;left:0;transform:translateY(-50%);display:block;width:51px;height:94px;background:url('https://russeldata.megastudy.net/campus/images/russel/intro/info/bg_leaf_01.png') left top no-repeat}
.brand-wrap .content:nth-child(3) .box-result::after {content:"";position:absolute;top:50%;right:0;transform:translateY(-50%);display:block;width:51px;height:94px;background:url('https://russeldata.megastudy.net/campus/images/russel/intro/info/bg_leaf_02.png') left top no-repeat}
.brand-wrap .content:nth-child(3) .box-result p:first-child {margin-bottom:10px;font-weight:700;font-size:31px;color:#fff}
.brand-wrap .content:nth-child(3) .box-result p:last-child {font-size:25px;color:#fff;font-weight: 300;}
.brand-wrap .content:nth-child(3) .box-result p:last-child strong {font-weight: 500;margin:0 10px}
.brand-wrap .content:nth-child(3) .box-result p:last-child span {margin:0 10px}
.brand-wrap .content:nth-child(3) .g-box:nth-of-type(2) .txt-grow {top:50%;transform:translateY(-50%)}
.brand-wrap .content:nth-child(3) .g-box:nth-of-type(2) .tit {transition: all ease-in .4s;opacity: 0!important;transform:translateY(-10%)!important}
.brand-wrap .content:nth-child(3) .g-box:nth-of-type(2).on .tit {opacity: 1!important;transform:translateY(0%)!important}
.brand-wrap .content:nth-child(3) .g-box:nth-of-type(3) .txt-grow {top:50%;transform:translateY(-50%)}
.brand-wrap .content:nth-child(3) .g-box:nth-of-type(4) .s-txt {margin-top:310px}
.brand-wrap .content:nth-child(3) .g-box:nth-of-type(4) .txt-grow {top:50%;transform:translateY(-50%)}

.brand-wrap .content:nth-child(3) .number {display:flex;justify-content:center;position: absolute;top:48%;left:0;width:100%;transform:translateY(45%)}
.brand-wrap .content:nth-child(3) .number li {padding:0 20px;position: relative;color:#fff;text-align: center;font-size: 20px;font-weight: 300;}
.brand-wrap .content:nth-child(3) .number li::after {content: "";display: block;width:1px;height:147px;position:absolute;top:50%;right:0;background:#fff;opacity: .5;transform:translateY(-50%)}
.brand-wrap .content:nth-child(3) .number li:last-child::after {display: none;}
.brand-wrap .content:nth-child(3) .number li .fz50 {font-size: 50px;}
.brand-wrap .content:nth-child(3) .number li .num {display:inline-block;width: .55em;height: 1em;overflow: hidden;line-height: 1em;font-size: 61px;font-weight: 700;}
.brand-wrap .content:nth-child(3) .number li span {display: block;margin-top:7px}
.brand-wrap .content:nth-child(3) .number li i {font-size:14px;color:#999;font-style: normal;}
/* .brand-wrap .content:nth-child(3) .number li:last-child span {margin-top: 18px;;} */
.brand-wrap .content:nth-child(3) .number li .num span {position: relative;display:inline}
.brand-wrap .content:nth-child(3) .number li .comma {line-height:0;font-size: 70px;}
.brand-wrap .content:nth-child(3) .number-box.on .number li sup {padding-top:12px;font-size: 15px;color:#b8b8b8;}
.brand-wrap .content:nth-child(3) .number-box.on {opacity: 1;}
.brand-wrap .content:nth-child(3) .number-box.on .number li:nth-child(1) span {top:-3em;}
.brand-wrap .content:nth-child(3) .number-box.on .number li:nth-child(2) strong:nth-of-type(1) span {top:-3em;animation-delay: .2s}
.brand-wrap .content:nth-child(3) .number-box.on .number li:nth-child(3) span {top:-3em;animation-delay: .5s}
.brand-wrap .content:nth-child(3) .number-box.on .number li:nth-child(4) span {top:-3em;animation-delay: .6s}
.brand-wrap .content:nth-child(3) .number-box.on .number li:nth-child(5) strong:nth-of-type(1) span {top:-5em;animation-delay: .7s;}
.brand-wrap .content:nth-child(3) .number-box.on .number li:nth-child(5) strong:nth-of-type(2) span {top:-7em;animation-delay: .8s;}
.brand-wrap .content:nth-child(3) .number-box.on .number li:nth-child(6) strong:nth-of-type(1) span {top:-3em;animation-delay: 1s;}
.brand-wrap .content:nth-child(3) .number-box.on .number li:nth-child(6) strong:nth-of-type(2) span {top:-8em;animation-delay: 1.1s;}
.brand-wrap .content:nth-child(3) .number-box.on .number li:nth-child(6) strong:nth-of-type(3) span {top:-6em;animation-delay: 1.2s;}
.brand-wrap .content:nth-child(3) .number-box.on .number li .num span {animation: spinit 0.4s 3;}
.brand-wrap .content:nth-child(3) .data-txt {position:absolute;bottom:9%;right:30px;text-align: right;color:#777676;font-size:15px;cursor: pointer;}
.brand-wrap .content:nth-child(3) .data-detail {display: none;position:absolute;top:80%;right:0;padding:30px;font-size: 12px;background:#fff;text-align: left;}
.brand-wrap .content:nth-child(3) .data-detail .del-data {position: absolute;top:0px;right:10px;font-size: 21px;text-decoration: none;color:#000}

.brand-wrap .content:nth-child(3) .g-box .round-box {opacity: 0;color:#fff;font-size:25px;text-align: center;}
.brand-wrap .content:nth-child(3) .g-box.on .round-box {opacity: 1;}
.brand-wrap .content:nth-child(3) .g-box .round-box li {display:inline-block;width:160px;height:160px;position:relative;border:2px solid #fff;border-radius: 50%;margin-right:54px;}
.brand-wrap .content:nth-child(3) .g-box.on .round-box li {animation:round ease-in-out .3s both}
.brand-wrap .content:nth-child(3) .g-box.on .round-box li:nth-of-type(2) {animation-delay: .3s;}
.brand-wrap .content:nth-child(3) .g-box.on .round-box li:nth-of-type(3) {animation-delay: .6s;}
.brand-wrap .content:nth-child(3) .g-box.on .round-box li:nth-of-type(4) {animation-delay: .9s;}
.brand-wrap .content:nth-child(3) .g-box.on .round-box li:nth-of-type(5) {animation-delay: 1.2s;}
.brand-wrap .content:nth-child(3) .g-box .round-box li:last-child {margin-right:0}
.brand-wrap .content:nth-child(3) .g-box .round-box li span {display: block;position: absolute;top:50%;left:0;width:100%;text-align:center;transform: translateY(-50%);line-height:1.3;}
.brand-wrap .content:nth-child(3) .g-box .round-box li::after {content:"";position:absolute;top:50%;right:-61px;display:block;width:60px;height:1px;border-bottom:1px solid #fff;transform: translateY(-50%);opacity: 1;}
.brand-wrap .content:nth-child(3) .g-box .round-box li:last-child:after {display: none;}
.brand-wrap .content:nth-child(3) .g-box:nth-of-type(5) {width:100%;background:#fff;}
.brand-wrap .content:nth-child(3) .g-box:nth-of-type(5) .growth-box {text-align:right;}
.brand-wrap .content:nth-child(3) .g-box:nth-of-type(5) .growth-box img {position:absolute;top:50%;left:50%;transform: translate(10%, -50%);}
.brand-wrap .content:nth-child(3) .g-box .history-box {position:absolute;top:50%;transform: translateY(-50%);height:600px;width:600px;overflow-y: scroll;text-align: left;padding-right:30px;box-sizing:border-box;}
.brand-wrap .content:nth-child(3) .g-box .history-box::-webkit-scrollbar {background:#999}
.brand-wrap .content:nth-child(3) .g-box .history-box::-webkit-scrollbar {width: 10px;}
.brand-wrap .content:nth-child(3) .g-box .history-box::-webkit-scrollbar-thumb {background-color: #999;}
.brand-wrap .content:nth-child(3) .g-box .history-box::-webkit-scrollbar-track {background-color:#eee;}
.brand-wrap .content:nth-child(3) .g-box .history-box .info {margin-bottom:80px;display: flex;flex-wrap: wrap;color:#222;font-size:21px;}
.brand-wrap .content:nth-child(3) .g-box .history-box .info .mon {width:10%;font-weight: 700;line-height: 2;}
.brand-wrap .content:nth-child(3) .g-box .history-box .info .his {width:90%;font-weight: 400;line-height: 2;}
.brand-wrap .content:nth-child(3) .g-box .history-box .info .his strong{font-weight: 700;}
.brand-wrap .content:nth-child(3) .g-box .history-box .info .his strong.blue {color:#0e80f4}
.brand-wrap .content:nth-child(3) .g-box .history-box .year {font-size:51px;color:#222;font-weight: 700;}
.brand-wrap .content:nth-child(3) .history-bg {position: absolute;top:0;left:50%;z-index: -1;background-position:right center;width:100%;height:100vh;animation: hideShow 10s infinite both;width:1800px;transform:translateX(-50%);background-repeat: no-repeat;}
.brand-wrap .content:nth-child(3) .history-bg:nth-of-type(1) {background-image:url(https://russeldata.megastudy.net/campus/images/russel/intro/info/brand_img03_01.jpg)}
.brand-wrap .content:nth-child(3) .history-bg:nth-of-type(2) {background-image:url(https://russeldata.megastudy.net/campus/images/russel/intro/info/brand_img03_02.jpg);animation-delay: 5s;}

/* ·¯¼¿ÇÐ¿ø */
.brand-wrap .content:nth-child(4) {padding:120px 0;height:auto;width:100%;background:#0580fd;text-align: center;color:#fff;}
.brand-wrap .content:nth-child(4) .txt01 {font-size:57px;font-weight: 800;transition:all ease-out .4s;opacity: 0;transform: translateY(-10%);}
.brand-wrap .content:nth-child(4).on .txt01 {transform: translateY(0%);opacity: 1;}
.brand-wrap .content:nth-child(4) .txt02 {margin:45px 0 35px;font-size: 24px;opacity:0;transition:all ease-out .4s .3s;opacity: 0;transform: translateY(-10%);}
.brand-wrap .content:nth-child(4).on .txt02 {transform: translateY(0%);opacity: 1;}
.brand-wrap .content:nth-child(4) .txt03 {font-size: 28px;font-weight: 500;opacity:0;transition:all ease-out .4s .6s;opacity: 0;transform: translateY(-10%);}
.brand-wrap .content:nth-child(4).on .txt03 {transform: translateY(0%);opacity: 1;}
/* .brand-wrap .content:nth-child(4) .campus-list {display: flex;justify-content: space-between;flex-wrap: wrap;width:1200px;margin:20px 0 60px;}
.brand-wrap .content:nth-child(4) dl {display:flex;justify-content:space-between;margin-top:70px;} */
/* .brand-wrap .content:nth-child(4).on .campus-list {opacity: 1;} */
/* .brand-wrap .content:nth-child(4) .campus-list li {width:190px;margin-bottom:15px;}
.brand-wrap .content:nth-child(4) .campus-list li:nth-child(6) {margin-left:10px;}
.brand-wrap .content:nth-child(4) .campus-list li:nth-child(12) {margin-left:10px;}
.brand-wrap .content:nth-child(4) .campus-list li a {display:block;padding:28px 0;background:#fff;border-radius:15px;overflow: hidden;text-align: center;font-size:21px;color:#222;text-decoration: none;transition:all ease-in .2s}
.brand-wrap .content:nth-child(4) .campus-list li a:hover {transform: scale(1.1);}
.brand-wrap .content:nth-child(4) .campus-list li strong {display: block;color:#0e80f4;} */

/* ¹Ìµð¾î Äõ¸® */
@media all and (min-width:2000px){
    .brand-wrap .visual video {width:100%;height:100%}
    .brand-wrap .content:nth-child(3) .left-box:nth-child(1), .brand-wrap .content:nth-child(3) .left-box:nth-child(3) {background-size: 100% auto}
    .brand-wrap .content:nth-child(3) .g-box:nth-of-type(1),.brand-wrap .content:nth-child(3) .g-box:nth-of-type(2) {background-size: 100% auto;}
}
@media all and (max-width:1500px){
    .fix-wrap {left:3px} 
    .fix-wrap .fix-menu.on {left:3px}
}

@media all and (min-height:1080px){
    .brand-wrap .content:nth-child(3) .g-box:nth-of-type(1), .brand-wrap .content:nth-child(3) .g-box:nth-of-type(2) {background-size: 100% 100%;}
}

/* animation */
@keyframes round {
    0%{opacity: 0;transform: translateX(-30%);}
    100%{opacity: 1;transform: translateX(0);}
}

@keyframes hideShow {
    0%{opacity: 1;}
    40%{opacity: 1;}
    50%{opacity: 0;}
    90%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes slideUp {
    0%{opacity: 0;transform: translateY(-40%);}
    100%{opacity: 1;transform: translateY(0%);}
}

@keyframes slideLeft {
    0%{opacity: 0;transform: translateX(50%);}
    100%{opacity: 1;transform: translateX(0%);}
}

@keyframes spinit {
    0% {top: 0em;}
    50% {top: -5em;}
    100% {top: -9em;}
}
