/* =================================================
    마이페이지
==================================================== */

/* 버튼 */
.btn-cancel-s {display: inline-block;background: #767676;border: 1px solid #6b6b6b;border-radius: 2px;text-align: center;padding: 0 9px 1px 11px;color: #fff!important;font-size: 11px;font-weight: 500;cursor: pointer;text-decoration: none !important;}
.btn-cancel-s::after {content:'';display:inline-block;margin-left:5px;vertical-align:2px;width:3px;height:3px;transform:rotate(45deg);border-top:1px solid #fff;border-right:1px solid #fff;}

/* 나의 결제정보 */
.agree-wrap {margin-top:20px;padding:20px;background:#f5f5f5}
.agree-wrap .agree-term {overflow-y:scroll;height:200px;margin-top:10px;font-size:12px;background:#fff;border:1px solid #ededed;color:#989898}
.agree-wrap .agree-term strong {color:#666}
.agree-wrap .agree-term div {padding:10px 15px;}

.hover_layer {display: inline-block;position: relative;}
.hover_layer .bt-data {cursor: pointer;z-index: 2;display: inline-block;margin-left: 2px;vertical-align: text-bottom;}
.hover_layer .data-view {position: absolute;top: 25px; text-align: left;display: none;position: absolute;width:360px;height:auto;padding:10px;box-shadow:1px 1px 10px rgba(0,0,0,0.04);line-height: 1.5;color:#555;font-size: 11px;background:#fff;z-index: 3;border:1px solid #eee}
.hover_layer .bt-data:hover + .data-view {display: block;}


/* 온라인 강의실 > 일반강의 */
.normal_sub_con .myLecIndex{padding:50px 0 0 10px;}
.normal_sub_con .myLecIndex h3{font-size:14px;color:#4d4d4d;font-weight:500;margin:0 0 10px 0;}
.normal_sub_con .myLecIndex .myLecTab{overflow:hidden;}
.normal_sub_con .myLecIndex .myLecTab ul{overflow:hidden;width:105%;}
.normal_sub_con .myLecIndex .myLecTab ul li{float:left;width:183px;height:78px;background:#f9f9f9;border:1px solid #e6e6e6;text-align:center;line-height:76px;margin:0 10px 10px 0;}
.normal_sub_con .myLecIndex .myLecTab ul li a{display:block;height:78px;color:#7c7c7c;font-size:15px;}

/* 재원생 인증 여부 */
.cert-step {position: relative;z-index: 3;color:#969696;font-size:12px;cursor: pointer;}
/* .cert-step span {overflow:scroll;display: none;position:absolute;top:-25px;left:0;height:600px} */
/* .cert-step:hover span {display: block;} */
.result-none {position: relative;;line-height: 1.2;}
.result-none::before {display:inline-block;margin:-2px 3px 0 0;width:16px;height:16px;vertical-align:middle;content:"";background:url('https://russeldata.megastudy.net/campus/images/russel/common/icon/ico_info.png') center center no-repeat;}