
// font-size
$base-font : 1.6rem;

/* ==================================================
  Color-Style
================================================== */
$base-color: #222;
$white: #fff;
$gray: #999;
$gray-02: #666;
$gray-03: #333;
$gray-04: #111;
$blck: #000;
$blue:#0081ff;
$orange:#DE5E60;
$red:#009944;
$olive:#2db9a2;
$pink:#f381f2;

/* ==================================================
  Img-url
================================================== */
$R-path-img : 'http://russeldata.megastudy.net/campus/images/russel/m_russel';
$D-path-img : 'https://devrusseldata.megastudy.net/campus/image/russel/m_russel';

/* ==================================================
  Spacing
================================================== */
