/* =========================
    공통
========================= */
:root {
    --key-color: #0F6FFF;
    --blue-color: #1473E6;
    --main-txt: #222;
}
.fw500{font-weight: 500;}
.br1 {border-right: 1px solid #d9d9d9 !important;}
.bt-0 {border-top: 0px !important;}
.bb-0 {border-bottom: 0px !important;}
.br-0 {border-right: 0px !important;}
.bl-0 {border-left: 0px !important; }

.summer-wrap {overflow-x:hidden;}
.summer-wrap .inner {padding: 0 4%;box-sizing:border-box; position: relative;}
.summer-wrap img {display:block;width:100%;height:auto}
.summer-wrap .r-txt {text-align:right;font-size:1.1rem;letter-spacing:-0.5px;margin-top:20px;color:#111;opacity: 0.45;}
.summer-wrap .l-txt {text-align:left;font-size:1.1rem;letter-spacing:-0.5px;margin-top:20px;color:#111;opacity: 0.45;}
.summer-wrap .point {color:var(--key-color)}
.summer-wrap .list-dot li {line-height: 1.7;}
.container {position:relative;padding-top:75px}
.summer-wrap .comment {color:#f1f1f1;font-size:calc(22vw/7.2);font-weight:300;line-height:1.1;letter-spacing:-0.5px}
.summer-wrap .cont00 .comment{color: #111; font-weight: 400; opacity: 0.45; letter-spacing: -1px;}
.sticky {z-index: 1;position:sticky;top:0;left:64px !important;border-left:1px solid #d9d9d9;background:#FFF}
.sticky2 {z-index: 1;position:sticky;top:0;left:0 !important;background:#FFF}
.sticky3 {z-index: 1;position:sticky;top:0;left:83px !important;border-left:1px solid #d9d9d9;background:#FFF}
.step-txt-wrap .step-txt{word-break: keep-all;}

.top-banner {z-index:1;}
.btn-common {color:#FFF;background:#111111;position:relative;display:block;margin-top:calc(56vw / 7.2);padding:calc(34vw / 7.2) 0;font-size:calc(32vw / 7.2);font-weight:bold;line-height:1;letter-spacing:-1.5px;border-radius:5px;}
.btn-common::before {content: '';display:block;position:absolute;top:calc(40vw / 7.2);right:calc(40vw / 7.2);width:calc(16vw / 7.2);height:calc(16vw / 7.2);border-top:2px solid #111;border-right: 2px solid #111;transform: rotate(45deg);border-top:2px solid #fff;border-right: 2px solid #fff;}
.i-bus {position:absolute;top:calc(298vw/7.2);left:calc(24vw/7.2);display:block;width:calc(168vw/7.2);height:calc(191vw/7.2);}

/* 탭 */
.tab-wrap {display:flex;justify-content:center;align-items:stretch;}
.tab-wrap a {display:flex;justify-content:center;align-items:center;background:#adadad;padding:15px 0;flex:1;text-align:center;color:#e0e0e0;font-weight:bold;}
.tab-wrap a:not(:last-child) {border-right:1px solid #fff;}
.tab-wrap a.on {background:#4497FD;color:#fff;}

.tab-cont {height:0;overflow:hidden;opacity:0;text-align:center;z-index: 0;}
.tab-cont.on {height:auto;overflow:visible;opacity:1;z-index: 1}

/* fix-menu */
.fix-menu {position:absolute;top:0;left:0;width:100%;display:flex;line-height:0;box-sizing:border-box;padding: 15px 4% 0;height: 75px;background: #fff;}
.fix-menu li {border-radius: 10px 10px 0 0; display:flex;justify-content:center;align-items:center;margin-left:1px;width:100%;text-align:center;color:#929292;font-size:1.3rem;font-weight:bold;line-height:1.3;letter-spacing:-1.7px;background:#D7D7D7}
.fix-menu li:first-child {margin-left:0;}
.fix-menu li.on {color:#fff;background:#4497FD}
.fix-menu.fix {position:fixed;top:101px;z-index:7;padding: 0 4% 0;height: 60px;}
.fix-menu.fix li {border-radius: 0 0 10px 10px;}


/*데이터 산출 기준*/
.data-txt {display:block;margin-top:20px;text-align:right;opacity:0.6;color:#FFF;font-size:1.2rem;letter-spacing:-1px;cursor:pointer;}
.data-txt span {width:12px;display:inline-block;margin: 0 0 -2px 3px;}
.layer-wrap {position:fixed;left:0;top:0;z-index:50;height:100%;display:none;justify-content:center;align-items:center;width: 100%;}
.layer-wrap.on {display:flex;}
.layer-wrap .layer-in {position:relative;width:90%;margin:0 5%;padding:10px 15px 30px;text-align:left;font-size:1.2rem;line-height:1.4;letter-spacing:-0.5px;background:#fff;box-shadow:0 3px 3px rgba(95, 95, 95, .5);box-sizing:border-box;}
.layer-wrap .layer-in .js-close-mask {display:flex;justify-content:flex-end;margin-bottom:10px;}
.layer-wrap .layer-in .js-close-mask img {width:16px;height:auto;}
.layer-wrap .layer-in span {display:block;font-size:1.1rem;line-height:1.5;}
.layer-wrap .layer-in span.tit {margin-bottom:20px;font-weight:bold;font-size:1.3rem;}
.layer-wrap .bg-mask {position:fixed;left:0;top:0;width:100%;height:100%;background:rgba(0, 0, 0, .5);}

/* .mask-bg {opacity: .2 !important;} */

/* ==================================================
    visual
================================================== */

.visual-wrap {overflow:hidden;position:relative;text-align:center;box-sizing:border-box}
/* .visual-area {background-color:#026bf0;position:relative; box-sizing: border-box; height: calc(1026vw/7.2);} */
.visual-area {background-color:#026bf0;position:relative; box-sizing: border-box; padding-bottom:40px;}
.visual-area .v-bg {filter: url(#water);width:100%;height:100%;display:flex;justify-content:center;position:absolute;top:0;left:0;}
.visual-area .v-bg img {height:100%;}

.visual-area .tit-wrap{padding-top: calc(210vw/7.2); width: calc(598vw/7.2); margin: 0 auto; position: relative; z-index: 2;}
.visual-area .tit-wrap *[class^="v-wave"] {position:absolute;bottom:calc(0vw/7.2);right:calc(-20vw/7.2); animation: waveFlow 5s linear infinite alternate;filter: url(#water);opacity: 0; width: calc(36vw/7.2); height: calc(46vw/7.2); z-index: 3;}
.visual-area .tit-wrap .v-wave02 {bottom:calc(-14vw/7.2);right:calc(-33vw/7.2);animation-delay: .5s; width: calc(40vw/7.2); height: calc(29vw/7.2);}

.visual-area .v-bubble{position: absolute; top:calc(70vw/7.2); left: calc(40vw/7.2); z-index: 2; width: calc(262vw/7.2);}
.russel_jg .visual-area .v-bubble{position: absolute; top:calc(70vw/7.2); left: calc(40vw/7.2); z-index: 2; width: calc(410vw/7.2);}
.visual-area .v-obj01{position: absolute; top:calc(454vw/7.2); left: calc(70vw/7.2); z-index: 2; width: calc(34vw/7.2); animation: wave 2.5s ease-in-out infinite;}
.visual-area .v-obj02{position: absolute; top:calc(416vw/7.2); left: calc(154vw/7.2); z-index: 2; width: calc(37vw/7.2); animation: wave 2.5s .5s ease-in-out infinite;}
@keyframes waveFlow {
    0% {
      transform: translateX(-1px);
      opacity: 0;
    }
    50% {
      transform: translateX(0px);
      opacity: 1;
    }
    100% {
      transform: translateX(0px);
      opacity: 0;
    }
  }
/* 좌우로 살짝 흔들리는 효과 */
@keyframes wave {
  0%, 100% {
      transform: translateX(0);
  }
  50% {
      transform: translateX(7px);
  }
}

.visual-area .v-play {position:absolute;top:62vw;right:7vw;width:calc(72vw / 7.2); animation: tapPulse 1.6s ease-in-out infinite;border-radius: 50%;display: block;z-index: 5;}
@keyframes tapPulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2);
  }
  70% {
    transform: scale(1.08);
    box-shadow: 0 0 0 14px rgba(255, 255, 255, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
.visual-area .v-txt {position: relative;z-index: 5;margin-top: calc(18vw / 7.2);font-size:calc(32vw / 7.2);font-weight:400; letter-spacing: -0.06em; line-height: 1.54; color:#fff;}
.visual-area .v-txt strong {font-weight:bold;}

.visual-area .v-info{z-index: 5;display:flex;flex-wrap:wrap;position:relative;margin:calc(38vw / 7.2) auto 0;width:fit-content;}
.visual-area .v-info dl {display:flex;align-items:flex-start; color: #fff;margin-bottom:calc(16vw / 7.2);}
.visual-area .v-info dl dt {width:calc(154vw / 7.2);height:calc(54vw / 7.2);display:flex;align-items:center;justify-content:center;font-size:calc(28vw / 7.2);color: #001B2A;background-color:#C1F4FD;border-radius:20px; font-weight:700;letter-spacing: -0.5px;}
.visual-area .v-info dl dd {padding-top:calc(4vw / 7.2);margin-left:calc(18vw / 7.2);text-align:left;color: #FFF;font-size:calc(30vw / 7.2);font-weight:bold;letter-spacing: -1.5px;}
.visual-area .v-info dl dd strong {font-weight:700;}
.visual-area .v-stxt{position: relative; margin-top: calc(27vw/7.2); color: #CACCFF; font-size: calc(22vw / 7.2); font-weight: 500; line-height: 1; letter-spacing: -0.09em;}
.visual-area .ico-end {animation:fadeIn ease 1s 2.5s both;}

/* ==================================================
    contents
================================================== */
.summer-wrap *[class^="cont0"] {padding-bottom:calc(130vw / 7.2);text-align:center;position: relative;}
.summer-wrap *[class^="cont0"] h3 {font-size:1.9rem;line-height:1.4;color:#111;letter-spacing: -2px;margin-bottom: 12px;}

/* event-area */
.event-area {background-color:#FFF; padding-top: 60px;}
.core_dj.event-area {background-color:#F6F6F6;padding-bottom:65px;margin-top:65px;padding-top:0;}
.core_dj.event-area .recruit-tit {color:#000;}

/* ==cont00======================================= */

/* 모집안내 */
.cont00 {padding-bottom:0 !important}
.cont00 .l-txt {margin-top: 0;}
.cont00 .tbl-box.type01 {padding: 0 4%;}
.recruit-wrap.type02 {background:#F4F4F4;}
.recruit-wrap .inner {padding: 0 4% calc(120vw / 7.2);}
.recruit-wrap .recruit-tit {color: #222;}
.recruit-tit {padding:60px 0 25px;font-size:2.5rem;font-weight:900;line-height:1.2;color: var(--key-color);letter-spacing: -1px; word-spacing: 0;}
.recruit-tit strong {color:var(--key-color);font-size:2.5rem;font-weight:900;letter-spacing: -1px;}
.recruit-txt {text-align:center;font-size:1.5rem;line-height:1.2;letter-spacing:-0.5px}

.summer-wrap .tbl-type01 {border-collapse:separate}

/* 입학절차 */
.summer-wrap .setp-diagram li strong {background:var(--key-color);}
.summer-wrap .setp-diagram li span {color:var(--key-color)}
.summer-wrap .setp-diagram::after {border-bottom:1px dashed var(--key-color)}
.summer-wrap .step-txt .step-tit {color:var(--key-color)}
.summer-wrap .step-txt-wrap {border:1px solid #DDD;border-radius:10px;}
.summer-wrap .step-txt .stxt {color:#626262;font-size:1.4rem;letter-spacing:-0.5px;}

/* 추후 모집 */
.txt-coming {display:flex;align-items:center;justify-content:center;padding:8% 0;border-radius:15px;border:1px solid #cccccc;background:#EEEEEE}
.txt-coming p {font-size:1.4rem;color:#8E97AB;font-weight:bold;margin-left:16px;text-align:left;line-height:1.4;letter-spacing:-1px;}
.txt-coming p strong {color:#565E71;font-weight:bold;}
.txt-coming div img {width: calc(107vw/6);}

/*알리미*/
.txt-coming.alarm {flex-direction: column;}
.txt-coming.alarm > p {margin-left: 0;}
.txt-coming.alarm > .txt {text-align: center;font-size: 1.5rem;}
.txt-coming.alarm > div {display: flex;margin-top: 12px;}
.txt-coming.alarm > div > p {color: #333;font-size: 1.3rem;font-weight: 500;display: flex;justify-content: center;align-items: center;}
.txt-coming.alarm .btn-common {margin-top: 20px;font-size: 1.4rem;padding: 13px 47px 13px 31px;}
.txt-coming.alarm .btn-common::before {width: 8px;height: 8px;top: 30px;right: 15px;}

/* 프로모션 */
.summer-wrap .cont-pro {position:relative;padding-top:65px;}
.summer-wrap .cont-pro a {position:absolute;left:calc(100vw/7.2);bottom:calc(913vw/7.2);width:calc(520vw/7.2);height:calc(100vw/7.2)}

/* 연간 운영 계획 */
.summer-wrap .tbl-plan-new {border-top: 1px solid #2d2d2d;}
.summer-wrap .tbl-plan-new th {background:var(--key-color);}
.summer-wrap .tbl-plan-new thead th:nth-child(2), .summer-wrap .tbl-plan-new thead th:nth-child(3) {border-left:1px solid var(--main-txt);}
.summer-wrap .tbl-plan-new tbody th, .tbl-plan-new.typeA td {border-top:0 !important;}


/* ==cont01======================================= */
.cont01 {position:relative;background:#4497FD;}
.cont01 .data-wrap {text-align: right;}
.cont01 .data-txt{color: rgba(255, 255, 255, 0.50); opacity: 1;display:inline-block;}

/* stu-review */
.stu-review {margin-bottom:25px;}
.stu-review p {position:relative;}
.stu-review p .layer {display:none;width:100%;}
.stu-review p .layer .btn-close {position:absolute;right:0;top:0;}
.stu-review p .layer .btn-close::before, .stu-review p .layer .btn-close::after {content:'';position:absolute;right:18px;top:0;width:28px;height:28px;}
.stu-review p .layer .btn-close::before {border-right:2px solid #fff;transform:rotate(45deg);}
.stu-review p .layer .btn-close::after {border-left:2px solid #fff;transform:rotate(135deg);top:20px;}
.stu-review p.on .layer {display:block;position:absolute;top:0;left:0;z-index:1;}
.stu-review p:nth-of-type(5).on .layer {top:-16%;}
.stu-review p:nth-of-type(6).on .layer {top:-116%;}


/* ==cont02======================================= */
.cont02 {background:#D9E0FE url(https://russeldata.megastudy.net/campus/images/russel/m_russel/intro/2025/summer/cont02_bg.jpg) center top no-repeat; background-size: 100%;}
.cont02 .data-wrap {text-align: right;}
.cont02 .data-txt{color: rgba(0, 0, 0, 0.45); opacity: 1; margin-top: calc(18vw/7.2);display:inline-block;}
.achieve-box {display:flex;flex-wrap:wrap;justify-content:center;width: 100%; gap: calc(18vw/7.2);margin: 0 auto;}
.achieve-box li {background: rgba(255, 255, 255, 0.70); backdrop-filter: blur(7.5px);;border-radius: 5px;width:calc(317vw / 7.2);height:calc(317vw / 7.2);display:flex;justify-content:center;align-items:center;position:relative;flex-direction: column;}
.achieve-box li .badge {position:absolute;top:calc(-15vw / 7.2);left:calc(-20vw / 7.2);width: calc(120vw / 7.2);}
.achieve-box li .badge.badge02 {top: calc(-83vw / 7.2);}

.achieve-box li dl {display:flex;flex-direction:column;}
.achieve-box li dl dt {color:var(--main-txt);font-size:calc(28vw / 7.2);font-weight:500;line-height:1.2;margin-top:calc(8vw / 7.2);letter-spacing: -0.5px;}
.achieve-box li dl dt strong {font-size: calc(32vw / 7.2); font-weight: 700;}
.achieve-box li dl dd strong {font-size:calc(70vw / 7.2);line-height:1.2;background:linear-gradient(139deg, #FED8AA 25.05%, #8C5614 126.33%);  background-clip: text;-webkit-background-clip: text;-webkit-text-fill-color: transparent;display: inline-block;margin-top: calc(8vw / 7.2); opacity:0;}
.cont02 .achieve-box.on li dl dd strong{animation: flip-horizontal-bottom .7s .3s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;}
.achieve-box li dl dd span {font-size:calc(50vw / 7.2);color:var(--main-txt);font-weight:500;}
.achieve-box li dl dd span sup {font-size:10px;color:rgba(255, 255, 255, 0.60);;opacity: .6;margin-top:17px;font-weight:normal;}
.achieve-box li p {z-index: 1;color:rgba(255, 255, 255, 0.50);;font-size:calc(24vw / 7.2);font-weight:bold;margin-top:calc(8vw / 7.2);letter-spacing: -0.8px;font-weight: 400;}

.russel_md .cont02{background: #D9E0FE;}
.russel_bd .cont02{background: #D9E0FE;}
.russel_pc .cont02{background: #D9E0FE;}

@keyframes flip-horizontal-bottom {
  0% {
            transform: rotateX(-180deg);
            opacity: 0;
  }
  100% {
            transform: rotateX(0);
            opacity: 1;
  }
}


/* ==================================================
    입결
================================================== */
.result-wrap {position:relative;padding-bottom:calc(120vw/7.2);background:#fff;border-radius: 20px;box-sizing:border-box;overflow: hidden;}
.result-wrap .r-txt {color:#FFF;padding-right:17px;}
.result-list ul {display:flex;justify-content:center;flex-wrap:wrap}
.result-list ul li {margin-bottom:calc(20vw/7.2);;position:relative;display:flex;justify-content:center;align-items:center;flex-direction: column;width:calc(207vw/7.2);height:calc(75vw/7.2)}
.result-list ul li::before {content:'';display:block;position:absolute;top:0;left:0;width:calc(41vw/7.2);height:100%;background:url("https://russeldata.megastudy.net/campus/images/russel/m_russel/intro/2025/regular/leaf_l.png") no-repeat 0 0 / 100%;}
.result-list ul li::after {content:'';display:block;position:absolute;top:0;right:0;width:calc(41vw/7.2);height:100%;background:url("https://russeldata.megastudy.net/campus/images/russel/m_russel/intro/2025/regular/leaf_r.png") no-repeat 0 0 / 100%;}
.result-list ul li p {color:var(--main-txt);font-size:calc(30vw/7.2);font-weight:700;line-height:1.1;letter-spacing:-0.5px;position: relative;}
.result-list ul li p strong {color:var(--key-color)}
.result-list ul li sup{position:relative;color:#959595;font-size:1rem; margin-left: calc(1vw/7.2); font-weight: 400;}

.result-list ul.gold li {margin-top:calc(70vw/7.2);margin-bottom:calc(34vw/7.2);width:calc(460vw/7.2);height:calc(173vw/7.2)}
.result-list ul.gold li::before {width:calc(94vw/7.2);height:100%;background:url("https://russeldata.megastudy.net/campus/images/russel/m_russel/intro/2025/summer/gleaf_l.svg") no-repeat 0 0 / 100%;}
.result-list ul.gold li::after {width:calc(94vw/7.2);height:100%;background:url("https://russeldata.megastudy.net/campus/images/russel/m_russel/intro/2025/summer/gleaf_r.svg") no-repeat 0 0 / 100%;}
.result-list ul.gold li p {color:var(--main-txt);font-size:calc(34vw/7.2);font-weight:700;line-height:1.4;letter-spacing:-0.5px; }

.result-list ul.silver li {margin-top:calc(70vw/7.2);margin-bottom:calc(34vw/7.2);width:calc(460vw/7.2);height:calc(173vw/7.2)}
.result-list ul.silver li::before {width:calc(94vw/7.2);height:100%;background:url("https://russeldata.megastudy.net/campus/images/russel/m_russel/intro/2025/summer/leaf_l_01.svg") no-repeat 0 0 / 100%;}
.result-list ul.silver li::after {width:calc(94vw/7.2);height:100%;background:url("https://russeldata.megastudy.net/campus/images/russel/m_russel/intro/2025/summer/leaf_r_01.svg") no-repeat 0 0 / 100%;}
.result-list ul.silver li p {color:var(--main-txt);font-size:calc(34vw/7.2);font-weight:700;line-height:1.4;letter-spacing:-0.5px; }


/* 평촌 */
.card-list {display:flex;flex-wrap:wrap; justify-content: center; gap: calc(10vw/7.2); padding-bottom: calc(10vw/7.2);}
.card-list li {position: relative; width:calc(296vw/7.2); height: calc(100vw/7.2); background-color:#EBEFFF;border-radius:10px;display:flex;align-items: center;justify-content: space-between;padding: calc(24vw/7.2) calc(20vw/7.2);box-sizing: border-box; text-align: center; align-items: flex-end;}
.card-list li sup{position: absolute; top:calc(10vw/7.2); right:calc(10vw/7.2); color: #A6ADC7;font-size: calc(18vw/7.2); font-weight: 500;letter-spacing: -0.4px;}
.card-list li p {text-align: left;line-height: 1;letter-spacing: -0.52px;}
.card-list li p span {font-size:calc(23vw/7.2);font-weight:500;color:#222;}
.card-list li p strong {font-size:calc(25vw/7.2);font-weight:bold;color:#222;}
.card-list li div{line-height: 1;}
.card-list li div span {font-size:calc(25vw/7.2);font-weight:bold;color:#222; line-height: 1;}
.card-list li div strong {color:var(--key-color);font-weight:bold;font-size:calc(37vw/7.2);}
.card-list li.txt-box{justify-content: center; padding: calc(24vw/7.2) 0;}
.card-list li.txt-box div{font-size: calc(21vw/7.2); line-height: 1.2;}
.card-list li.txt-box div strong {font-size:calc(23vw/7.2); color: #222;}

.russel_pc .result-list{margin-top: calc(60vw/7.2);}

/* type02(강남) */
.result-list ul.type02 {flex-direction:column;align-items:center}
.result-list ul.type02 li {margin-bottom: 0;flex-direction:column;justify-content:flex-start;width:calc(430vw/7.2);height:calc(90vw/7.2)}
.result-list ul.type02 li:not(:first-child) {margin-top:calc(30vw/7.2);}
.result-list ul.type02 li::before {left:calc(35vw/7.2);width:calc(49vw/7.2);}
.result-list ul.type02 li::after {right:calc(35vw/7.2);width:calc(49vw/7.2);}
.result-list ul.type02 li p {padding-top:calc(10vw/7.2);}
.result-list ul.type02 span {margin-top:calc(14vw/7.2); color:#999999;font-size:calc(24vw/7.2);letter-spacing:-0.5px}

/* type03 (강남_학생이미지) */
.result-list ul.type03 li {width:calc(205vw/7.2);height:calc(65vw/7.2);flex-direction: row;}
.result-list ul.type03 li:nth-child(2n) {margin-left:calc(50vw/7.2);}
.result-list ul.type03 li::before, .result-list ul.type03 li::after {display:none}
.result-list ul.type03 li p:first-child {width:calc(65vw/7.2);height:calc(65vw/7.2);margin-right:6px}
.result-list ul.type03 li p {font-size:calc(26vw/7.2);font-weight:300;text-align:left;letter-spacing: -1.5px;}
.result-list ul.type03 li p strong {color:var(--main-txt)}

/* type04(분당) */
.result-list ul.type04{column-gap: calc(15vw/7.2); row-gap: calc(46vw/7.2);}
.result-list ul.type04 li{margin: 0; width: calc(270vw/7.2); height: calc(107vw/7.2);}
.result-list ul.type04 li.point-txt{width: calc(290vw/7.2);}
.result-list ul.type04 li b{font-size: calc(32vw/7.2); line-height: 1.2; display: block;}
.result-list ul.type04 li strong{font-size: calc(48vw/7.2); line-height: 0.45;}
.result-list ul.type04 li sup{color: #B1B1B1;font-size: calc(20vw/7.2);font-weight: 500; line-height: 1; vertical-align: top;}
.result-list ul.type04 li::before{width:calc(57vw/7.2);}
.result-list ul.type04 li::after{width:calc(57vw/7.2);}
.result-list ul.type04 li p{font-size: calc(26vw/7.2);font-weight: 500;}
.result-list ul.type04 li p:nth-of-type(2){font-size: calc(28vw/7.2); margin-top: calc(5vw/7.2);}

.russel_bd .result-list{padding: calc(80vw/7.2) calc(30vw/7.2) calc(54vw/7.2);}
.russel_bd .result-list ul.gold li p{line-height: 1.6;}
.russel_bd .result-list ul.type04.silver{margin-top: calc(40vw/7.2);} 
.russel_bd .result-list ul.type04 li p:nth-of-type(2){line-height: 1.6;}

/* type05(영통, 센텀) */
.result-list ul.type05 li {width:calc(265vw/7.2);height:calc(107vw/7.2);margin-bottom:calc(46vw/7.2);}
.result-list ul.type05 li::before, .result-list ul.type05 li::after {width:calc(58vw/7.2);}
.result-list ul.type05 li:nth-child(2n) {margin-left:calc(15vw/7.2);}
.result-list ul.type05 li p {font-size:calc(26vw/7.2);font-weight:500;}
.result-list ul.type05 li p strong {font-size:calc(48vw/7.2);}
.result-list ul.type05 li p:last-child {font-size:calc(28vw/7.2);}

.russel_ct .result-wrap {padding-bottom: calc(80vw / 7.2);}
.russel_ct .result-wrap:nth-child(1) {margin-bottom: calc(20vw / 7.2);}
.russel_ct .result-list ul.type05 li{width: calc(233vw/7.2); margin-bottom: calc(16vw/7.2);}
.russel_ct .result-list ul.type05 li p{font-size: calc(26vw/7.2);}
.russel_ct .result-list ul.type05 li p strong{font-size: calc(42vw/7.2);}
.russel_ct .result-list ul.type05 li::before {height:calc(107vw / 7.2);background:url("https://russeldata.megastudy.net/campus/images/russel/m_russel/intro/2025/summer/gleaf_l.svg") no-repeat center top; background-size: auto 100%;}
.russel_ct .result-list ul.type05 li::after {height:calc(107vw / 7.2);background:url("https://russeldata.megastudy.net/campus/images/russel/m_russel/intro/2025/summer/gleaf_r.svg") no-repeat center top; background-size: auto 100%;}
.russel_ct .result-list.first-box ul.type05 li::before {width:calc(45vw / 7.2);height:calc(87vw / 7.2);background:url("https://russeldata.megastudy.net/campus/images/russel/m_russel/intro/2025/summer/gleaf_l.svg") no-repeat center top; background-size: cover;}
.russel_ct .result-list.first-box ul.type05 li::after {width:calc(45vw / 7.2);height:calc(87vw / 7.2);background:url("https://russeldata.megastudy.net/campus/images/russel/m_russel/intro/2025/summer/gleaf_r.svg") no-repeat center top; background-size: cover;}
.russel_ct .result-list.first-box ul.type05 li{margin-bottom: calc(26vw/7.2); height: calc(87vw/7.2);}
.russel_ct .result-list.first-box ul.type05 li p{font-size: calc(26vw/7.2); line-height: 1; font-weight: 400;}
.russel_ct .result-list.first-box ul.type05 li p:last-child{margin-top: calc(12vw/7.2);}
.russel_ct .result-list.first-box ul.type05 li p:last-child strong{font-size: calc(26vw/7.2);color: var(--key-color);font-weight: 700;line-height: 100%;letter-spacing: -0.52px; }

/* 대전 */
.core_dj .result-list ul.gold {width: calc(660vw / 7.2);margin: 0 auto;}
.core_dj .result-list ul.gold li {width: calc(276vw / 7.2);height: calc(126vw / 7.2);margin: 0 0 calc(26vw / 7.2) 0;}
.core_dj .result-list ul.gold li::before {width: calc(68vw / 7.2);height: calc(126vw / 7.2);}
.core_dj .result-list ul.gold li::after {width: calc(68vw / 7.2);height: calc(126vw / 7.2);}
.core_dj .result-list ul.gold li p {font-size: calc(26vw / 7.2);}
.core_dj .result-list ul.gold li p strong {font-size: calc(48vw / 7.2);}
.core_dj .result-list ul.gold li p span {color: #222;font-size: calc(20vw / 7.2);}
.core_dj .result-wrap {padding: calc(82vw / 7.2) 0 calc(62vw / 7.2) 0;}


/* 청주 */
.core_cj .result-list ul.gold {width: calc(660vw / 7.2);margin: 0 auto;}
.core_cj .result-list ul.gold li {width: calc(276vw / 7.2);height: calc(126vw / 7.2);margin: 0 0 calc(26vw / 7.2) 0;}
.core_cj .result-list ul.gold li::before {width: calc(68vw / 7.2);height: calc(126vw / 7.2);}
.core_cj .result-list ul.gold li::after {width: calc(68vw / 7.2);height: calc(126vw / 7.2);}
.core_cj .result-list ul.gold li p {font-size: calc(30vw / 7.2); line-height: 1.3;}
.core_cj .result-list ul.gold li p strong {font-size: calc(48vw / 7.2);}
.core_cj .result-list ul.gold li p span {color: #222;font-size: calc(24vw / 7.2); font-weight: 400;}
.core_cj .result-wrap {padding: calc(82vw / 7.2) 0 calc(62vw / 7.2) 0;}

/* 부천 */
.russel_bc .result-list ul.gold {width: calc(660vw / 7.2);margin: 0 auto;}
.russel_bc .result-list ul.gold li {width: calc(276vw / 7.2);height: calc(126vw / 7.2);margin: 0 0 calc(26vw / 7.2) 0;}
.russel_bc .result-list ul.gold li::before {width: calc(68vw / 7.2);height: calc(126vw / 7.2);}
.russel_bc .result-list ul.gold li::after {width: calc(68vw / 7.2);height: calc(126vw / 7.2);}
.russel_bc .result-list ul.gold li p {font-size: calc(30vw / 7.2); line-height: 1.3;}
.russel_bc .result-list ul.gold li p strong {font-size: calc(48vw / 7.2);}
.russel_bc .result-list ul.gold li p span {color: #222;font-size: calc(24vw / 7.2); font-weight: 400;}
.russel_bc .result-wrap {padding: calc(82vw / 7.2) 0 calc(62vw / 7.2) 0;}

/* type11(영통, 목동) */
.result-list ul.type11.gold {width: calc(596vw / 7.2);margin: 0 auto;}
.result-list ul.type11.gold:nth-child(2) {display: flex;justify-content: space-between;}
.result-list ul.type11.gold li {width: calc(290vw / 7.2);height: calc(123vw / 7.2);margin-bottom: 0;margin-top: 0;}
.result-list ul.type11.gold li::before {width: calc(66vw / 7.2);}
.result-list ul.type11.gold li::after {width: calc(66vw / 7.2);}
.result-list ul.type11.gold li p {font-size: calc(30vw / 7.2);}
.result-list ul.type11.gold li p strong {font-size: calc(48vw / 7.2);}
.result-list ul.type11.gold:not(:first-child) li {margin-top: calc(16vw / 7.2);}


/* 학원별 */
.russel_gn .result-wrap{padding-bottom: calc(100vw / 7.2);}

.russel_pc .card-list:nth-of-type(2){padding-bottom: 0; margin-bottom: calc(60vw/7.2);}
.russel_pc .result-wrap{padding: calc(60vw/7.2) calc(30vw/7.2);}
.russel_pc .result-list ul{gap: calc(10vw/7.2);}
.russel_pc .result-list ul.type05 li{margin: 0; position: relative;}
.russel_pc .result-list ul.type05 li .flag{position: absolute; top:calc(-28vw/7.2); left: 50%; width: calc(165vw/7.2); transform: translateX(-50%);}
.russel_pc .result-list ul.gold li p{line-height: 1.2;}

.russel_yt  ul.gold li p{font-weight: 500;}
.russel_yt .result-list ul.type05 li {margin-top: calc(24vw / 7.2);margin-bottom: 0;}
.russel_yt .result-wrap {padding-bottom: calc(84vw / 7.2);}

.russel_md .result-list ul.gold li p{line-height: 1.2;}

.core_wj .result-list ul{gap: calc(10vw/7.2);}
.core_wj .result-list ul.type05 li{margin: 0;}
.core_wj .result-list ul.type05 li::before, .core_wj .result-list ul.type05 li::after{width: calc(68vw/7.2); height: calc(126vw/7.2);}
.core_wj .result-list ul.type05 li p {font-weight: 700;}
.core_wj .result-list ul.type05 li p span {font-size: calc(22vw / 7.2);color: #222;}
.core_wj .result-list ul.type05 li {width: calc(280vw / 7.2);height: calc(126vw / 7.2);margin-bottom: calc(26vw / 7.2);}
.core_wj .result-wrap {padding-bottom: calc(60vw / 7.2);}

.core_jj .result-list ul{gap: calc(10vw/7.2);}
.core_jj .result-list ul.type05 li{margin: 0;}
.core_jj .result-list ul.type05 li::before, .core_jj .result-list ul.type05 li::after{width: calc(68vw/7.2); height: calc(126vw/7.2);}
.core_jj .result-list ul.type05 li p span {font-size: calc(22vw / 7.2);color: #222;}
.core_jj .result-list ul.type05 li {width: calc(280vw / 7.2);height: calc(126vw / 7.2);margin-bottom: calc(26vw / 7.2);}
.core_jj .result-wrap {padding-bottom: calc(60vw / 7.2);}





/* ==cont03======================================= */
.cont03 {background: #F5F7FA;}
.cont03 .r-txt{margin: calc(20vw/7.2) auto 0 auto; color: #959595; font-size: calc(22vw/7.2); opacity: 1; width: 94%;}

.slide-cnt{text-align: right;color: #959595;font-size: calc(22vw/7.2);letter-spacing: -1px; padding-bottom: calc(20vw/7.2); margin-right: 3%;}
/*리뷰 슬라이드 기본 타입 (인트로)*/
.review-slide {margin: 0;overflow: initial;padding-bottom:calc(52vw / 7.2)}
.review-slide .swiper-slide {position: relative;background-color:#fff !important;padding:calc(70vw / 7.2) calc(40vw / 7.2);box-sizing:border-box !important;border-radius: 20px !important; width: calc(638vw/7.2);}
.review-slide .swiper-slide.swiper-slide-next{height: 96%;}
.review-slide .swiper-slide.swiper-slide-prev{height: 96%;}
.review-slide .swiper-slide .detail .top-con {display: flex;align-items: flex-start;justify-content: space-between; border-bottom: 1px solid #CACACA;}
.review-slide .swiper-slide .detail .top-con > .txt {display: flex;flex-direction: column;justify-content: flex-start;text-align: left;color: #666;font-size: calc(28vw / 7.2);letter-spacing: -1px;font-weight: 500; line-height: 1; padding-bottom: calc(30vw/7.2);}
.review-slide .swiper-slide .detail .top-con > .txt .year {font-size: calc(28vw / 7.2);color: #fff;background: #1E1E1E;border-radius: 50px;display: flex;justify-content: center;align-items: center;width: calc(175vw / 7.2);height: calc(49vw / 7.2);margin-bottom: calc(12vw / 7.2); font-weight: 500;}
.review-slide .swiper-slide .detail .top-con > .txt strong {font-size: calc(38vw / 7.2);color: #222;font-weight: bold; word-break: keep-all; letter-spacing: -0.5px;margin: 0 0 calc(16vw / 7.2); line-height: 1.2;}
.review-slide .swiper-slide .detail .top-con > p {width: calc(120vw / 7.2);display: flex;justify-content: center;align-items: center;flex-direction: column;position: relative; margin-right: calc(17vw/7.2)}
.review-slide .swiper-slide .detail .top-con p a {position:absolute;right:calc(-16vw/7.2);bottom:0;width:calc(48vw/7.2);height:calc(48vw/7.2);background:url("https://russeldata.megastudy.net/campus/images/russel/m_russel/intro/2025/summer/ico_play.png") no-repeat 100% / 100%;;}

.review-slide .swiper-slide .detail .btm-con {line-height: 1.5;padding-top: calc(28vw / 7.2);color: #555555;font-size: calc(30vw / 7.2);text-align: left;letter-spacing: -1.6px;word-break: keep-all;overflow-wrap: break-word;}
.review-slide .swiper-slide .detail .btm-con strong {color: var(--key-color);font-weight: bold;font-size: calc(30vw / 7.2);margin-bottom: calc(16vw / 7.2);display: block;letter-spacing: -1.2px;word-break: keep-all;overflow-wrap: break-word; line-height: 1.4;}
.review-slide .swiper-slide .detail .btm-con span {font-weight: 700;font-size: calc(30vw / 7.2);color: #222;display: block;margin-bottom: calc(10vw / 7.2);}
.review-slide .swiper-slide .detail .btm-con b {color: #222;}

.review-slide.swiper-container-horizontal>.swiper-pagination-bullets {background-color:#CCC;height:calc(12vw / 7.2);border-radius:100px;margin: 0 auto;width:94%;left: 50%;bottom: 0; transform: translateX(-50%);}
.review-slide.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {margin:0 0 12px;width:10%;border-radius:100px;background-color:transparent;height:calc(12vw / 7.2)}
.review-slide.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {background-color:#0F6FFF}

.russel_us .review-slide .swiper-slide .detail .top-con > p{margin-right: 0; width: calc(140vw/7.2);}
.core_cw .review-slide .swiper-slide .detail .top-con > p{margin-right: 0; width: calc(140vw/7.2);}


/* ==cont04======================================= */
.cont04 {background: #E9EEFC;}

/* 학년별 탭슬라이드 */
.grade-slide-wrap {padding: calc(75vw / 7.2) 4% calc(60vw/7.2) 4%;background: #fff;position: relative; margin-bottom: calc(48vw/7.2);}
.grade-navi {overflow:hidden;position: absolute;z-index: 2;top: calc(0vw / 7.2);left: 50%;transform: translateX(-50%);}
.grade-navi .swiper-wrapper {display:flex;justify-content: center;padding-bottom: calc(18vw / 7.2);gap: calc(10vw/7.2);}
.grade-navi .swiper-slide {background-color:#e3e3e3;font-size:calc(28vw / 7.2);font-weight:bold;letter-spacing:-1.5px;line-height:1;color:#b6b6b6;box-sizing:border-box;border-radius: 50%;width: calc(130vw / 7.2) !important;height: calc(130vw / 7.2);display: flex;justify-content: center;align-items: center; }
.grade-navi .swiper-slide.swiper-slide-thumb-active {color:#fff;background-color:var(--blue-color);position: relative;}
.grade-navi .swiper-slide.swiper-slide-thumb-active::after {z-index: 9; position: absolute;top: calc(98vw / 7.2);right: -1%;transform: translateX(-50%);width: calc(41vw / 7.2);height: calc(46vw / 7.2); display: block;content: '';background: url("https://russeldata.megastudy.net/campus/images/russel/m_russel/intro/2024/summer/ico_cursor.png") no-repeat 0 0;background-size: cover;}
.grade-slide{border-radius: calc(40vw/7.2); border: 1px solid #E8E8E8;}
.grade-slide .swiper-slide { background: #F9FAFD;display: flex; width: calc(600vw/7.2); padding: calc(120vw/7.2) 0px calc(61vw/7.2) 0px; flex-direction: column; align-items: center; gap: calc(34vw/7.2); box-sizing: border-box;}

.grade-slide .swiper-slide .tit{color: #111;text-align: center;font-size: calc(34vw/7.2);font-weight: 700; line-height: 1.3;letter-spacing: -1px;}
.grade-slide .swiper-slide .dot-blue li{line-height: 1; position: relative;color: #555;font-size: calc(30vw/7.2);letter-spacing: -1px; margin-bottom: calc(20vw/7.2); text-align: left;}
.grade-slide .swiper-slide .dot-blue li:last-child{margin-bottom: 0;}
.grade-slide .swiper-slide .dot-blue li::before{width: calc(7vw/7.2); height: calc(7vw/7.2); position: absolute; top:calc(13vw/7.2); left: calc(-20vw/7.2);content: ''; background:var(--blue-color); border-radius: 999px;}
/* //학년별 탭슬라이드 */

/* 썸머스쿨만의방법 슬라이드 */
.method-navi{background: #fff; }
.method-navi .swiper-wrapper {justify-content:space-between;align-items: center;}
.method-navi .swiper-slide {width:calc(163vw/7.2)!important;padding:calc(29vw/7.2) 0;color:#B6B6B6;font-size:calc(26vw/7.2);font-weight:700;line-height:1.2;background:#E3E3E3;box-sizing:border-box;letter-spacing: -1px;border-top-left-radius:10px; border-top-right-radius:10px}
.method-navi .swiper-slide:last-child {border-right:0;}
.method-navi .swiper-slide-thumb-active {color:#fff;background:var(--blue-color);}

.method-navi.core .swiper-wrapper {display:flex;flex-wrap:wrap;justify-content:space-between;}
.method-navi.core .swiper-slide {padding:15px 0;width:calc(219vw/7.2) !important}
.method-navi.core .swiper-slide:first-child {width:calc(330vw/7.2) !important}
.method-navi.core .swiper-slide:nth-child(2) {width:calc(330vw/7.2) !important;border-right:0;border-bottom:1px solid #2A2A2A;border-top-right-radius:10px}
.method-navi.core .swiper-slide:last-child {border-radius:0;}

.method-slide .swiper-slide {background: #fff;position:relative;display: flex;justify-content: center;flex-direction: column;align-items: center; padding: calc(74vw / 7.2) calc(30vw/7.2) calc(60vw/7.2) calc(30vw/7.2);}
.method-slide .swiper-slide .tit {font-size:calc(34vw/7.2);line-height:1;letter-spacing:-0.5px; text-align: center; color: #111;font-weight:700}
.method-slide .swiper-slide .dc-txt{color: #666; text-align: center;font-size:calc(30vw/7.2);line-height:1.5;letter-spacing:-0.5px; margin: calc(24vw/7.2) auto calc(44vw/7.2) auto;}
.method-slide .swiper-slide .dc-img{width: calc(600vw/7.2); margin: 0 auto;}


/* 바자관 슬라이드 */
.cont05{position: relative;}
.cont05 .r-txt {color:#999;opacity:1;margin-top: calc(20vw/7.2); font-size: calc(22vw/7.2); text-align: right; width: 90%;}
.studyHall-navi{border-top-left-radius:10px;border-top-right-radius:10px; background-color: #C0C0C0;}
.studyHall-navi .swiper-wrapper {justify-content:space-between; background-color: #D3D3D3; align-items: center;}
.studyHall-navi .swiper-slide {width:calc(163vw/7.2)!important;height: calc(118vw/7.2); color:#EBEBEB;font-size:calc(26vw/7.2);font-weight:700;line-height:1.2;background:#C0C0C0;box-sizing:border-box;letter-spacing: -1px; display: flex; justify-content: center; align-items: center; }
.studyHall-navi .swiper-slide:last-child {border-right:0; }
.studyHall-navi .swiper-slide-thumb-active {color:#010101;background:#FFF}

.studyHall-navi.core .swiper-wrapper {display:flex;flex-wrap:wrap;justify-content:space-between;}
.studyHall-navi.core .swiper-slide {padding:15px 0;width:calc(219vw/7.2) !important}
.studyHall-navi.core .swiper-slide:first-child {width:calc(330vw/7.2) !important; margin-bottom: 1px;}
.studyHall-navi.core .swiper-slide:nth-child(2) {width:calc(331vw/7.2) !important;border-right:0;border-top-right-radius:10px; margin-bottom: 1px;}
.studyHall-navi.core .swiper-slide:last-child {border-radius:0;}

.studyHall-slide .swiper-slide {background: #fff;position:relative;display: flex;justify-content: center;flex-direction: column;align-items: center; padding: calc(64vw / 7.2) calc(30vw/7.2) calc(60vw/7.2) calc(30vw/7.2);}
.studyHall-slide .swiper-slide .tit {font-size:calc(34vw/7.2);line-height:1.3;letter-spacing:-0.5px; text-align: center; color: #111;font-weight:700}
.studyHall-slide .swiper-slide .dc-txt{color: #666; text-align: center;font-size:calc(30vw/7.2);line-height:1.5;letter-spacing:-0.5px; margin: calc(26vw/7.2) auto calc(44vw/7.2) auto; word-break: keep-all; overflow-wrap;}
.studyHall-slide .swiper-slide .dc-img{width: calc(600vw/7.2); margin: 0 auto;}

/* 인트로 인터뷰 */
.review-box{width: calc(600vw/7.2); margin: calc(30vw/7.2) auto 0 auto;border-radius: 8px; background: #F5F5F5; padding: calc(50vw/7.2) calc(40vw/7.2); box-sizing: border-box;}
.review-box .cont-txt{color: #3E3E3E; font-size: calc(30vw/7.2); line-height: 1.5; letter-spacing: -0.6px; text-align: left; word-break: keep-all; overflow-wrap;} 
.b-review{display: flex; gap: calc(20vw/7.2); margin-top: calc(24vw/7.2);}
.b-review .stu-img{width: calc(90vw/7.2); height: calc(90vw/7.2);}
.b-review .result-txt{color: #222;font-size: calc(30vw/7.2);font-weight: 700;line-height: 1.5;letter-spacing: -1.2px;text-align: left;}
.b-review .source-txt{color: #959595;font-size: calc(22vw/7.2);font-weight: 400;line-height: 1;letter-spacing: -0.44px;text-align: left; margin-top: calc(10vw/7.2);}


/*cont04-1*/
.cont04-1 {background: #C4DFFF;}
.special-slide-navi {overflow:visible;height:calc(120vw/7.2);}
.special-slide-navi .swiper-wrapper {justify-content:space-evenly}
.special-slide-navi .swiper-slide {box-sizing: border-box;position:relative;display:flex;justify-content:center;align-items:center;width:33.3%;color: rgba(255, 255, 255, 0.55);font-size:calc(30vw / 7.2);font-weight:bold;line-height:1.2;letter-spacing:-1px;border-right:1px solid #DCDCDC; background: #C0C0C0;}
.special-slide-navi .swiper-slide-thumb-active {color:#fff;background:#0465F8}
.special-slide-navi .swiper-slide:first-of-type {border-radius:10px 0 0 0;}
.special-slide-navi .swiper-slide:last-of-type {border-right:none;border-radius:0 10px 0 0}
.special-slide .swiper-slide {background: unset;padding: unset;}
.special-slide .swiper-slide img {will-change: transform;  backface-visibility: hidden;  transform: translateZ(0);}

.special-slide .swiper-slide > div {position: relative;}
.special-slide .swiper-slide > div > a {position: absolute;bottom: calc(79vw / 7.2);left: calc(29vw / 7.2);width: calc( 600vw / 7.2);height: calc(600vw / 7.2);}

.layer-tt {display:none;overflow-y:scroll;position:fixed;left:5%;top:50%;z-index:11;width:90%;max-height:560px;padding:20px 5%;background:#FFF;border-radius:10px;transform:translateY(-50%);box-sizing:border-box;z-index:13;text-align:center;}
.layer-tt.on {display:block;}
.layer-tt .bt-close-tt {position:absolute;top:12px;right:0;width:10%;height:10%;font-size:0;color:transparent;text-indent:-9999px;}
.layer-tt .bt-close-tt img {width:16px;height:auto;}
.layer-tt.on + .mask-bg.type02 {z-index:11 !important;display:block !important;}







/* ==cont05======================================= */
.cont05{background: #0465F8;}
/*단과 리스트*/
.danka-list {padding: 0 3%;box-sizing: border-box;}
.danka-list ul {display: flex;flex-wrap: wrap;justify-content: space-between;gap: calc(18vw / 7.2);margin-bottom: calc(60vw / 7.2);}
.danka-list ul li {display: flex;flex-direction: column;justify-content: center;background: #eeeeee;color: #111111;line-height: 1.5;letter-spacing: -2px;border-radius: 15px;width: calc(51.3% - calc(18vw / 7.2));height: calc(207vw / 7.2); text-align: center;font-size: calc(30vw / 7.2);box-sizing: border-box;position: unset;padding: 0;border-top: 0;}
.danka-list ul li strong {font-weight: bold;letter-spacing: -2px;}
.danka-list ul.narrow li:nth-child(-n+2) {padding: calc(21vw / 7.2) 0 calc(21vw / 7.2);}


/* 선생님 롤링 슬라이드 */
.teacher-rolling {overflow:initial;}
.teacher-rolling .swiper-wrapper {transition-timing-function: linear;}
.teacher-rolling .swiper-slide {width:28%!important;}
.teacher-rolling .swiper-slide:nth-of-type(2n) {padding-top:10%}
.teacher-rolling .swiper-slide .t-name {margin-bottom:10px;text-align: left;}
.teacher-rolling .swiper-slide .t-name dt {display:flex;align-items:flex-end;height:30px;color:#202020;font-size:1.1rem}
.teacher-rolling .swiper-slide .t-name .flag {display:flex;align-items:center;}
.teacher-rolling .swiper-slide .t-name .flag span {overflow:hidden;display:inline-block;margin-left:5px;padding:0 8px;height:18px;line-height:18px;color:#fff;border-radius:15px;background:#1090ab}
.teacher-rolling .swiper-slide .t-name .flag .new {background:#8946bd;}
.teacher-rolling .swiper-slide .t-name dd {font-size:1.3rem !important;color: #202020;}
.teacher-rolling .swiper-slide .t-name dd strong {font-size:1.3rem !important;color: #202020;}
.teacher-rolling .swiper-slide .t-img {overflow:hidden;display:flex;align-items: flex-end;justify-content:center;height:43vw;line-height:0;box-shadow: 3px 3px 10px rgba(1, 1, 1, .2);background-color:#CAE6F0}

.summer-wrap .teacher-wrap .teacher-sub-list li {width:53% !important}
.summer-wrap .teacher-wrap .teacher-sub-list .t-sub {letter-spacing:-1px}
.summer-wrap .teacher-wrap .teacher-sub-list .pic {background:#CAE6F0}

/*학원별 CSS 변경*/
.core_dj .teacher-rolling .teacher-sub-list .swiper-slide:nth-of-type(2n) {padding-top:0%}
.russel_gn .teacher-rolling .swiper-slide img {width:100%;height:100%}
.russel_us .teacher-sub-list .info-box {height:80px !important;}

/* ==cont06======================================= */
.cont06{background: #59D4DD; position: relative;}
.cont06 .r-txt {color:#AAA;opacity:1;margin-top: calc(22vw/7.2); font-size: calc(22vw/7.2); text-align: right; width: 100%;}
.cont06::after{content: ''; position: absolute; bottom:0;right:calc(16vw/7.2); z-index: 2;background: url(https://russeldata.megastudy.net/campus/images/russel/m_russel/intro/2025/summer/obj_tree.png) no-repeat center top; width: calc(127vw/7.2); height: calc(117vw/7.2); background-size: cover;}

.manage-slide-navi {overflow:visible;height:calc(100vw/7.2);}
.manage-slide-navi .swiper-wrapper {justify-content:space-evenly}
.manage-slide-navi .swiper-slide {box-sizing: border-box;position:relative;display:flex;justify-content:center;align-items:center;width:33.3%;color: rgba(255, 255, 255, 0.55);font-size:calc(30vw / 7.2);font-weight:bold;line-height:1.2;letter-spacing:-1px;border-right:1px solid #DCDCDC; background: #C0C0C0;}
.manage-slide-navi .swiper-slide-thumb-active {color:#fff;background:#1473E6}
.manage-slide-navi .swiper-slide:first-of-type {border-radius:10px 0 0 0;}
.manage-slide-navi .swiper-slide:last-of-type {border-right:none;border-radius:0 10px 0 0}

.manage-slide .swiper-wrapper > .swiper-slide {background: #fff;padding: calc(60vw / 7.2) calc(30vw / 7.2);box-sizing: border-box;}

.manage-slide .swiper-slide {background: unset;padding: unset;}
.manage-slide .swiper-slide .stit{color: #111; font-size: calc(34vw/7.2);font-weight: 700; line-height: 1.3; margin-top: calc(50vw/7.2); letter-spacing: -2px;}

.manage-slide .swiper-pagination {bottom: calc(90vw / 7.2);}
.manage-slide .swiper-pagination-bullet {width: calc(18vw / 7.2); height: calc(18vw / 7.2); border-radius: 50px;}
.manage-slide .swiper-pagination-bullet-active {background: var(--key-color);width: calc(46vw / 7.2);}

.manage-slide .swiper-slide .list-wrap{display: flex; justify-content: center;}
.manage-slide .swiper-slide .list-dot {margin:calc(26vw / 7.2) 0 0 0; display: flex; flex-direction: column; word-break: keep-all; }
.manage-slide .swiper-slide:nth-of-type(2) .r-txt{text-align: left;margin:calc(18vw / 7.2) 0 0 calc(117vw/7.2);}
.manage-slide .swiper-slide:nth-of-type(3) .r-txt{text-align: left;margin:calc(18vw / 7.2) 0 0 calc(90vw/7.2);}


.manage-slide .swiper-slide .list-dot li {padding-left:calc(20vw/7.2); line-height: 1.5; font-size:calc(30vw / 7.2);letter-spacing:-0.075em;color: #656565;}
.manage-slide .swiper-slide .list-dot li:not(:last-of-type) {margin-bottom:calc(7vw/7.2);}
.manage-slide .swiper-slide .list-dot li::after {top:calc(-4vw/7.2); left:0;color:var(--blue-color); font-size: calc(34vw/7.2);}

.cont06 .plan-box{display: flex; gap: calc(12vw/7.2);flex-direction: column; margin-top: calc(40vw/7.2);}
.cont06 .plan-box dl{border-radius: 10px; background: #EEF5FF; align-items: center; padding: calc(24vw/7.2) calc(12vw/7.2) calc(24vw/7.2) 0px;display: flex; }
.cont06 .plan-box dl dt{font-size: calc(26vw/7.2); color: var(--blue-color);font-weight: 700; line-height: 1;letter-spacing: -1.3px; width: calc(135vw/7.2);}
.cont06 .plan-box dl dd{font-size: calc(25vw/7.2); color: #666;letter-spacing: -1.25px; line-height: 1;}
.cont06 .plan-box dl dd strong{font-weight: 700; color: #222;}


/* ==cont07======================================= */
.cont07 {background: #fff;}
.cont07 .inner {position: relative;}

.danka-box{ margin: calc(70vw/7.2) 0 calc(40vw/7.2) 0;}
.danka-box:last-child{margin-bottom: 0;}
.danka-box .txt-box{overflow: hidden;display:block;text-align:center;border-top: 1px solid #cccccc; border-left: 1px solid #cccccc; border-right: 1px solid #cccccc; border-radius: calc(20vw/7.2) calc(20vw/7.2) 0px 0px; padding: calc(60vw/7.2) calc(50vw/7.2) 0 calc(50vw/7.2); box-sizing: border-box;}
.danka-box .txt-box > p:first-child {color:#777;font-size:calc(26vw/7.2);font-weight:500; line-height: 1.2;}
.danka-box .txt-box > p > strong {color:var(--blue-color);font-size:calc(36vw/7.2);font-weight:900;line-height: 1;margin-top: calc(10vw/7.2);display: block;}
.danka-box .danka-btn {position:relative;display:flex;justify-content:space-around;align-items:center;background:var(--blue-color); border-radius: 0px 0px calc(20vw/7.2) calc(20vw/7.2);}
.danka-box .danka-btn a {color:#FFF;font-size:calc(28vw/7.2); font-weight: 700; line-height: 1; display: block;padding:13px 0 14px; width: 100%; position: relative;}
.danka-box .danka-btn a:nth-of-type(2)::before{content: ''; width: 1px; height: 100%; background-color: #fff; display: block; position: absolute; top:0; left:0;}

.list-check {text-align:left;width:fit-content;padding: calc(24vw/7.2) 0 calc(50vw/7.2) 0;}
.list-check li {position:relative;padding-left:calc(42vw/7.2);color:#666;font-size:calc(24vw/7.2);word-break: keep-all;letter-spacing:-1px; margin-bottom: 0;}
.list-check li:not(:last-of-type) {margin-bottom: calc(12vw/7.2);}
.list-check li::before {content:'';position:absolute;left:0;top:3px;display:block;width:calc(24vw/7.2);height:calc(25vw/7.2);background-size:cover!important;background:url("https://russeldata.megastudy.net/campus/images/russel/m_russel/intro/2025/summer/ico_check.png") 0 0 no-repeat;}


/* ==cont08======================================= */
.cont08 {background: #F5F5F5;}
.cont08 .r-txt {color:rgba(0, 0, 0, 0.45);opacity:1;margin-top: calc(22vw/7.2); font-size: calc(22vw/7.2); text-align: right; width: 100%; line-height: 1.4; width: 97%;}
/* 인디케이터 */
.ct-slide.swiper-container-horizontal>.swiper-pagination-bullets {background-color:#CCC;height:calc(12vw / 7.2);border-radius:100px;margin: 0 auto;width:94%;left: 50%; top:0; transform: translateX(-53%); position: relative; margin-top: calc(40vw/7.2);}
.ct-slide.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {margin:0 0 12px;width:10%;border-radius:100px;background-color:transparent;height:calc(12vw / 7.2)}
.ct-slide.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {background-color:#222}

/*하단 문구*/
.btm-banner {background: #4497FD;color: #fff;text-align: center;font-size: calc(38vw / 7.2);font-weight: 700;padding: calc(56vw / 7.2) calc(30vw / 7.2);letter-spacing: -0.38px; line-height: 1.5;}